<div class="rt-info" *ngIf="showComponent">
    <div class="info-wr">
        <div class="info-job">
            <span class="rt-grey">ДОЛЖНОСТЬ</span>
            <span class="rt-black">{{department.FULLNAME || department.DUTY || 'Не указана'}}</span>
        </div>
        <div class="info-pfone">
            <span class="rt-grey">ТЕЛЕФОН</span>
            <span class="rt-black">{{department.PHONE || 'Не указан'}}</span>
        </div>
        <div class="info-mail">
            <span class="rt-grey">E-MAIL</span>
            <a *ngIf='department.E_MAIL' href="mailto:department.E_MAIL">{{department.E_MAIL}}</a>
            <span class="rt-black" *ngIf='!department.E_MAIL' >Не указан</span>
        </div>
    </div>
    <ng-content ></ng-content>
</div>
