
<div class="eos-calendar-form">
    <div class="form-group">
        <div class="inline">


            <!-- <bs-datepicker-container #datepicker></bs-datepicker-container> -->
            <!-- <bs-datepicker-inline
                id="bsdatp"
                [bsValue]="bsInlineValue"
                [bsConfig]="bsDatepickerCfg"
                (bsValueChange)="onDateChange($event)"
                (mousemove)="onDataMouseMove($event)"
                >
            </bs-datepicker-inline> -->

            <eos-datepicker-inline
                #datepicker
                [bsValue]="selectedDate"
                [getClassForDate]="getClassForDate.bind(this)"
                (bsValueChange)="onDateChange($event)"
            >
            </eos-datepicker-inline>


        </div>
        <div class="inline">
            <div class="form-group">
                <eos-dynamic-input [input]="inputs[0]"
                class="date-field-input"
                [form]="form"
                [hideLabel]="true"
                [viewOpts]="{ hidePicker: true }"
                [readonly]="false"></eos-dynamic-input>

                <button class="date-field-btn abutton btn btn-primary-full" (click)="setToday()">Сегодня</button>

                <eos-dynamic-input [input]="inputs[1]"
                [form]="form"
                [hideLabel]="true"
                [readonly]="false"></eos-dynamic-input>

            </div>
            <button class="abutton btn btn-primary-full" (click)="onSave()">Сохранить</button>
            <button class="abutton btn btn-primary-full" (click)="onClear()">Очистить</button>
        </div>

    </div>
</div>



