<div *ngIf="inputs">
    <div>
        <span class="set-header bold">Внешние адресаты</span><br><br>
    </div>
    <div class="user-group-form">
        <span>При добавлении указывать:</span><br><br>
        <div class="inputs-inline">
            <span class="input-title">Вид отправки:</span>
            <eos-dynamic-input [ngStyle]="{'width':'315px'}" [input]="inputs[ 'rec.RS_OUTER_DEFAULT_DELIVERY'] " [form]="form " [readonly]="false "></eos-dynamic-input>
        </div>
        <div class="inputs-inline" *ngIf="cBase">
            <eos-dynamic-input class="inline-radio" [input]="inputs[ 'rec.RS_OUTER_DEFAULT_SENDING_TYPE']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
    </div>
    <div class="user-input-group">
        <div class="send-from"> <!-- *ngIf="cBase" -->
            <div class="send-from-title">
                <span>Отправить из:</span>
            </div>
        <span class="">
            <input [disabled]='!flagEdit' placeholder="..." readonly type="text " name="sendFrom " [ngModel]="sendFrom" class="send-for-dep">
        </span>
            <span class="send-from-btn-choose ">
            <button
                [disabled]="!flagEdit"
                class="btn btn-primary-light "
                tooltip="Выбор из справочника "
                triggers="hover "
                [containerClass]="isCurrentSettings ? 'tooltip-info-current' : 'tooltip-info'"
                (click)="sendFromChoose() ">
                <span class="eos-icon eos-icon-folder-blue small "></span>
            </button>
            </span>
            <span class=" ">
            <button
                [disabled]="!flagEdit"
                tooltip="Очистить "
                #tooltipTemp = 'bs-tooltip'
                [containerClass]="isCurrentSettings ? 'tooltip-info-current' : 'tooltip-info'"
                class="btn btn-primary-light "
                (click)="clearSendFrom() ">
                <span class="eos-icon eos-icon-close-blue small "></span>
            </button>
            </span>
        </div>
    </div>
    <div class="user-group-form" *ngIf="flagInternalAdr">
        <p class="the-main-recipients-of-the-document-titles ">Внутренние адресаты</p>
        <span>При добавлении указывать экземпляр документа в АРМ «ДелоWeb»:</span>
        <eos-dynamic-input class="margin-curent-input" [input]="inputs[ 'rec.RS_INNER_DEFAULT_ORIG'] " [form]="form " [readonly]="false "></eos-dynamic-input>
    </div>
    <div class="user-input-group ">
        <eos-dynamic-input [input]="inputs[ 'rec.RS_INNER_FILL_SEND_DATE'] " *ngIf="flagInternalAdr" [form]="form " [readonly]="false "></eos-dynamic-input>
        <eos-dynamic-input [input]="inputs[ 'rec.GPD_FLAG'] " [form]="form " [readonly]="false "></eos-dynamic-input>
        <eos-dynamic-input [input]="inputs[ 'rec.VOL_FLAG'] " [form]="form " [readonly]="false "></eos-dynamic-input><br>
        <!-- @task165408 удаление настроек толстяка
        <div [hidden]="appMode.arm">
            <span>При добавлении учитывать экземпляр документа в приложении Документы:</span>
            <br>
            <eos-dynamic-input [input]="inputs[ 'rec.MARKDOCKND1'] " [form]="form " [readonly]="false "></eos-dynamic-input>
        </div>
        -->
    </div><br>
</div>
<!-- <div *ngIf="flagBacground " class="bacgrFixed "></div> -->
