<header>
	<div>
		<span class="primary-text">Управления настройками пользователей</span>
	</div>
	<button class="btn btn-primary-light" aria-hidden="true" (click)="close()" tooltip="Закрыть" placement="bottom" container="body" containerClass="tooltip-info">
		<span class="eos-icon eos-icon-close-blue small"></span>
	</button>
</header>
<main *ngIf="!isLoading; else spiner">
  	<div [formGroup]="formCopy" class="inline-block base-department-input">
      	<label [attr.for]="inputsManage['USER_COPY'].key">{{inputsManage['USER_COPY'].label}}</label>
      	<div class="copy-user-wr" style="width: 460px">
          	<input class="form-control m-font inline-block" readonly [formControlName]="inputsManage['USER_COPY'].key" [id]="inputsManage['USER_COPY'].key" type="text" [placeholder]="inputsManage['USER_COPY'].label" autocomplete="off">
			  <span class="icon eos-icon eos-icon-avatar-blue small icon-add-department" (click)="selectUser()" [ngStyle]="{'margin-right': !formCopy.value['USER_COPY'] ? '0px' : '28px'}"></span>
			  <a [ngClass]="{'hide': !formCopy.value['USER_COPY']}" (click)="cleanUser()"><span class="eos-icon eos-icon-close-blue small"></span></a>
      	</div>
  	</div>
	  	<div class="container-settings">
			<div class="container-param-check">
				<div class="group-close">
					<eos-dynamic-input class="pad-par-copy" [input]="inputsManage['1']" [form]="formCopy"></eos-dynamic-input>
					<eos-dynamic-input class="pad-par-copy" [input]="inputsManage['2']" [form]="formCopy" [disabled]="!formCopy.controls['1'].value"></eos-dynamic-input>
					<eos-dynamic-input class="pad-par-copy" [input]="inputsManage['3']" [form]="formCopy"></eos-dynamic-input>
					<eos-dynamic-input class="pad-par-copy" [input]="inputsManage['4']" [form]="formCopy" [disabled]="!formCopy.controls['3'].value"></eos-dynamic-input>
				</div>
				<div class="group-middle">
					<eos-dynamic-input [input]="inputsManage['5']" [form]="formCopy"></eos-dynamic-input>
					<eos-dynamic-input [input]="inputsManage['6']" [form]="formCopy"></eos-dynamic-input>
					<eos-dynamic-input [input]="inputsManage['7']" [form]="formCopy"></eos-dynamic-input>
					<eos-dynamic-input [input]="inputsManage['8']" [form]="formCopy"></eos-dynamic-input>
					<eos-dynamic-input [input]="inputsManage['9']" [form]="formCopy"></eos-dynamic-input>
				</div>
			</div>
			<div>
				<button
					class="btn btn-copy"
					(click)="copySettings()"
					[disabled]="!disabledCopy"
					[ngClass]="{'btn-primary': disabledCopy, 'btn-light': !disabledCopy}"
				>Скопировать</button>
			</div>
		</div>
		<hr>
		<div class="container-settings">
			<div class="container-param-check btn-rights-cut">
				<div class="group-close">
					<eos-dynamic-input class="pad-par-copy" [input]="inputsCut['1']" [form]="formCut"></eos-dynamic-input>
					<eos-dynamic-input class="pad-par-copy" [input]="inputsCut['2']" [form]="formCut"></eos-dynamic-input>
				</div>
			</div>
			<div>
				<button
					class="btn btn-copy"
					(click)="cutRights()"
					[disabled]="!disabledCutRights"
					[ngClass]="{'btn-primary': disabledCutRights, 'btn-light': !disabledCutRights}"
				>Снять права</button>
			</div>
		</div>
	</main>

<div *ngIf="isShell" class="shell"></div>

<ng-template #spiner>
	<div class="spiner-div">
		<eos-spinner size="lg"></eos-spinner>
	</div>
</ng-template>
