<header>
	<div>
		<span class="primary-text">Управления настройками пользователей</span>
	</div>
	<button class="btn btn-primary-light" aria-hidden="true" (click)="close()" tooltip="Закрыть" placement="bottom" container="body" containerClass="tooltip-info">
		<span class="eos-icon eos-icon-close-blue small"></span>
	</button>
</header>
<main *ngIf="!isLoading; else spiner">
  	<div [formGroup]="form" class="inline-block base-department-input">
      	<label [attr.for]="inputs['USER_COPY'].key">{{inputs['USER_COPY'].label}}</label>
      	<div style="width: 460px">
          	<input class="form-control m-font inline-block" readonly [formControlName]="inputs['USER_COPY'].key" [id]="inputs['USER_COPY'].key" type="text" [placeholder]="inputs['USER_COPY'].label" autocomplete="off">
          	<span class="icon eos-icon eos-icon-avatar-blue small icon-add-department" (click)="selectUser()"></span>
      	</div>
  	</div>
	  <div class="container-settings">
		<div class="container-param-check">
			<div class="group-close">
				<eos-dynamic-input class="pad-par-copy" [input]="inputs['1']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input class="pad-par-copy" [input]="inputs['2']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input class="pad-par-copy" [input]="inputs['3']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input class="pad-par-copy" [input]="inputs['4']" [form]="form"></eos-dynamic-input>
			</div>
			<div class="group-middle">
				<eos-dynamic-input [input]="inputs['5']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input [input]="inputs['6']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input [input]="inputs['7']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input [input]="inputs['8']" [form]="form"></eos-dynamic-input>
				<eos-dynamic-input [input]="inputs['9']" [form]="form"></eos-dynamic-input>
			</div>
			
		</div>
		<div>
		<button
			class="btn btn-copy"
			(click)="copySettings()"
			[disabled]="!disabledCopy"
			[ngClass]="{'btn-primary': disabledCopy, 'btn-light': !disabledCopy}"
		>Скопировать</button>
		</div>
  	</div>
</main>

<div *ngIf="isShell" class="shell"></div>

<ng-template #spiner>
	<div class="spiner-div">
		<eos-spinner size="lg"></eos-spinner>
	</div>
</ng-template>
