<div class="user-group-form">
    <span>Отправлять сообщения:</span>
    <eos-dynamic-input
        [input]="inputs['rec.ARM_SEV_DLG']"
        [form]="form"
        [readonly]="false"
    ></eos-dynamic-input><br>
    <eos-dynamic-input
        [input]="inputs['rec.SEV_HIDE_SENDING']"
        [form]="form"
        [readonly]="false"
    ></eos-dynamic-input><br>
    <eos-dynamic-input
        [input]="inputs['rec.SEV_ALLOW_DELIVERY']"
        [form]="form"
        [readonly]="false"
    ></eos-dynamic-input>
</div>
