.dropdown-content a:hover {background-color: #e3f2fd;}

.menuitem div.dropdown-prot:hover .dropdown-content {display: block !important;}
.close-header{
    position: absolute;
    right: 0;
    top: 10px;
    height: 49px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .content-right {
    left: 207px;
    top: 0px;
  }
  .content-left {
    left: -200px;
    top: 0px;
  }
  .drop-rigth {
    position: absolute;
    left: 179px;
    top: 13px;
  }
  .drop-left {
    position: absolute;
    left: 0px;
    top: 13px;
    transform: rotate(180deg);
  }
  .menuitem div.dropdown-prot  {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  .menuitem-prot{
    line-height: 24px;
    padding-left: 20px !important;
  }
  .more-prot {
    position: static;
    top: 11px;
    min-width: 210px;
    .menuitem {
        .dropdown-item {
            padding: 0 20px !important;
            span {
                font-size: 18px;
            }
        }
    }
  }
