.list-selector-form {
    &.modal-form {
        width: 600px;
    }

    .list-selector-wapper {

        .dnd-bag {
            border: 1px solid lightgray;
            height: 200px;
            overflow: auto;
            .item {
                padding-left: 20px;
                padding-right: 20px;
                cursor: grab;
                &.gu-transit {
                    display: block;
                    width: 100%;
                    background-color: #e3f2fd;
                }
            }
        }

        // .footer-buttons {
        //     border-top: 1px solid lightgray;
        //     height: 32px;
        // }
    }
}
