<div class="input-user-wrapper input-user-directories-wrapper" *ngIf="inputs">
    <eos-user-params-header [editMode]="flagEdit" [title]='titleHeader' [errorSave] = "!getMaxIncrement" [disableBtn]="btnDisable" [errorSave] = "!this.getMaxIncrement" [defaultBtn]='true' (submitEmit)='submit($event)' (cancelEmit)='cancel($event)' (editEmit)='edit($event)' (defaultEmit)='default($event)'></eos-user-params-header>
    <div class="input-user-search-wrapper">
        <div class="user-group-form">
            <div class="number-increment-wrap">
                <span>Отображать в результатах поиска максимальное количество записей:</span>
                <eos-dynamic-input [input]="inputs['rec.SRCH_LIMIT_RESULT']" [form]="form" [readonly]="!flagEdit"></eos-dynamic-input>
            </div>
        </div>
        <div>
            <span>Картотека для поиска РК по умолчанию:</span>
            <eos-dynamic-input [input]="inputs['rec.SEARCH_CONTEXT_CARD_EMPTY']" [form]="form"></eos-dynamic-input>
        </div>
    </div>
</div>
