.input-user-search-wrapper {
    label {
        font-size: 12px;
    }

    .inline-block {
        display: inline-block;
    }

    .select-wrap {
        margin-left: 10px;
        margin-right: 40px;
    }

    .number-increment-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > span{

            margin-right: 10px;
        }
    }

    .label-input-increment {
        display: block;
        margin-bottom: -4px;
    }

    .select-wrap, .number-increment-wrap {

        .form-group {
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 15px;
    }

    .elem-input-radio {
        font-size: 14px;
        display: inline-block;
        margin-right: 30px;
    }

    .param-input-group-section {
        padding-left: 30px;

        .elem-input-radio {
            margin-right: 90px;
        }
    }
}
