.contain-span{
    display: flex;
    justify-content: space-around;
}
.full-search-sum {

    .title {
        height: 48px;
        line-height: 48px;
        margin-left: 20px;
    }
    .srch-btns {
        margin: 8px 15px 8px 0;
        font-size: 0;
        .btn {
            width: 82px;
            margin: 0px 5px;
        }
    }
}
.contain-span{
    display: flex;
    justify-content: space-around;
    width:81%;
}
.contain-span-header{
    display: flex;
    justify-content: space-around;
    width:100%;
}
.item-table{
    line-height: 46px;
}

.pad-right-item{
    padding-right: 20px;
}
.pad-left-title1{
    padding-left: 17px;
}
.pad-left-title2{
    padding-left: 110px;
}
.pad-left-title3{
    padding-left: 61px;
}
.filter-protocol{
    padding-right: 65px;
}

