<div class="user-system">
        <ng-container [ngSwitch]="userId">
            <ng-container *ngSwitchCase="'card-files'">
                <eos-rights-delo-card-files
                (formChanged)="recordChanged($event)"
                (formInvalid)="turnOffSave($event)"
                [btnDisabled]="!isChanged || disableSave">
                </eos-rights-delo-card-files>
            </ng-container>
            <ng-container *ngSwitchCase="'absolute-rights'">
                <eos-rights-delo-absolute-rights>
                </eos-rights-delo-absolute-rights>
            </ng-container>
            <ng-container *ngSwitchCase="'card-index-rights'">
                    <eos-rights-delo-card-index-rights>
                    </eos-rights-delo-card-index-rights>
                </ng-container>
                <ng-container *ngSwitchCase="'access-limitation'">
<eos-right-limited-access></eos-right-limited-access>
                </ng-container>

        </ng-container>
</div>
