<div  class="input-user-side-doc-group-in-file-card" *ngIf="!isLoading">
        <div *ngFor="let item of listCards"
        class="right-classif-node">
            <div [formGroup]="form">
            <label class="checkbox classif-list-tech-user" (click)="checkedNode($event, item)">
                <input type="checkbox"
                hidden
                [formControlName]="item.key"
                [id]="item.key" />
                <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                    </span>
                    {{item.label}}
            </label>
        </div>
        </div>
    </div>
    
    <div *ngIf="isShell" class="shell"></div>