.input-param-files-wrapper {
    .param-input-group {

        .input-radio-files {
            .elem-input-radio {
                display: inline-block;
                margin-right: 18px;
            }
        }

        .margin-bottom {
            margin-bottom: -15px;
        }

        .margit-r-radio {
            margin: 0 30px 0 15px;
        }
    }

    .formAttach {
        .attach-checkbox {
            margin: 0 30px;
        }
    }
}
