<div class="input-user-wrapper scrollWrapper input-user-card-files-wrapper" *ngIf="card">
        <div class="cabinets-wrapper ">
            <form>
                 <select name="folders" [(ngModel)]="folders">
                 <option [attr.selected]="i === 0" *ngFor="let cabinet of card.cabinets; let i = index" [ngValue] ="cabinet">{{cabinet.name}}</option>
            </select>
            </form>
        </div>
        <div class="cabinets-folders" *ngIf="folders">
            <div class="folders-item" *ngFor="let folder of folders['folders']">
                <label class="checkbox">
                    <input type="checkbox" [checked]= "folder.selected">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                </label>
                <span class="folders-title">{{folder.name}}</span>
            </div>
        </div>
</div>
