.input-user-card-files-wrapper {
    .folders-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .cabinets-empty{
        text-align: center;
        padding-top: 10px;
        font-size: 14px;
    }
}
