.incr-scan {
    display: flex;
    align-items: flex-end;
}

.radio-form-list {
    display: flex;
}

.not-settings-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
