<div *ngIf="inputs">
     <div class="user-group-form">
          <div class="inputs-inline">
               <span class="input-title">Печать штрих-кода на:</span>
               <eos-dynamic-input
                    class="input-right"
                    [ngStyle]="{'width': '33%'}"
                    [input]="inputs['rec.TYPE_PRINT_BARCODE']"
                    [form]="form"
                    [readonly]="false"
               ></eos-dynamic-input>
               <eos-dynamic-input
               *ngIf="form.controls['rec.TYPE_PRINT_BARCODE'].value === '1'"
                    class="incr-scan"
                    [input]="inputs['rec.COUNT_PAGES_FOR_PRINT_BARCODE']"
                    [form]="form"
                    [readonly]="false"
               ></eos-dynamic-input>
          </div>
          <eos-dynamic-input
               [input]="inputs['rec.EXPLANATION_STRING_FOR_PRINT_BARCODE']"
               [form]="form"
               [readonly]="false"
            ></eos-dynamic-input>
     </div>
     <div class="user-group-form">
          <div>
               <span>Ориентация листа:</span>
          </div><br>
          <div class="radio-form-list">
               <div [ngStyle]="{'width': '45%'}">
                    <div class="type-scan-sp">
                         <span >Книжная</span>
                    </div>
                    <eos-dynamic-input
                         [input]="inputs['rec.SHABLONBARCODE']"
                         [form]="form"
                         [readonly]="false"
                    ></eos-dynamic-input>  
               </div>
               <div [ngStyle]="{'width': '45%'}">
                    <div class="type-scan-sp">
                         <span>Альбомная</span>
                    </div>
                    <eos-dynamic-input
                         [input]="inputs['rec.SHABLONBARCODEL']"
                         [form]="form"
                         [readonly]="false"
                    ></eos-dynamic-input>  
               </div>
          </div>
     </div>
     <div class="user-group-form">
          <span>Формат сохранения документа:</span>
          <eos-dynamic-input
               [ngStyle]="{'width': '45%'}"
               [input]="inputs['rec.SAVEFORMAT']"
               [form]="form"
               [readonly]="false"
          ></eos-dynamic-input>
     </div>
     <eos-dynamic-input
          [input]="inputs['rec.LOCKFILE_SSCAN']"
          [form]="form"
          [readonly]="false"
     ></eos-dynamic-input>
     <br>
</div>

