<div class="eos-rk-files card-content-wrapper">
    Ограничения на прикрепляемые файлы

    <p class="xl-font paragraph-title">Файлы РК</p>

    Мах размер
    Мбайт
    Один файл
    с расширением

    <p class="xl-font paragraph-title">Файлы поручений</p>

    Мах размер
    Мбайт
    Один файл
    с расширением

    <p class="xl-font paragraph-title">Файлы отчетов исполнителей</p>

    Мах размер
    Мбайт
    Один файл
    с расширением

    <p class="xl-font paragraph-title"></p>

    <div class="items-group clearfix">
        <div class="col-1">
        <eos-dynamic-input [input]="inputs['rec.SECURLEVEL_FILE']"
                                        [form]="form"
                                        [readonly]="!editMode" ></eos-dynamic-input>
        </div>
        <div class="col-2">
        <eos-dynamic-input [input]="inputs['rec.REF_FILE_ACCESS_LIST']"
                                        [form]="form"
                                        [hideLabel]="true"
                                        [readonly]="!editMode" ></eos-dynamic-input>
        </div>
    </div>



    UPDATE dg_file_constraint SET max_size = 2, one_file = 0, extensions = '' WHERE isn_docgroup = 3670 AND category = 'DOC_RC' AND max_size = 1 AND one_file = 0 AND extensions = ''
    UPDATE dg_file_constraint SET max_size = NULL, one_file = 0, extensions = '' WHERE isn_docgroup = 3670 AND category = 'RESOLUTION' AND max_size IS NULL AND one_file = 0 AND extensions = ''
    UPDATE dg_file_constraint SET max_size = NULL, one_file = 0, extensions = '' WHERE isn_docgroup = 3670 AND category = 'REPLY' AND max_size IS NULL AND one_file = 0 AND extensions = ''




</div>
