<div class="eos-rk-mandatory card-content-wrapper">
    <div class="clearfix">
        <!-- Рег № -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.FREE_NUM_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Дата регистрации -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.DOC_DATE_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Доступ -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.SECURLEVEL_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Срок исп. (План. дата) -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.TERM_EXEC_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Корреспондент -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.CORRESP_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input><!-- Состав
        --><eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.CONSISTS_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Доставка -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.ISN_DELIVERY_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Кому адресован -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.DOCWHO_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Содержание -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.ANNOTAT_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Адресаты -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.SND_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Картотека регистрации -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.ISN_CARD_REG_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Кабинет регистрации -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.ISN_CABINET_REG_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Файлы -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.FILE_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Рубрики -->
        <eos-dynamic-input [input]="inputs['DOC_DEFAULT_VALUE_List.RUB_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
    </div>
</div>
