<div class="eos-rk-writes card-content-wrapper">
        <!-- Срок исп. (План. дата)
        дня (дней) от исх. даты корреспондента -->
    <div class="items-group">
            <span>
            <div class="col-with-label">
                    <label>{{inputs['rec.TERM_EXEC_W'].label}}</label>
                    <eos-dynamic-input class="no-margin" [input]="inputs['rec.TERM_EXEC_W']"
                                        [form]="form"
                                        [readonly]="!editMode" ></eos-dynamic-input>
            </div>
            <!-- <div class="col-2"> -->
                <label>дня (дней) от исх. даты корреспондента</label>
            </span>
            <!-- </div> -->
    </div>

    <!-- Переслать РК (Журнал пересылок РК) -->
    <p class="xl-font paragraph-title"></p>
    <div class="items-group">
    <eos-dynamic-input class="no-margin" [input]="inputs['rec.FORWARD_ISN_LIST_DEP_W']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>
        <!-- По значению реквизита "Кому" (адресован) -->
    <eos-dynamic-input [input]="inputs['rec.FORWARD_WHO_W']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>

        кнопка
    </div>
    <p class="xl-font paragraph-title">Передача документов</p>
    <div class="items-group">
        <eos-dynamic-input class="no-margin" [input]="inputs['rec.JOURNAL_ISN_LIST_W']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>

    <!-- По значению реквизита "Кому" (адресован) -->
    <eos-dynamic-input class="no-margin" [input]="inputs['rec.JOURNAL_FROM_WHO_W']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>
        кнопка
    <!-- По значению Журнала пересылки РК -->
    <eos-dynamic-input class="no-margin" [input]="inputs['rec.JOURNAL_FROM_FORWARD_W']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>

        <!-- Радиобуттоны -->
    <eos-dynamic-input class="no-margin" [input]="inputs['rec.JOURNAL_PARM_W']"
        [form]="form"
        [hideLabel]="true"
        [readonly]="!editMode"> </eos-dynamic-input>
    </div>

    <p class="xl-font paragraph-title">Списать в дело</p>
    <div class="items-group">

    <!-- Списать в дело -->
    <eos-dynamic-input class="margin10" [input]="inputs['rec.JOURNAL_ISN_NOMENC_W']"
        [form]="form"
        [hideLabel]="true"
        [event1]="journalNomencClick_W"
        [readonly]="!editMode"></eos-dynamic-input>

    <!-- Радиобуттоны -->
    <eos-dynamic-input [input]="inputs['rec.JOURNAL_NOMENC_PARM_W']"
        [form]="form"
        [hideLabel]="true"
        [readonly]="!editMode"> </eos-dynamic-input>
    </div>
    <p class="xl-font paragraph-title">Картотека регистрации</p>
    <div class="items-group">
    Текущая картотека регистратора
    выбор
    Картотека первой пересылки РК
        Если журнал пересылки пуст, то:
        Текущая картотека
        выбор

    </div>
    <p class="xl-font paragraph-title">Кабинет регистрации</p>
    <div class="items-group">

    <eos-dynamic-input [input]="inputs['rec.ISN_CABINET_REG_CURR_W']"
        [form]="form"
        [hideLabel]="true"
        [readonly]="!editMode"> </eos-dynamic-input>
    <!-- Текущий кабинет регистратора
    Кабинет ДЛ первой пересылки РК

    UPDATE doc_default_VALUE SET value = '1' WHERE default_id = 'ISN_CABINET_REG_CURR_W' AND isn_docgroup = 3670
    UPDATE doc_default_VALUE SET value = '0' WHERE default_id = 'ISN_CABINET_REG_CURR_W' AND isn_docgroup = 3670  -->

    </div>
    <p class="xl-font paragraph-title">Доп. картотеки РК</p>
    <div class="items-group">

    <eos-dynamic-input [input]="inputs['fict.helper1']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>
    <eos-dynamic-input [input]="inputs['rec.CARD_ISN_W']"
        [form]="form"
        [hideLabel]="true"
        [readonly]="!editMode"> </eos-dynamic-input>

    галочка выбор
    INSERT INTO doc_default_VALUE ( default_id, isn_docgroup, value ) VALUES ( 'CARD_ISN_W', 3670, '0' )
    UPDATE doc_default_VALUE SET value = '19802' WHERE default_id = 'CARD_ISN_W' AND isn_docgroup = 3670

    INSERT INTO doc_default_VALUE ( default_id, isn_docgroup, value ) VALUES ( 'CARD_WHO_W', 3670, '1' )


    <!-- по значению реквизита "Кому (адресован) -->
    <eos-dynamic-input [input]="inputs['rec.CARD_WHO_W']"
        [form]="form"
        [readonly]="!editMode"> </eos-dynamic-input>
    </div>
    <p class="xl-font paragraph-title"></p>
    <div class="items-group">

    <span class="inline-with-label">
        Положить РК в папку:
        <!-- "На исполнение"  -->
        <eos-dynamic-input class="no-margin inline-with-label" [input]="inputs['rec.FOLDER2_DEST_W']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <eos-dynamic-input class="no-margin inline-with-label" [input]="inputs['rec.FOLDER6_DEST_W']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>

        - текущего кабинета регистратора
    </span>
    </div>


</div>
