<div class="eos-rk-default-values card-content-wrapper">
    <div class="clearfix">
        <!-- Рег № -->
        <eos-dynamic-input [input]="inputs['rec.FREE_NUM_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Дата регистрации -->
        <eos-dynamic-input [input]="inputs['rec.DOC_DATE_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Доступ -->
        <eos-dynamic-input [input]="inputs['rec.SECURLEVEL_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Срок исп. (План. дата) -->
        <eos-dynamic-input [input]="inputs['rec.TERM_EXEC_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Корреспондент -->
        <eos-dynamic-input [input]="inputs['rec.CORRESP_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input><!-- Состав
        --><eos-dynamic-input [input]="inputs['rec.CONSISTS_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Доставка -->
        <eos-dynamic-input [input]="inputs['rec.ISN_DELIVERY_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Кому адресован -->
        <eos-dynamic-input [input]="inputs['rec.DOCWHO_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Содержание -->
        <eos-dynamic-input [input]="inputs['rec.ANNOTAT_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Адресаты -->
        <eos-dynamic-input [input]="inputs['rec.SND_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Картотека регистрации -->
        <eos-dynamic-input [input]="inputs['rec.ISN_CARD_REG_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Кабинет регистрации -->
        <eos-dynamic-input [input]="inputs['rec.ISN_CABINET_REG_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Файлы -->
        <eos-dynamic-input [input]="inputs['rec.FILE_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
        <!-- Рубрики -->
        <eos-dynamic-input [input]="inputs['rec.RUB_M']"
            [form]="form"
            [readonly]="!editMode"> </eos-dynamic-input>
    </div>
</div>
