<div class="eos-dict-form">
    <div class="eos-card-wrapper">
        <header>
            <div class="edit-header" [ngClass]="{ edited: editMode }">
                <div class="move-wrapper"></div>
                <div class="name-wrapper" [ngClass]="{ edited: editMode }">
                    <span class="edit-title primary-text long-title">{{title}}</span>
                </div>
                <div class="action-wrapper">
                    <div class="pull-right">
                        <button
                            class="btn btn-primary-light"
                            aria-hidden="true"
                            (click)="close()"
                            tooltip="Закрыть"
                            placement="bottom"
                            containerClass="tooltip-info"
                        >
                            <span class="eos-icon eos-icon-close-blue small"></span>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <div class="form-card-body">
            <eos-calendar-form *ngIf="dictionaryId === 'calendar'"
                #formElement
            > </eos-calendar-form>
        </div>
    </div>
</div>
