header {
    position: relative;
    .header-wr{
        background-color: #fff;
        color: black;
        border-bottom: 1px solid #e6e6e6;
        min-height: 48px;
        text-align: left;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .title-wrapper{
            font-size: 18px;
        }
        .action-wrapper{
            min-width: 130px;
        }
        .buttons-wrapper{
            text-align: right;
            min-width: 353px;
        }

    }
    .title-wrapper {
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
        white-space: normal;
        text-overflow: ellipsis;
    }
    .buttons-wrapper{
        button {
            margin-left: 20px;
            min-width: 88px;
        }
    }
}
