<div class="doc_card_wrapper">
    <div class="addFile">
        <div class="">
            <p>Выберите файл</p>
            <button class="btn btn-primary-full" [disabled]="newFile || !editMode"
                (click)="addFileDocTemplates()">файл</button>
        </div>
        <div class="upload-file" *ngIf="newFile">
            <span><span class="eos-icon small eos-icon-checkbox-blue "></span>Файл успешно загружен</span>
            <button class="btn btn-primary-full" (click)="deleteFile()">удалить файл</button>
        </div>
    </div>
    <div class="" #dom>
        <label *ngIf="isNewRecord">
        </label>
        <eos-dynamic-input id="inputName" #inp [input]="inputs['rec.NAME_TEMPLATE']" [form]="form"
            [readonly]="!editMode">
        </eos-dynamic-input>
    </div>
    <div class="">
        <eos-dynamic-input
            [input]="inputs['rec.CATEGORY']"
            [form]="form"
            [container]="'body'"
            [readonly]="!editMode">
        </eos-dynamic-input>
    </div>
    <div class="">
        <eos-dynamic-input [input]="inputs['rec.DESCRIPTION']" [form]="form" [readonly]="!editMode"></eos-dynamic-input>
    </div>
    <div *ngIf="showDocGrList" class="doc-wr">
        <div class="doc-list">
            <span class="doc-item" (click)="(showDoc = !showDoc)">Используется в группах документов<span
                    class="eos-icon small" [ngClass]="showClass"></span></span>
        </div>
        <div *ngIf="showDoc">
            <ul>
                <span class="sort-name" (click)="sortDoc()">Название<span class="eos-icon small" [ngClass]="classSort"></span></span>
                <li *ngFor="let doc of docGroupList">{{doc.CLASSIF_NAME}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="divlock" *ngIf="upload">
    <!-- <div id="lockfade"></div>
    <div id="lockcover"></div> -->
    <div id="waitmessage">
        <eos-spinner size="lg"></eos-spinner>
        <div id="waitmessagetext">Загрузка...</div>
    </div>
</div>
