<div
*ngIf="inputs"
class="input-param-wrapper input-param-search-wrapper">
    <eos-param-header
        [title]="titleHeader"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        [statusBtnSub]="btnDisabled"
    ></eos-param-header>
    <div class="param-input-group">
        <span class="l-font">Параметры полнотекстового поиска</span>
        <hr>
        <eos-dynamic-input
            [input]="inputs['rec.INDEXKIND']"
            [form]="form"
            [readonly]="inputs['rec.INDEXKIND'].readonly"
        ></eos-dynamic-input>
        <eos-dynamic-input
            [input]="inputs['rec.INDEX_URL']"
            [form]="form"
            [readonly]="false"
        ></eos-dynamic-input>
        <div>
            <span>{{inputs['rec.INDEXTIMEOUT'].label}}</span>
            <eos-dynamic-input
                class="inline-block"
                [input]="inputs['rec.INDEXTIMEOUT']"
                [form]="form"
                [readonly]="inputs['rec.INDEXTIMEOUT'].readonly"
            ></eos-dynamic-input>
        </div>
        <eos-dynamic-input
            [input]="inputs['rec.ELNPATH']"
            [form]="form"
            [readonly]="false"
        ></eos-dynamic-input>
        <eos-dynamic-input
            [input]="inputs['rec.FULLTEXT_EXTENSIONS']"
            [form]="form"
            [readonly]="false"
        ></eos-dynamic-input>
    </div>
</div>