<div class="right-dep-list">
    <div *ngIf="!isLoading; else spiner" class="right-dep-org-list-content">
        <div *ngIf="getAllDep" class="independents-right">
            <label *ngIf="getAllDep" class="checkbox" >
                <input type="checkbox"
                       [disabled]="(!editMode || selectedNode.control.disabled)"
                       [checked]="!resolutions"
                       (change)="indepRights()">
                <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                Ограничить картотекой Автора
            </label>
        </div>
        <label *ngIf="editMode" style="text-align: center;">Должность/Подразделение</label>
        <div>
            <button *ngIf="editMode && !selectedNode.control.disabled"
                class="btn"
                tooltip="Добавить должностное лицо/подразделение"
                placement="right"
                [disabled]="checkFlag"
                triggers="hover"
                containerClass="tooltip-info"
                (click)="addDep()">
                <span class="eos-icon eos-icon-plus-blue small"></span>
            </button>
            <button *ngIf="editMode && !selectedNode.control.disabled"
                class="btn"
                tooltip="Удалить должностное лицо/подразделение"
                #itemTooltip= 'bs-tooltip'
                placement="right"
                triggers="hover"
                containerClass="tooltip-info"
                [disabled]="!selectedDep || returnDelTech()"
                (click)="itemTooltip.hide(); DeleteDep()"
            >
                <span class="eos-icon eos-icon-bin-forever-blue small"></span>
            </button>
        </div>


        <div *ngIf="selectedNode   && selectedNode.contentProp === 8">
            <label class="checkbox">
                <input type="checkbox"
                [disabled]="!editMode || selectedNode.control.disabled"
                [checked]="selectedNode.value === 2 ? true : false"
                hide
                (change)="markedSendPrj($event)">
                <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                Разрешить операцию рассылки проекта резолюции
            </label>
        </div>
        <div class="over-tree-dep resolution"
             [ngClass]="{'redact-tree': editMode,
             'redact-resolution-tree-top': selectedNode.key === '4' && editMode,
             'redact-tree-top': selectedNode.key !== '4' && editMode}"
             [ngStyle]=" {top: selectedNode.key === '4' && !editMode ? '30px': ''}">
            <div *ngIf="getAllDep">
                <label class="checkbox" >
                    <input type="checkbox"
                    [disabled]="(!editMode || selectedNode.control.disabled) || returnOgrani()"
                    [checked]="checkFlag"
                    hide
                    (change)="checkForAll()">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                    За всех
                </label>
            </div>

            <div *ngIf="!checkFlag" class="list-tree-dep">
                <eos-list-doc-tree
                    class="tree-classif-node"
                    [listNode]="listUserDep"
                    [editMode]="editMode"
                    (select)="selectNode($event)"
                    (checkedNode)="checkedNode($event)"
                ></eos-list-doc-tree>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShell" class="shell"></div>

<ng-template #spiner>
    <div class="spiner-wrapper">
            <eos-spinner size="lg"></eos-spinner>
    </div>
</ng-template>
