.param-create-user {
    margin-top: 100px;
    width: 800px;
    .log {
        display: inline-block;
    }
    main {
        background: $white;
        padding: 20px;
        eos-dynamic-input {
            font-size: 14px;
            display: inline-block;
        }
        .create-user-login-input {
            width: 675px;
            height: 81px;

            .required {
                input {
                    width: 363px;
                }
            }
        }
        .base-department-input {
            input {
                background: $light-grey-1;
                width: 363px;
                cursor: default;
            }
            .icon-add-department {
                cursor: pointer;
                display: inline-block;
                margin-left: -34px;
                margin-bottom: -7px;
            }
        }
        .base-input-role {
            input {
                width: 363px;
            }
        }
        .base-template-input {
            padding-left: 32px;
            input {
                width: 363px;
            }
        }
    }
    .shell {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
    }
    .create-user-wr {
        position: relative;
        span {
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }
    .flex-wr {
        display: flex;
        >:last-child {
            padding-left: 32px;
        }
    }
}
.spiner-div{
    padding-top: 120px;
    height: 293px;
    text-align: center;
}
.type-user {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    .type-input {
        margin-left: 32px;
        width: 405px;
        top: -37px;
        position: relative;
        input {
            width: 363px;
        }
    }
}

.passModal {
    top: 20%;
    .btn {
        width: 92px;
        position: relative;
        top: 5px;
    }

    .passInput{
        border-color: #e6e6e6;
        outline: none;
        color: #000000;
        border-radius: 0;
        padding: 6px 8px;
        border-width: 1px;
        box-shadow: none;
        height: 32px;
        &:focus {
            border-color: #2196f3;
        }
    .error {
            border-color: red;
        }
    }

}
.preview {
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: .3;
}
