.eos-adm-title {
    position: absolute;
    .square-img-wrapper{
        cursor: pointer;
    }
    .title-wrapper {
        width: 244px;
        display: flex;
        align-items: center;

        .title-text {
            padding: 0 10px;
            text-decoration: none;
            display: inline-block;
            width: 196px;
            text-transform: uppercase;
            // cursor: pointer;
        }
    }
}

@media (max-width: 1250px) {
    .eos-adm-title {
        .title-wrapper {
            width: $item-width;

            .title-text {
                display: none;
            }
        }
    }
}
