<div class="input-user-wrapper input-user-card-files-wrapper" *ngIf="!isLoading">
        <eos-rights-delo-header
        [title]="titleHeader"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        (choosingMainCheckboxForm)="choosingMainCheckbox()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
<div class="user-input-group">
<div class="left-block-list-card-files">
        <div class="tabs-wrapper usual-border border-bottom">
                <div class="selected-node-title">
                        <span class="long-title xl-font">Картотеки</span>
                </div>
        </div>
        <div class="usual-border border-bottom">
        <div class="visible-lg-inline-block actions">
                <button
                  class="btn btn-primary-light"
                  tooltip="Добавить картотеку"
                  placement="bottom"
                  container="body"
                  containerClass="tooltip-info"
                  (click)="addCardFile()">
                <span class="eos-icon eos-icon-plus-blue small"></span>
                </button>
                <button
                  class="btn btn-primary-light"
                  tooltip="Удалить картотеку"
                  placement="bottom"
                  container="body"
                  containerClass="tooltip-info"
                  (click)="removeCardFile()">
                <span class="eos-icon eos-icon-minus-blue small"></span>
                </button>
                <button
                  class="btn btn-primary-light"
                  tooltip="Главная"
                  placement="bottom"
                  container="body"
                  containerClass="tooltip-info"
                  (click)="choosingMainCheckbox()">
                <span class="eos-icon eos-icon-keyfile-blue small"></span>
                </button>
        </div>
        </div>
        <ul class="list-card-files"
            *ngFor="let key of fieldKeysforCardFiles; let i = index;">
                <li *ngIf="key[4]"
                (click)="selectedNode(key[1], $event)"
                [ngClass]="{'forMainLabel': key[3]}">
                            <eos-dynamic-input
                            [ngClass]="{'highlighted': key[2]}"
                            [input]="inputs['rec.' + key[0]]"
                            [form]="form"
                            [readonly]="false"
                            ></eos-dynamic-input>
            </li>
        </ul>
</div>
<div class="right-block-list-absolute-rights">
        <div class="tabs-wrapper usual-border border-bottom">
                <div class="selected-node-title">
                        <span class="long-title xl-font">Кабинеты</span>
                </div>
        </div>
        <div *ngIf="flagCurrentDataCabinetDepartment">
        <div class="user-input-group">
                <eos-dynamic-input
                    [input]="inputs['rec.SELECT_FOR_CABINETS_NAME']"
                    [form]="form"
                    (change)="selectOnClick($event)"
                ></eos-dynamic-input>
        <span></span>
        </div>
        <div *ngIf="flagCardFileAvailability">
        <ul class="list-card-files">
            <li *ngFor="let key of arrayKeysCheckboxforCabinets; let i = index;">
                    <eos-dynamic-input
                        [input]="inputAttach['rec.' + key[0]]"
                        [form]="formAttach"
                        (click)="selectedNode(key[1])"
                    ></eos-dynamic-input>
        </li>
        </ul>
        </div>
        </div>
        <div *ngIf="!flagCurrentDataCabinetDepartment">
                <span class="the-inscription-of-absence-cabinets">Кабинетов нет!</span>
        </div>
</div>
</div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading">
        <eos-spinner [size]="'lg'"></eos-spinner>
</div>
