<div class="input-user-wrapper input-user-card-files-wrapper" *ngIf="!isLoading">
        <eos-rights-delo-header
        [title]="titleHeader"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
<div class="user-input-group">
<div class="left-block-list-card-files">
        <div class="tabs-wrapper usual-border border-bottom">
                <div class="selected-node-title">
                        <span class="long-title xl-font">Картотеки</span>
                </div>
        </div>
        <div class="toolbar-line">
        <div class="usual-border border-bottom">
                <button
                  class="btn btn-primary-light"
                  tooltip="Добавить картотеку"
                  placement="bottom"
                  triggers="hover"
                  containerClass="tooltip-info"
                  (click)="[addCardFile(), hideToolTip()]">
                <span class="eos-icon eos-icon-plus-blue small"></span>
                </button>
                <button
                  class="btn btn-primary-light"
                  tooltip="Удалить картотеку"
                  placement="bottom"
                  container="body"
                  containerClass="tooltip-info"
                  (click)="[removeCardFile(), hideToolTip()]">
                  <span class="eos-icon eos-icon-bin-forever-blue small"></span>
                </button>
                <button
                  class="btn btn-primary-light"
                  tooltip="Главная"
                  placement="bottom"
                  container="body"
                  containerClass="tooltip-info"
                  (click)="[choosingMainCheckbox(), hideToolTip()]">
                  <span>
                    <img class="icon_key" src="assets/icons/Keyfile-Blue.svg" />
                  </span>
                </button>
        </div>
        </div>
        <div class="content-list">
        <ul class="list-card-files"
            *ngFor="let key of fieldKeysforCardFiles; let i = index;">
                <li *ngIf="key[4] && key[0]"
                (click)="selectedNode(key[1], $event)"
                [ngClass]="{'forMainLabel': key[3]}">
                            <eos-dynamic-input
                            [ngClass]="{'highlighted': key[2]}"
                            [input]="inputs['rec.' + key[0]]"
                            [form]="form"
                            [readonly]="false"
                            ></eos-dynamic-input>
            </li>
        </ul>
</div>
</div>
<div class="right-block-list-absolute-rights">
        <div class="tabs-wrapper usual-border border-bottom">
                <div class="selected-node-title">
                        <span class="long-title xl-font">Кабинеты</span>
                </div>
        </div>
        <div class="toolbar-line">
        <div class="usual-border border-bottom">
                <button
                  class="btn btn-primary-light"
                  tooltip="Главная"
                  placement="bottom"
                  container="body"
                  containerClass="tooltip-info"
                  (click)="[choosingMainCabinet($event), hideToolTip()]">
                  <span>
                    <img class="icon_key" src="assets/icons/Keyfile-Blue.svg" />
                  </span>
                </button>
        </div>
        </div>
        <div *ngIf="flagCurrentDataCabinetDepartment">
        <div class="user-input-main-cabinet">
                <eos-dynamic-input
                    [input]="inputs['rec.SELECT_FOR_CABINETS_NAME']"
                    [form]="form"
                    (change)="selectOnClick($event, null)"
                    id="list-cabinet"
                ></eos-dynamic-input>
        <span></span>
        </div>
        <div *ngIf="flagCardFileAvailability">
        <ul class="list-card-files">
            <li *ngFor="let key of arrayKeysCheckboxforCabinets; let i = index;">
                    <div *ngIf="inputAttach">
                    <eos-dynamic-input
                        [input]="inputAttach['rec.' + key[0]]"
                        [form]="formAttach"
                        (click)="checkData()"
                    ></eos-dynamic-input>
                    </div>
        </li>
        </ul>
        </div>
        </div>
        <div *ngIf="!flagCurrentDataCabinetDepartment">
                <span class="the-inscription-of-absence-cabinets">Кабинетов нет!</span>
        </div>
</div>
</div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading">
        <eos-spinner [size]="'lg'"></eos-spinner>
</div>
