<div class="input-user-wrapper input-user-card-files-wrapper" *ngIf="!isLoading">
        <eos-rights-delo-header
        [title]="titleHeader"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        (choosingMainCheckboxForm)="choosingMainCheckbox()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
    <div class="user-input-group">
            <ul class="list-card-files"
                *ngFor="let key of fieldKeysforCardFiles; let i = index;">
                <li
                (click)="selectedNode(key[1])"
                [ngClass]="{'forMainLabel': key[3]}">
                            <eos-dynamic-input
                            [ngClass]="{'highlighted': key[2]}"
                            [input]="inputs['rec.' + key[0]]"
                            [form]="form"
                            [readonly]="false"
                            ></eos-dynamic-input>
            </li>
        </ul>
                
                
    </div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading">
        <eos-spinner [size]="'lg'"></eos-spinner>
</div>