<div class="list-docs-tree" *ngIf="list && list.length">
    <ng-container *ngTemplateOutlet="treeTmpl; context: {items: list}"></ng-container>
</div>


<ng-template #treeTmpl
    let-items="items">
    <div *ngFor="let node of items">
        <ng-container *ngTemplateOutlet="treeNodeTmpl; context:{node: node}"></ng-container>
    </div>
</ng-template>

<ng-template #treeNodeTmpl
    let-node="node">
    <div
        [ngClass]="{'highlighted': node.isSelected}"
        [ngStyle]="{'padding-left.px': node.layer * 27 * (hideExpand ? 0 : 1) }">

        <div class="tree-node-due">
            <!-- icon for open -->
            <div
                *ngIf="!hideExpand"
                class="tree-btn"
                (click)="onExpand($event, node)"
            >
                <span *ngIf="node.children.length"
                    class="eos-icon tringle-size icon"
                    [ngClass]="{'eos-icon-open-folder-blue': node.isExpanded && editMode, 'eos-icon-close-folder-blue': !node.isExpanded && editMode, 'eos-icon-close-folder-grey': !node.isExpanded && !editMode, 'eos-icon-open-folder-grey': node.isExpanded && !editMode}"
                ></span>
            </div>

            <!-- checkbox and label -->
            <label *ngIf="node.isviewAllowed && systemTech!==1" class="checkbox tree-checkbox" [ngClass]="node.classChecBox" (click)="clickLable($event, node)">
                <span style="width:60px; display:inline-block;" *ngIf = "node.flagCheckNode">{{node.isAllowed ? '(С вл.)' : '(Без вл.)'}}</span>
                <input type="checkbox"
                    [disabled]="!editMode || !node.isOwnDepartment"
                    hide
                    [checked]="node.isAllowed"
                >
                <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                </span>
                {{node.label}}
            </label>
            <label *ngIf="!node.isviewAllowed || systemTech===1" class="tree-text" (click)="clickLable($event, node)">{{node.label}}</label>
        </div>

    </div>
    <ng-container *ngIf="node.children.length && node.isExpanded">
        <ng-container *ngTemplateOutlet="treeTmpl; context: {items: node.children}"></ng-container>
    </ng-container>
</ng-template>
