<ng-container *ngTemplateOutlet="treeTmpl; context: {items: list}"></ng-container>


<ng-template #treeTmpl
    let-items="items">
    <div *ngFor="let node of items">
        <ng-container *ngTemplateOutlet="treeNodeTmpl; context:{node: node}"></ng-container>
    </div>
</ng-template>

<ng-template #treeNodeTmpl
    let-node="node">
    <div
        [ngStyle]="{'padding-left.px': node.layer * 30}">
        {{node.label}}
    </div>
    <ng-container *ngIf="node.children.length">
        <ng-container *ngTemplateOutlet="treeTmpl; context: {items: node.children}"></ng-container>
    </ng-container>
</ng-template>
