<div class="list-docs-tree" *ngIf="list && list.length">
    <ng-container *ngTemplateOutlet="treeTmpl; context: {items: list}"></ng-container>
</div>


<ng-template #treeTmpl
    let-items="items">
    <div *ngFor="let node of items">
        <ng-container *ngTemplateOutlet="treeNodeTmpl; context:{node: node}"></ng-container>
    </div>
</ng-template>

<ng-template #treeNodeTmpl
    let-node="node">
    <div
        [ngClass]="{'highlighted': node.isSelected}"
        [ngStyle]="{'padding-left.px': node.layer * 27}">

        <div class="tree-node-due">
            <!-- icon for open -->
            <div class="tree-btn"
                (click)="onExpand($event, node)">
                <span *ngIf="node.children.length"
                    class="eos-icon tringle-size icon"
                    [ngClass]="{'eos-icon-open-folder-blue': node.isExpanded, 'eos-icon-close-folder-blue': !node.isExpanded}"
                ></span>
            </div>

            <!-- checkbox and label -->
            <label class="checkbox tree-checkbox" (click)="clickLable($event, node)">
                <input type="checkbox"
                    hide
                    [checked]="node.allowed"
                >
                <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                </span>
                {{node.label}}
            </label>
        </div>

    </div>
    <ng-container *ngIf="node.children.length && node.isExpanded">
        <ng-container *ngTemplateOutlet="treeTmpl; context: {items: node.children}"></ng-container>
    </ng-container>
</ng-template>
