.param-system {
    width: 800px;
    max-height: calc(100vh - 176px);
    margin-left: calc(50vw - 420px);
    overflow: auto;

    .input-param-wrapper {
        border: 1px solid $border-color-main-theme;
        background: $white;

        hr {
            margin: 10px 0;
        }

        .param-input-group {
            padding: 0 20px;
            margin-top: 20px;

            hr {
                margin-top: 3px;
                margin-bottom: 10px;
            }

            label {
                font-size: 14px;
            }

            .font-label-s {
                label {
                    font-size: 11px;
                }
            }
        }
    }

    .modal-dialog {
        width: 800px;

        .modal-content {
            border: 0;

            .modal-header {
                background: $active-field-color-main-theme;
                color: $white;
            }

            .modal-body {

                eos-dynamic-input {
                    font-size: 14px;

                }

            }
        }
    }
}

.params-nav-list {
    position: absolute;
    left: -300px;
    top: 97px;
    min-width: 300px;
    height: 100vh;
    background: $white;
    border-radius: 5px 5px 0 0;
    transition: .5s;

    &.list-show {
        left: 0;
    }

    .list-group {
        .list-group-item {
            background: $light-grey-1;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &.active-element-param {
                background: $highlight-color-main-theme;
            }
        }
    }
}
