<ng-container [ngSwitch]="paramId">
    <ng-container *ngSwitchCase="'web'">
        <eos-param-web></eos-param-web>
    </ng-container>
    <ng-container *ngSwitchCase="'other'">
         <eos-param-other></eos-param-other>
    </ng-container>
    <ng-container *ngSwitchCase="'search'">
         <eos-param-search></eos-param-search>
    </ng-container>
    <ng-container *ngSwitchCase="'context-rc'">
         <eos-param-context-rc></eos-param-context-rc>
    </ng-container>
    <ng-container *ngSwitchCase="'authentication'">
         <eos-param-authentication></eos-param-authentication>
    </ng-container>
    <ng-container *ngSwitchCase="'files'">
         <eos-param-files></eos-param-files>
    </ng-container>
    <ng-container *ngSwitchCase="'prj-rc'">
         <eos-param-prj-rc></eos-param-prj-rc>
    </ng-container>
    <ng-container *ngSwitchCase="'rc'">
         <eos-param-rc></eos-param-rc>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <eos-param-rc></eos-param-rc>
    </ng-container>
</ng-container>