.param-system {
    width: 800px;
    max-height: calc(100vh - 176px);
    margin-left: calc(50vw - 420px);
    overflow: auto;

    .input-param-wrapper {
        border: 1px solid $border-color-main-theme;
        background: $white;

        hr {
            margin: 10px 0;
        }

        .param-input-group {
            padding: 0 20px;
            margin-top: 20px;

            hr {
                margin-top: 3px;
                margin-bottom: 10px;
            }

            label {
                font-size: 14px;
            }
        }
    }
}
