<div class="input-user-wrapper input-user-directories-wrapper">
    <eos-user-params-header
    [title] = 'titleHeader'
    [link] = 'link'
    [selfLink] = 'selfLink'
    [disableBtn] = "!btnDisabled"
    [defaultBtn] = 'true'
    (submitEmit) = 'submit($event)'
    (cancelEmit) = 'cancellation($event)'
    (editEmit) = 'edit($event)'
    (closeEmit) = 'close($event)'
    (defaultEmit) = 'default($event)'
></eos-user-params-header>
</div>

<div class="input-user-wrapper input-user-other-rk-forwarding-wrapper scrollWrapper signature">
    <div class="user-input-group">
        sdf
    </div>
</div>
