.report-dictionaries {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    width: calc(100vw - 30px);
    overflow-y: auto;
    max-height: calc(100vh - 130px);
    .rep-dictionary {
        height: 100px;
        flex-basis: calc((100% - 4*10px) / 4);
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 0;
        text-align: left;
        overflow: hidden;

        &.rep-btn {
            min-width: 400px;
            max-width: 490px;
            padding: 0;
        }
        
        .rep-span {
            position: relative;
            top: -8px;
            left: -6px;
            width: calc(100% - 120px);
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
        }
        .rep-icon {
            height: 48px;
            width: 48px;
        }

        .rep-icon-wrapper {
            display: inline-block;
            height: 99px;
            width: 100px;
            padding: 26px;
        }
    }
}
.head-protocol{
   height: 500px;
   min-width: 600px;
   position: relative;
   top: 370px !important;
   border-radius: 0;
   .popover-content{
       padding: 0 !important;
   }
}
.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
    background-color: #2196f3 !important;
}

.bs-datepicker-body table td {
    color: black !important;
}