.input-user-other-rk-forwarding-wrapper {
    .scrollWrapper{
        padding-top: 10px;
        padding-left: 20px;
    }
    eos-dynamic-input{
        font-size: 14px;
    }

    .tabs-wrapper {
        margin: 0;
    }
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 300px);
        .spinner-wrapper {
            width: 100%;
            text-align: center;
            position: static;
        }
    }

    .inline-block {
        display: inline-block;
        padding-top: 10px;
    }

   /* .block {
        display: block;
    }*/


    .elem-input-radio {
        font-size: 14px;
       // display: inline-block;
        margin-right: 40px;
    }

    .user-input-group-section {

        .span-or {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .user-content-wr {
        display: flex;
        flex-direction: column;

    }
    .fl {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        .user-input-group-wr {
            display: flex;
            width: 100%;
            height: 70px;
            overflow: auto;
            background-color: #e9edf0;
            .user-input-group-hi {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 5px;
                span {
                    display: inline-block;
                    padding-left: 5px;
                }
            }
        }
        .btn-action + div {
            margin-left: 1px;
        }
    }
    .title-user-content {
        padding-left: 20px;
    }
    .send-from {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .send-from-input{
            input{
                width: 360px;
                height: 38px;
                margin-left: 4px;
                padding-left: 5px;
            }
            input[disabled]{
                background: #eeeeee;
                border: none;
                outline: none;
            }
        }
        .send-from-btn-choose{
            margin: 0px 7px;
        }
    }


    .the-main-recipients-of-the-document-titles {
        font-weight: bold;
        clear: both;
    }

    .restrict-by-document-groups {
        width: 65%;
        display: inline-block;
    }

    .add-storage {
        margin-bottom: 50px;
        }

    .template-title {
        display: flex;
        justify-content: space-around;
        width: 100%;
        vertical-align: middle;
        font-size: 0;
    /* color: */
    .item {
        display: inline-block;
        margin-right: $grid-gutter-width / 2;
        margin-top: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        &+.item {
            margin-left: $grid-gutter-width / 2;
        }
        .text {
            cursor: pointer;
        }
        .order-icon {
            padding: 0 3px;
        }
        .eos-icon {
            margin: -5px 0 0;
            vertical-align: middle;
        }
    }
    }
    .table-templates {
        padding-left: 7%;
    }

    .eos-template-list{
        padding: 10px 20px;
        .template-list-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 33%;
            .temlate_list_item{
                flex-basis: 30%;
                overflow: hidden;
            }
            span{
                padding-top: 10px;
            }
            .form-group{
                margin-bottom: 0;
            }
        }
    }
    .last{
        margin-left: -21px;
    }
}

.rc-doc-left-column {
    position: relative;
    display: block;
}

.user-system{
    //overflow: hidden!important;
}
.btn{
    outline: none!important;
}
.btn-padd{
    margin: 0px 10px;
}
.bacgrFixed{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: #646464;
    opacity: 0.6;
}
