<!-- <pre>{{initCarmaStores | json}}</pre> -->
<div class="cert-wrapper">
    <div class="cert-header">
            <span class="l-font">Хранилища сертификатов</span>
    </div>
    <div class="cert-action">
        <button
            class="btn"
            tooltip="Добавить"
            placement="bottom"
            containerClass="tooltip-info"
        >
                <span class="eos-icon eos-icon-plus-blue small"></span>
        </button>
        <button
            class="btn"
            tooltip="Удалить"
            placement="bottom"
            containerClass="tooltip-info"
        >
                <span class="eos-icon eos-icon-bin-forever-blue small"></span>
        </button>
        <button
            class="btn"
            tooltip="Просмотреть"
            placement="bottom"
            containerClass="tooltip-info"
            [disabled]="!CurrentSelect"
        >
                <span class="eos-icon eos-icon-show-blue small"></span>
        </button>
    </div>
    <div class="cert-param">
        <div
            class="checkbox-inline"
        >
            <label [tooltip]="checkAllMarkes.checked ? 'Снять пометки' : 'Пометить все'"
                placement="bottom"
                container="body"
                containerClass="tooltip-info"
            >
                <input #checkAllMarkes type="checkbox" (change)="toggleAllMarks($event)">
                <span></span>
            </label>
        </div>
        <div
            class="item l-font"
        >
            <span class="text"
                (click)="orderByField()"
                tooltip="Упорядочить"
                placement="bottom"
                container="body"
                containerClass="tooltip-info"
            >
                Хранилища
            </span>
            <span class="order-icon">
                <span
                class="icon eos-icon small"
                [ngClass]="{'eos-icon-arrow-blue-top': true, 'eos-icon-arrow-blue-bottom': !true}"
                >
                </span>
            </span>
        </div>
    </div>
    <div class="cert-content">
        <ul>
            <li
                *ngFor="let list of listCertStores"
            >
                <div
                    class="list"
                    [ngClass]="{'highlighted': list.isSelected}"
                    (click)="selectedNode(list)"
                    (dblclick)="showCert(list)"
                >
                    <label
                        class="checkbox-inline"
                        [tooltip]="list.marked ? markTemp : notMarkTemp"
                        containerClass="tooltip-info"
                        container="body"
                        (click)="checkboxClick($event)"
                        placement="bottom"
                    >
                        <input
                            type="checkbox"
                            [(ngModel)]="list.marked || list.selectedMark"
                            (ngModelChange)="markNode($event, list)"
                        >
                        <span></span>
                    </label>
                    {{list.Location}}:{{list.Name}}
                </div>
            </li>
        </ul>
    </div>
</div>

<ng-template #markTemp>Снять<br>пометку</ng-template>
<ng-template #notMarkTemp>Пометить<br>элемент</ng-template>
