.modal-content {
    .modal-header {
        padding: 11px 15px;
    }

    .modal-body {
        padding: 15px;
        &.manualCR p {
            white-space: pre;
        }
    }
    .modal-footer {
        padding: 10px 15px;
    }
    .modal-footer {
        .btn {
            min-width: 88px;
            &.eos-icon {
                min-width: initial;
            }
        }
    }
    .buttoms-alert {
        margin-left: auto;
        margin-right: 0;
        min-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.modal-open {
    .custom-modal {
        width: 700px;
    }
}
.alert-icon-confirm-window2 {
    display: table-cell;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-alert-window{
    display: flex;
    align-items: center;
    justify-content: center;
}
