<div class="grifs-wrapper" >
    <div class="list-card-files" *ngFor="let item of fields">
        <div [formGroup]="form"  class="emali-list grifs-content">
            <label class="checkbox minus-checkbox" [ngClass]="{'disabled': editFlag}" (click)="clickLable($event, item)">
                <input type="checkbox" hide [formControlName]="item.key" [id]="item.key">
                <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                </span>
                {{item.label}}
            </label>
        </div>
    </div>
</div>