.btn-action-wrapper {
    height: 48px;
    .btn-action-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .btn {
        height: 48px;
        width: 48px;
    }
    .disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}
.activemore{
    background-color: #2196f3!important;
}
.activeShow {
    background: #e3f2fd!important;
}
.menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    outline: none;
    color: #2196f3;
    border-top: solid 1px #e6e6e6;
    .btn-icon {
        margin-left: 10px;
    }
    .btn-title {
        font-size: 14px;
        margin-left: 10px;
        white-space: normal;
        line-height: normal;
        text-align: left;
    }
    .not-active-btn{
        width: 252px;
    }
}

.dropdown-menu{
    max-height: calc(100vh - 247px) ;
    overflow: auto;
}

@-moz-document url-prefix() {
    .dropdown-menu{
        overflow: scroll !important;
    }
  }

.menu-expand {
    width: 300px;
    white-space: normal;
}

@media (max-width: 1200px) {
    .buttons-list {
        display: none;
    }
}
