<div class="input-param-wrapper input-param-prj-wrapper" *ngIf="inputs">
    <eos-param-header
        [title]="titleHeader"
        (submitForm)="btnDisabled ? cancel() : submit(); cancelEdit()"
        (cancelForm)="cancel(); cancelEdit()"
        [statusBtnSub]="btnError"
        [editBtn]="true"
        (editForm)="edit()"
    ></eos-param-header>
    <div class="title-under-table">
        <div>
            <span>Криптографическе профили</span>
        </div>
    </div>
    <eos-tabel-element
        [edit]="!disableForm"
        [tabelData]="tabelData"
        (btnAction)="actionTo($event)"
    >
    </eos-tabel-element>
</div>
