
<div class="email-window">
    <eos-user-header [title]="'Ограничение доступа'"  [statusBtnSub]="getBtn" [isDefault]='isDefault' (submitForm)='saveAllForm()' (cancelForm)='backForm($event)'></eos-user-header>
    <div class="doc-navigate">
        <ul class="tabs">
            <li class="tab-item" (click)='changeActivelink()' [ngClass]="{active: activeLink}">
                <span>Группы документов</span>
            </li>
            <li class="tab-item" (click)='changeActivelink()' [ngClass]="{active: !activeLink}">
                <span>Грифы</span>
            </li>
        </ul>
    </div>
    <div *ngIf="activeLink">
        <div class="email-control">
                <button type="button" class=" email-create btn btn-primary" (click)="OpenClassiv()">
                        <span class="eos-icon eos-icon-plus-blue small"></span>
                </button>
            <button class="email-delite  btn btn-primary" (click)='deliteEmailFild()'>
                <span class="eos-icon eos-icon-bin-blue sma"></span>
            </button>
        </div>

    <div class="email-wr">
        <div class="email-header">
        </div>
        <div class="email-content" *ngIf="umailsInfo && myForm">
                <form [formGroup]="myForm">
                    <div formArrayName="groupForm">
                            <div  class="emali-list" *ngFor="let group of myForm.controls['groupForm'].controls; let i = index"  (click)=chooseCurrentField(i) [ngClass]="{current: currentIndex === i}">
                                <div class="emali-list"  formGroupName="{{i}}">
                                <span [ngClass]="{current: currentIndex === i}" class="emali-list-secont">
                                        <label class="checkbox disabled minus-checkbox">
                                            <input  formControlName="checkbox" [attr.checked]="group.controls.checkbox ? 1 : 0"   type="checkbox" readonly="readonly" class="readonly" >
                                            <span class="eos-icon eos-icon-checkbox-black"></span>
                                        </label>
                                </span>
                                <span [ngClass]="{current: currentIndex === i}" class="emali-list-first">
                                        <input formControlName="name"  type="text" readonly="readonly" class="readonly" >
                                </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="!activeLink">
        <eos-grifs (changeGrifs)="SubscribtGrifs($event)"></eos-grifs>
    </div>
</div>
<div *ngIf="bacgHeader" class="bacgrFixed">

</div>
