<div [formGroup]="form">
    <label [hidden]="(input.hideLabel || hideLabel)"
           [attr.for]="input.key">{{label}}</label>
    <div class="eos-adm-select" *ngIf="!readonly"
           [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <div class="input-button-container">
            <input class="form-control m-font link-input"
               [readonly]="true"
               [ngClass]="{'readonly': readonly, 'disabled': disabled}"
               [value]="getDisplayValue()"
               (keydown)="ignoreKeyDown($event)"
               placeholder="..."
               (focus)="onFocus()"
               (blur)="onBlur()"
               autocomplete="off">
                <div class="inbutton"
                [ngClass]="{'readonly': readonly, 'disabled': disabled}"
                [attr.for]="input.key"
                >
                    <span>
                        <a
                        [ngClass]="{'readonly': readonly, 'disabled': disabled}"
                        (click)="onButtonClick1()" *ngIf="!readonly && !iconForElem">
                            <span class="eos-adm-icon eos-adm-icon-arrow-v-blue-bottom small">
                            </span>
                        </a>
                        <a [ngClass]="{'readonly': readonly, 'disabled': disabled}" (click)="onButtonClick2()" *ngIf="enRemoveButton() && !readonly" ><span class="eos-adm-icon eos-adm-icon-close-blue small"></span></a>
                        <a [ngClass]="{'readonly': readonly, 'disabled': disabled}" (click)="onButtonClick1()" *ngIf="!readonly && iconForElem"><span class="{{newClass}}" ></span></a>
                    </span>
                </div>
        </div>
    </div>
</div>
