<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label [hidden]="(input.hideLabel || hideLabel)"
           [attr.for]="input.key">{{label}}</label>
    <div [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <div class="input-button-container">

            <!-- <select class="form-control m-font"
                [ngClass]="{'readonly': readonly, 'placeholder': !hasValue()}"
                [id]="input.key"
                onmousedown="this.focus();"
                [formControlName]="input.key"
                (focus)="onFocus()"
                (blur)="onBlur()">
                <option selected="true" [value]="input.value" class="hidden">aaaaa</option>
        </select> -->
        <!-- <a class="inbutton"
        (click)="onButtonClick()"><span class="eos-icon eos-icon-calendar-blue small"></span></a> -->
            <input class="form-control m-font"
               [readonly]="true"
               [ngClass]="{'readonly': readonly}"
               [value]="getDisplayValue()"
               placeholder="..."
               (focus)="onFocus()"
               (blur)="onBlur()"
               autocomplete="off">
               <a class="inbutton"
               (click)="onButtonClick()"><span class="eos-icon eos-icon-info-blue small"></span></a>
           </div>
    </div>
</div>
