<div [formGroup]="form">
    <div
        *ngFor="let item of input.options"
        class="elem-input-radio">
        <label class="radio inline-block">
            <input
                type="radio"
                [name]="input.key"
                [id]="input.key"
                (blur)="onBlur()"
                (focus)="onFocus()"
                [formControlName]="input.key"
                [value]="item.value"
            >
            <span></span>
        </label>
        <span>{{item.title}}</span>
    </div>
</div>
