<div [formGroup]="form">
    <label class="checkbox"
        [ngClass]="{'disabled': disabled || readonly}">
    <input type="checkbox" *ngIf="disabled || readonly"
        [readonly]="readonly"
        [ngClass]="{'readonly': readonly}"
        [formControlName]="input.key"
        [id]="input.key"
        disabled>
    <input type="checkbox" *ngIf="!(disabled || readonly)"
        [formControlName]="input.key"
        [id]="input.key"
        [readonly]="readonly"
        [ngClass]="{'readonly': readonly}"
        (focus)="onFocus()"
        (blur)="onBlur()">
   <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>{{input.label}}</label>
</div>
