<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label [hidden]="(input.hideLabel || hideLabel)"
           [attr.for]="input.key">{{label}}</label>
    <div [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <div class="input-button-container">
            <input class="form-control m-font"
               [readonly]="true"
               [ngClass]="{'readonly': readonly}"
               [value]="getDisplayValue()"
               (keydown)="ignoreKeyDown($event)"
               placeholder="..."
               (focus)="onFocus()"
               (blur)="onBlur()"
               autocomplete="off">
                <div class="inbutton">
                    <span>
                        <a (click)="onButtonClick1()"><span class="eos-icon eos-icon-arrow-v-blue-bottom small"></span></a>
                        <a (click)="onButtonClick2()" *ngIf="enRemoveButton()" ><span class="eos-icon eos-icon-close-blue small"></span></a>
                    </span>
                </div>
        </div>
    </div>
</div>
