<div
    [ngClass]="'input-increment-inline-block'"
    [formGroup]="form">
    <!-- <label [hidden]="input.hideLabel"
    [attr.for]="input.key">{{input.label}}</label> -->
    <div
        class="input-increment"
        (mouseenter)="onBlur()"
        (mouseleave)="onFocus()"
        [ngClass]="{'input-invalid': control.invalid, 'disabled': control.disabled}">
        <input type="text"
            max="10"
            [formControlName]="input.key"
            [id]="input.key"
            [readonly]="readonly"
            [ngClass]="{'readonly': readonly}"
            (keydown)="inputCheck($event)"
            >
        <span *ngIf="!readonly"
                class="decrease fa fa-minus"
                (click)="onDecrease()"
        ></span>
        <span *ngIf="!readonly"
                class="increase fa fa-plus"
                (click)="onIncrease()"
        ></span>
    </div>
</div>
