<div class="form-group"
     *ngIf="form && input && form.controls[input.key]"
     [tooltip]="tooltip.message"
     [placement]="tooltip.placement"
     [containerClass]="tooltip.class"
     [container]="tooltip.container"
     [isOpen]="tooltip.visible"
     triggers="">
    <ng-container [ngSwitch]="input.controlType">
        <eos-dynamic-input-string *ngSwitchCase="types.string"
                                  [form]="form"
                                  [input]="input"
                                  [readonly]="readonly"
                                  [disabled]="disabled"
                                  [inputTooltip]="tooltip"
                                  [isGroup]="isGroup"></eos-dynamic-input-string>
        <eos-dynamic-input-text *ngSwitchCase="types.text"
                                [form]="form"
                                [input]="input"
                                [readonly]="readonly"
                                [disabled]="disabled"
                                [inputTooltip]="tooltip"></eos-dynamic-input-text>
        <eos-dynamic-input-select *ngSwitchCase="types.select"
                                  [form]="form"
                                  [input]="input"
                                  [readonly]="readonly"
                                  [disabled]="disabled"
                                  [inputTooltip]="tooltip"></eos-dynamic-input-select>
        <eos-dynamic-input-checkbox *ngSwitchCase="types.boolean"
                                    [form]="form"
                                    [input]="input"
                                    [readonly]="readonly"
                                    [disabled]="disabled"
                                    [inputTooltip]="tooltip"></eos-dynamic-input-checkbox>
        <eos-dynamic-input-date *ngSwitchCase="types.date"
                                [form]="form"
                                [input]="input"
                                [readonly]="readonly"
                                [disabled]="disabled"
                                [inputTooltip]="tooltip"></eos-dynamic-input-date>
        <eos-dynamic-input-buttons *ngSwitchCase="types.buttons"
            [form]="form"
            [input]="input"
            [disabled]="disabled"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-buttons>
        <eos-dynamic-input-toggle *ngSwitchCase="types.toggle"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-toggle>
        <eos-dynamic-input-increment-number *ngSwitchCase="types.numberIncrement"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-increment-number>
        <eos-dynamic-input-radio *ngSwitchCase="types.radio"
            [form]="form"
            [input]="input"
            [readonly]="readonly"
            [inputTooltip]="tooltip"></eos-dynamic-input-radio>
    </ng-container>
</div>
