<div class="user-tech-classif" *ngIf="isLoading">
    <div *ngFor="let node of listClassif"
        class="right-classif-node">

        <span *ngIf="node.expandable"
            class="eos-icon icon list-triangle small"
            (click)="expendList(node)"
            [ngClass]="{'eos-icon-open-folder-blue': node.isExpanded && editMode, 'eos-icon-close-folder-blue': !node.isExpanded && editMode, 'eos-icon-close-folder-grey': !node.isExpanded && !editMode, 'eos-icon-open-folder-grey': node.isExpanded && !editMode}"
        ></span>

        <label class="checkbox classif-list-tech-user">
            <input type="checkbox"
                [disabled]="!editMode"
                hide
                [(ngModel)]="node.value"
            >
            <span class="eos-icon eos-icon-checkbox-square-blue x-small">
            </span>
            {{node.label}}
        </label>

        <div *ngIf="node.expandable && node.isExpanded">
            <div *ngIf="!node.isLoading; else spiner" class="content-classif-node">
                <div class="buttons-classif-node">
                    <button
                        class="btn"
                        triggers="hover"
                        tooltip="Добавить"
                        placement="bottom"
                        container="body"
                        [disabled]="!editMode"
                        containerClass="tooltip-info"
                        (click)="[node.addInstance(),  hideToolTip()]"
                    >
                        <span class="eos-icon small" [ngClass]="{'eos-icon-plus-blue': editMode, 'eos-icon-plus-grey': !editMode}"></span>
                    </button>
                    <button
                        class="btn"
                        tooltip="Удалить"
                        placement="bottom"
                        containerClass="tooltip-info"
                        [disabled]="!node.curentSelectedNode || !editMode"
                        (click)="[node.DeleteInstance(), hideToolTip()]"
                    >
                        <span class="eos-icon small" [ngClass]="{'eos-icon-bin-forever-blue': editMode, 'eos-icon-bin-forever-grey': !editMode}"></span>
                    </button>
                </div>

                <eos-list-doc-tree
                    class="tree-classif-node"
                    [listNode]="node.listContent"
                    [systemTech]="node.key"
                    [editMode]="editMode"
                    (select)="node.select($event)"
                    (checkedNode)="node.checkedNode($event)"
                ></eos-list-doc-tree>

            </div>
        </div>
        <div *ngIf="node.isShell" class="shell"></div>
    </div>
</div>
<ng-template #newCards>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Ограничения (добавление подчиненных картотек)</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeCardTech()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body new-card-body">
            <ul class="list-right-abs">
                <li class="add-card-abs" *ngFor="let str of strNewCards">{{str.value}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="pull-right srch-btns"> 
                <button class="btn btn-primary s-font upper" (click)="closeCardTech()">Нет</button>
                <button class="btn btn-primary-full s-font upper" (click)="saveCardTech()">Да</button>
            </div> 
        </div>
</ng-template>


<ng-template #spiner>
        <eos-spinner size="lg"></eos-spinner>
</ng-template>
