.base-param-wrapper {

    width: 800px;
    margin: 0 auto;
    background: $white;

    eos-dynamic-input {
        font-size: 14px;
    }

    .base-param-main {
        padding: 20px;
        max-height: calc(100vh - 260px);
        overflow-y: scroll;

        .base-param-row {
            display: flex;

            &.flex-end {
                justify-content: flex-end;
            }

            &.flex-space-between {
                justify-content: space-between;
            }

            .mt-ceck {
                margin-left: 20px;

                .form-group {
                    margin-top: 30px;
                }
            }

            .elem-input-radio {
                font-size: 14px;
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
}

.shell {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
