<div class="base-param-wrapper" *ngIf="!isLoading">
    <eos-user-header
        [title]="title"
        [statusBtnSub]="stateHeaderSubmit"
        [isDefault]="false"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
    ></eos-user-header>
    <div class="base-param-main">
        <!-- Логин и Аутентификация с помощью ОС -->
        <div class="wrapper-password">
            <eos-dynamic-input
                class="base-text-input base-login-input"
                [input]="inputs['CLASSIF_NAME']"
                [form]="form"
                [readonly]="false"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="inputs['USERTYPE']"
                [form]="form"
                [readonly]="false"
                class="mt-ceck base-text-input"
            ></eos-dynamic-input>
        </div>
        <!-- Дата смены пароля и поля для пароля -->
        <div>
            <div class="wrapper-password">
                <eos-dynamic-input
                    style="width: 180px"
                    class="inline-block"
                    [input]="inputs['PASSWORD_DATE']"
                    [form]="form"
                    [readonly]="inputs['PASSWORD_DATE'].readonly"
                ></eos-dynamic-input>

                <div [formGroup]="formControls"
                    class="dynamic-input-wrapper base-text-input">
                    <label [hidden]="controls['pass'].hideLabel"
                        [attr.for]="controls['pass'].key">{{controls['pass'].label}}</label>
                    <div [ngClass]="{'disabled': controls['pass'].disabled}">
                    <input class="form-control m-font"
                        [formControlName]="controls['pass'].key"
                        [id]="controls['pass'].key"
                        (blur)="checkPass()"
                        type="text"
                        [readonly]="controls['pass'].readonly"
                        [ngClass]="{'readonly': readonly}"
                        [placeholder]="controls['pass'].label"
                        autocomplete="off">
                    </div>
                </div>

                <div [formGroup]="formControls"
                    class="dynamic-input-wrapper base-text-input">
                    <label [hidden]="controls['passRepeated'].hideLabel"
                        [attr.for]="controls['passRepeated'].key">{{controls['passRepeated'].label}}</label>
                    <div [ngClass]="{'disabled': controls['pass'].disabled}">
                    <input class="form-control m-font"
                        [formControlName]="controls['passRepeated'].key"
                        [id]="controls['passRepeated'].key"
                        (blur)="checkPass()"
                        type="text"
                        [readonly]="controls['passRepeated'].readonly"
                        [ngClass]="{'readonly': readonly}"
                        [placeholder]="controls['passRepeated'].label"
                        [tooltip]="errorPass ? 'Пароли не совпадают' : 'Повторите пароль'"
                        placement="bottom"
                        [containerClass]="errorPass ? 'tooltip-error' : 'tooltip-info'"
                        autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <!-- технический пользователь -->
        <eos-dynamic-input
        [input]="controls['teсhUser']"
        [form]="formControls"
        [readonly]="controls['teсhUser'].readonly"
        tooltip="к техническим пользователям невозможно привязать должностное лицо"
        placement="bottom"
        containerClass="tooltip-info"
        ></eos-dynamic-input>
        <!-- должностное лицо и роль -->
        <div class="row-department-role">

            <div [formGroup]="formControls"
                class="dynamic-input-wrapper inline-block base-department-input">
                <label
                    [attr.for]="controls['DUE_DEP_NAME'].key">{{controls['DUE_DEP_NAME'].label}}</label>
                <div [ngClass]="{'required': controls['DUE_DEP_NAME'].required}" style="width: 461px">
                <input class="form-control m-font inline-block"
                    readonly
                    [formControlName]="controls['DUE_DEP_NAME'].key"
                    [id]="controls['DUE_DEP_NAME'].key"
                    type="text"
                    [ngClass]="{'readonly': readonly}"
                    [placeholder]="controls['DUE_DEP_NAME'].label"
                    autocomplete="off">
                    <span class="icon eos-icon small icon-add-department"
                        [ngClass]="{'eos-icon-avatar-blue': formControls.get('DUE_DEP_NAME').enabled, 'eos-icon-avatar-grey': formControls.get('DUE_DEP_NAME').disabled}"
                        (click)="selectDepartment(formControls.get('DUE_DEP_NAME').enabled)"
                    ></span>
                </div>
            </div>

            <eos-dynamic-input
                class="base-text-input base-input-role"
                [input]="controls['SELECT_ROLE']"
                [form]="formControls"
                [readonly]="formControls.get('SELECT_ROLE').disabled"
            ></eos-dynamic-input>
        </div>
        <!-- Примечания -->
        <div>
            <eos-dynamic-input
                [input]="inputs['NOTE2']"
                [form]="form"
                [readonly]="inputs['NOTE2'].readonly"
                style="width: 100%"
            ></eos-dynamic-input>
        </div>
        <!-- Доступ к системам 1-й ряд -->
        <span class="l-font">Доступ к системам</span>
        <hr>
        <div>
            <eos-dynamic-input
                [input]="accessInputs['0']"
                [form]="formAccess"
                [readonly]="formAccess.get('0').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['0-1']"
                [form]="formAccess"
                [readonly]="formAccess.get('0-1').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['delo_web']"
                [form]="formAccess"
                [readonly]="formAccess.get('delo_web').disabled"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['1-27']"
                [form]="formAccess"
                [readonly]="formAccess.get('1-27').disabled"
                class="pull-right"
            ></eos-dynamic-input>
        </div>
        <hr style="margin-top: 0;">
        <!-- Доступ к системам 2-й ряд -->
        <div>
            <eos-dynamic-input
                [input]="accessInputs['26']"
                [form]="formAccess"
                [readonly]="formAccess.get('26').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['2']"
                [form]="formAccess"
                [readonly]="formAccess.get('2').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['16']"
                [form]="formAccess"
                [readonly]="formAccess.get('16').disabled"
            ></eos-dynamic-input>
        </div>
        <!-- Доступ к системам 3-й ряд -->
        <div>
            <eos-dynamic-input
                [input]="accessInputs['23']"
                [form]="formAccess"
                [readonly]="formAccess.get('23').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['3']"
                [form]="formAccess"
                [readonly]="formAccess.get('3').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['5']"
                [form]="formAccess"
                [readonly]="formAccess.get('5').disabled"
            ></eos-dynamic-input>
            <span class="eos-icon eos-icon-electronic-signature-blue small icon-electronic"
                tooltip="Посмотреть сертификаты ЭП"
                placement="bottom"
                containerClass="tooltip-info"
            ></span>
        </div>
        <!-- Доступ к системам 4-й ряд -->
        <div>
            <eos-dynamic-input
                [input]="accessInputs['25']"
                [form]="formAccess"
                [readonly]="formAccess.get('25').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['15']"
                [form]="formAccess"
                [readonly]="formAccess.get('15').disabled"
                class="base-checkbox-input"
            ></eos-dynamic-input>
            <eos-dynamic-input
                [input]="accessInputs['21']"
                [form]="formAccess"
                [readonly]="formAccess.get('21').disabled"
            ></eos-dynamic-input>
        </div>
        <!-- Доступ к системам 5-й ряд -->
        <div>
            <eos-dynamic-input
                [input]="accessInputs['17']"
                [form]="formAccess"
                [readonly]="formAccess.get('17').disabled"
            ></eos-dynamic-input>
        </div>
    </div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading">
    <eos-spinner [size]="'lg'"></eos-spinner>
</div>

<div *ngIf="isShell" class="shell"></div>
