 .base-param-wrapper {
     width: 800px;
     margin: 0 auto;
     background: $white;
     eos-dynamic-input {
         font-size: 14px;
         display: inline-block;
     }
     .spinner-wrapper {
         min-height: calc(100vh - 300px);
         display: flex;
         align-items: center;
         justify-content: center;
     }
     header {
         background-color: #fafafa;
         color: black;
         border: 1px solid $border-color-main-theme;
     }
     .edit-header {
         min-height: $item-height;
         text-align: left;
         margin: 0 auto;
         width: 800px;
         display: -ms-grid;
         display: grid; // sass-lint:disable-line no-duplicate-properties
         -ms-grid-columns: 20px 1fr 153px;
         grid-template-columns: 20px 1fr 153px;
         &.edited {
             -ms-grid-columns: 0 1fr 210px;
             grid-template-columns: 0 1fr 210px;
         }
         /*
        .btn {
            padding: 1px 6px;
        }
        */
         a:hover {
             text-decoration: none;
         }
         div {
             display: inline-block;
         }
         .move-wrapper,
         .buttons-wrapper,
         .action-wrapper {
             display: flex;
             flex-direction: column;
             justify-content: space-around;
         }
         .move-wrapper {
             -ms-grid-column: 1;
             grid-column: 1;
             -ms-grid-row: 1;
             grid-row: 1;
             .btn {
                 height: $item-height;
                 width: $item-width;
             }
         }
         .name-wrapper {
             -ms-grid-row-align: center;
             align-self: center;
             -ms-grid-column: 2;
             grid-column: 2;
             -ms-grid-row: 1;
             grid-row: 1;
             &.edited {
                 padding-left: 20px;
                 padding-right: 10px;
             }
             .edit-title {
                 font-size: 18px;
                 max-height: 52px;
             }
         }
         .buttons-wrapper {
             -ms-grid-column: 3;
             grid-column: 3;
             -ms-grid-row: 1;
             grid-row: 1;
             height: $item-height;
             .btn {
                 min-width: 88px;
             }
             .btn+.btn {
                 margin-left: 10px;
             }
         }
         .action-wrapper {
             -ms-grid-column: 3;
             grid-column: 3;
             -ms-grid-row: 1;
             grid-row: 1;
             .btn {
                 height: $item-height;
                 margin: -8px 0;
                 width: $item-width;
             }
         }
     }
     .base-param-main {
         padding: 20px;
         max-height: calc(100vh - 260px);
         overflow-y: scroll;
         .base-text-input {
             width: 250px;
             margin-left: 26px;
             display: inline-block;
         }
         .mt-ceck {
             margin-top: 30px;
         }
         .base-login-input {
             margin-left: 209px;
         }
         .elem-input-radio {
             font-size: 14px;
             display: inline-block;
             margin-right: 20px;
         }
         .base-checkbox-input {
             width: 220px;
         }
         .icon-electronic {
             margin-bottom: -8px;
             margin-left: 10px;
         }
         .row-department-role {
             position: relative;
             margin-bottom: 20px;
             .base-input-role {
                 position: absolute;
                 top: 0;
             }
             .department-role-flex {
                 display: flex;
                 align-items: center;
                 .span-avatar-icon {
                     margin-bottom: 0;
                 }
             }
         }
         .base-department-input {
             input {
                 background: $light-grey-1;
                 width: 457px;
                 padding-right: 34px;
                 cursor: default;
             }
             .icon-add-department {
                 cursor: pointer;
                 display: inline-block;
                 margin-left: -34px;
                 margin-bottom: -7px;
             }
         }
     }
 }
 
 .shell {
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, .3);
     position: fixed;
     top: 0;
     left: 0;
     z-index: 2000;
 }
 
 .wrapper-password {
     display: flex;
     justify-content: space-between;
     .vision {
         position: relative;
         >span {
             position: absolute;
             top: 5px;
             right: 9px;
             cursor: pointer;
         }
         .vision-close {
             right: 32px;
         }
     }
 }
 
 .serts {
     top: 30%;
 }