<!-- <div class="input-user-wrapper input-user-card-index-rights-wrapper">
    <div  *ngIf="flagCardFileAvailability">
    <eos-rights-delo-header
        [title]="titleHeader"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
<div class="user-input-group">
<div class="left-block-list-side">
<div *ngFor="let item of listRight" [ngClass]="{'highlighted': item.isSelected}">
    <div [formGroup]="form">
    <label (click)="clickLable($event, item)">
        <span>{{item.label}}</span>
    </label>
    </div>
</div>
</div>
<div class="right-block-list-side">
    <ng-container [ngSwitch]="selectedNode2.key">
        <ng-container *ngSwitchCase="0">
            <ng-container *ngTemplateOutlet="docGroup"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="18">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="19">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="20">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="3">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="4">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="5">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="6">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="7">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="8">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="9">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="10">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="11">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="12">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="13">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="14">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="15">
            <ng-container *ngTemplateOutlet="docGroupCard"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="16">
            <ng-container *ngTemplateOutlet="none"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="17">
            <ng-container *ngTemplateOutlet="docGroup"></ng-container>
        </ng-container>
    </ng-container>
</div>
</div>

Правая часть(картотеки с документами)
<ng-template #docGroup>
    <eos-right-side-doc-group-in-file-card
        style="width: 100%;"
        [selectedNode2]="selectedNode2"
        [curentUser]="curentUser"
        (Changed)="checkChange()"
    ></eos-right-side-doc-group-in-file-card>
</ng-template>
Правая часть(картотеки с документами и огрничением)
<ng-template #docGroupCard>
    <eos-right-side-doc-group-and-restriction-in-file-card
        style="width: 100%;"
        [selectedNode2]="selectedNode2"
        [curentUser]="curentUser"
        (Changed)="checkChange()"
    ></eos-right-side-doc-group-and-restriction-in-file-card>
</ng-template>
Правая часть(картотеки)
<ng-template #none>
    <eos-right-side-list-card
        style="width: 100%;"
        [selectedNode2]="selectedNode2"
        [curentUser]="curentUser"
        (Changed)="checkChange()"
    ></eos-right-side-list-card>
</ng-template>
</div>
<div *ngIf="!flagCardFileAvailability">
<h1 class="warning-record">Отсутствуют картотеки!</h1>
</div>
</div>


<div class="spinner-wrapper" *ngIf="isLoading && flagCardFileAvailability">
        <eos-spinner [size]="'lg'"></eos-spinner>
</div> -->


<div class="right-delo-card-wrapper">
    <ng-container [ngSwitch]="pageState">
        <ng-container *ngSwitchCase="'LOADING'">
            <ng-container *ngTemplateOutlet="loader"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'EMPTY'">
            <ng-container *ngTemplateOutlet="empty"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'VIEW'">
            <ng-container *ngTemplateOutlet="component"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #loader>
    <div class="loader">
        <eos-spinner size="lg"></eos-spinner>
    </div>
</ng-template>

<ng-template #empty>
    <h1 class="empty">
        Отсутствуют картотеки!
    </h1>
</ng-template>

<ng-template #component>
    <eos-user-params-header
        [title] = "titleHeader"
        [link] = "editableUser.ISN_LCLASSIF"
        [selfLink] = "selfLink"
        [disableBtn] = "btnDisabled"
        (submitEmit) = "submit()"
        (cancelEmit) = "cancel()"
        (editEmit) = "edit()"
        (closeEmit) = "close()"
    ></eos-user-params-header>
    <section class="content">
        <article class="left-block">
            <div *ngFor="let item of funcList"
                class="item-func-list"
                (click)="selectFuncNum(item)"
                [ngClass]="{'highlighted': item.isSelected}"
            >
                {{item.label}}
            </div>
        </article>
        <article
            class="right-block"
            *ngIf="editMode"
        >
            <eos-list-card-right></eos-list-card-right>
            <div *ngFor="let i of temp">
                component {{i}}
            </div>
        </article>
    </section>
</ng-template>
