<div class="input-user-absolute-rights-wrapper">
    <eos-user-params-header [title]="titleHeader" [disableBtn]="btnDisabled" [editMode]="editMode"
        (submitEmit)="submit()" (cancelEmit)="cancel()" (editEmit)="edit()"></eos-user-params-header>
    <div class="input-user-absolute-rights">
        <div class="left-block-list-absolute-rights">
            <div class="list-card-files" *ngFor="let item of listRight" [ngClass]="{'highlighted': item.isSelected}">
                <div [formGroup]="form">
                    <label class="checkbox" [ngClass]="{'disabled': !editMode}" (click)="[clickLable($event, item), checkRcpd($event, item)]">
                        <input type="checkbox" hide [formControlName]="item.key" [id]="item.key">
                        <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                        </span>
                        {{item.label}}
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading; else spiner">
            <div class="right-block-list-absolute-rights" *ngIf="rightContent && selectedNode">
                <ng-container [ngSwitch]="selectedNode.contentProp">
                    <!-- docGroup -->
                    <ng-container *ngSwitchCase="0">
                        <ng-container *ngTemplateOutlet="rightDocGroup"></ng-container>
                    </ng-container>

                    <!-- none -->
                    <ng-container *ngSwitchCase="2">
                        <ng-container *ngTemplateOutlet="none"></ng-container>
                    </ng-container>

                    <!-- department -->
                    <ng-container *ngSwitchCase="3">
                        <ng-container *ngTemplateOutlet="department"></ng-container>
                    </ng-container>

                    <!-- departmentCardAuthor -->
                    <ng-container *ngSwitchCase="4">
                        <ng-container *ngTemplateOutlet="department"></ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="5">
                        <ng-container *ngTemplateOutlet="editOrganiz"></ng-container>
                    </ng-container>

                    <!-- classif -->
                    <ng-container *ngSwitchCase="6">
                        <ng-container *ngTemplateOutlet="classif"></ng-container>
                    </ng-container>

                    <!-- all -->
                    <ng-container *ngSwitchCase="7">
                        <ng-container *ngTemplateOutlet="all"></ng-container>
                    </ng-container>

                    <!-- departmentCardAuthorSentProject -->
                    <ng-container *ngSwitchCase="8">
                        <ng-container *ngTemplateOutlet="department"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="9">
                            <ng-container *ngTemplateOutlet="departOrganiz"></ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------Отображение правой стороны------------------------------- -->

<!-- пустой -->
<ng-template #none>
    None!!!
</ng-template>

<!-- Подраздиления (Ограничить картотекой Автора) -->
<ng-template #department>
    <eos-right-absolute-department style="width: 100%;" [editMode]="editMode" [selectedNode]="selectedNode" [curentUser]="curentUser" [listRigth]="listRight"
        (Changed)="checkChange($event)" (createRcpdD)="createRcpdD()" (emitDeletedRc)="checkRcpdDelete(false)"></eos-right-absolute-department>
</ng-template>

<!-- всех/незаполненых -->
<ng-template #all>
    <eos-dynamic-input *ngIf="formGroupAll" class="inline-block" [input]="inputAll['all']" [form]="formGroupAll"
        [readonly]="formGroupAll.get('all').disabled"></eos-dynamic-input>
</ng-template>

<!-- Группы документов -->
<ng-template #rightDocGroup>
    <eos-right-absolute-doc-group style="width: 100%;" [editMode]="editMode" [selectedNode]="selectedNode" [curentUser]="curentUser"
        (Changed)="checkChange()"></eos-right-absolute-doc-group>
</ng-template>

<ng-template #classif>
    <eos-absolute-rights-classif style="width: 100%;" [editMode]="editMode" [selectedNode]="selectedNode" [curentUser]="curentUser"
        (Changed)="checkChange()" (allNotCheck)="changedAll($event)"></eos-absolute-rights-classif>
</ng-template>

<ng-template #departOrganiz>
    <div style="height: 100%;">
        <div style="height: 50%;position: relative;">
            <eos-right-absolute-depart-organiz style="width: 100%;" [editMode]="editMode" [selectedNode]="selectedNode" [curentUser]="curentUser" [listRigth]="listRight"
            (Changed)="checkChange($event)" (createRcpdD)="createRcpdD()" (emitDeletedRc)="checkRcpdDelete(false)" (independetRight)="addIndepRights()"></eos-right-absolute-depart-organiz>
        </div>
        <hr style="margin-bottom: 5px;margin-top: 5px;" />
        <div style="height: 47%;position: relative;">
            <eos-right-absolute-organiz-depart style="width: 100%;" [editMode]="editMode" [selectedNode]="selectedNode" [curentUser]="curentUser" [listRigth]="listRight"
            (Changed)="checkChange($event)" (createRcpdD)="createRcpdD()" (emitDeletedRc)="checkRcpdDelete(false)"></eos-right-absolute-organiz-depart>
        </div>
    </div>
</ng-template>

<ng-template #editOrganiz>
    <eos-dynamic-input *ngIf="formGroupAll" class="inline-block" [input]="inputAll['all']" [form]="formGroupAll"
        [readonly]="formGroupAll.get('all').disabled"></eos-dynamic-input>
    <eos-organiz-edit-type *ngIf="this.selectedNode?.value" style="width: 100%;" [editMode]="editMode" [selectedNode]="selectedNode" [curentUser]="curentUser"
        (Changed)="checkChange()">
    </eos-organiz-edit-type>
</ng-template>
<ng-template #spiner>
    <eos-spinner size="lg" class="content-absolute"></eos-spinner>
</ng-template>
