.input-user-absolute-rights-wrapper {

        .input-user-absolute-rights {
            position: relative;

            .left-block-list-absolute-rights {
                // display: inline-block;
                width: 390px;
                height: calc(100vh - 260px);
                overflow-y: scroll;

                .list-card-files {
                    padding-left: 10px;
                }
            }
            .right-block-list-absolute-rights {
                position: absolute;
                top: 0;
                right: 0;
                width: 404px;

                eos-dynamic-input {
                    font-size: 14px;

                    .elem-input-radio {
                        display: inline-block;
                        margin-left: 20px;
                    }
                }
            }
        }
}
