<div class="input-user-wrapper input-user-absolute-rights-wrapper" *ngIf="!isLoading">
    <eos-rights-delo-header
    title="Абсолютные права"
    (submitForm)="submit()"
    (cancelForm)="cancel()"
    [statusBtnSub]="btnDisabled"
></eos-rights-delo-header>

<div class="user-input-group">
<div class="left-block-list-absolute-rights">
        <ul class="list-card-files"
        *ngFor="let item of fields; let i = index;">
            <li (click)="selectedNode(item.title)">
                    <eos-dynamic-input
                        [ngClass]="{'highlighted': item.isSelected}"
                        [input]="inputAttach['rec.' + item.key]"
                        [form]="formAttach"
                        [readonly]="false"
                    ></eos-dynamic-input>
        </li>
    </ul>      
</div>
<div class="right-block-list-absolute-rights">
    <button
        class="btn btn-primary"
        (click)="openDirectoryModal()"
        >Справочники
    </button>
</div>
</div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading">
    <eos-spinner [size]="'lg'"></eos-spinner>
</div>