<div class="main-container main-theme" [ngClass]="{'hide': !firstLoadAuth || !isLoadedPlugins, 'login-fon': !isAuthorized || !isLoadedPlugins}">
    <eos-header *ngIf="isAuthorized"></eos-header>
    <div class="content-wrapper">
        <div class="content-outlet">
            <router-outlet></router-outlet>
        </div>
        <div class="messages-wrapper">
            <eos-messages></eos-messages>
        </div>
        <div class="navbar-fixed-bottom row-fluid selected-text text-center" *ngIf="false" [ngClass]="checkQueryParams()"> <!-- показывать версию пусть будет всегда недоступно -->
            <span>ДЕЛО. Сборка: {{version}}. Все права защищены. ЭОС</span>
        </div>
    </div>
</div>

<div id="loadblock" *ngIf="!firstLoadAuth || !isLoadedPlugins">
    <div id="loading">
        <i class="fa fa-spinner fa-pulse fa-fw selected-text lg bl"></i>
    </div>
</div>
