@import "./eos-user-params.component";
@import "./user-params-set/user-param-cabinets/user-param-cabinets.component";
@import "./user-params-set/user-param-rc/user-param-rc.component";
@import "./user-params-set/user-param-directories/user-param-directories.component";
@import "./user-params-set/user-param-search/user-param-search.component";
@import "./user-params-set/user-param-visualization/user-param-visualization.component";
@import "./user-params-set/user-param-external-application/user-param-external-application.component";
@import "./user-params-set/user-param-other/user-param-other.component";
@import "./email-address/email-address.component";
@import "./rights-delo/rights-cabinets/rights-card-files.component";
@import "./rights-delo/rights-delo-absolute-rights/rights-delo-absolute-rights.component";
@import "./rights-delo/rights-delo-absolute-rights/right-department/right-department.component";
@import "./rights-delo/rights-delo-absolute-rights/right-doc-group/right-doc-group.component";
@import "./rights-delo/rights-delo-absolute-rights/absolute-rights-classif/absolute-rights-classif.component";
@import "./rights-delo/rights-delo-cards/rights-delo-cards.component";
@import "./rights-delo/rights-delo-cards/list-card/list-card.component";
@import "./base-param/base-param.component";
@import "./shared/list-docs-tree/list-docs-tree.component";
@import "./user-params-set/user-param-el-signature/user-param-el-signature.component.scss";
@import "./user-params-set/user-param-registration-remaster/user-param-registration-remaster.component.scss";
@import "./user-params-set/user-param-registration-remaster/remaster-email/remaster-email.component";
