eos-dynamic-input {
    font-size: 16px;
}

.input-param-wrapper {
    border: 1px solid $border-color-main-theme;
    background: $white;

    .form-wrap {
        padding: 20px;

        hr {
            margin-top: 0;
        }
    }
}
