<div class="param-wrap">
    <div class="param">
        <eos-param-header [title]="titleHeader"></eos-param-header>


        <div class="eos-param-other">
            <h1>Param WEB</h1>
        </div>
    </div>
</div>






<!-- <div class="form">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-item" *ngFor="let ctrl of inputs">
                <div class="form-group">
                    <eos-dynamic-input
                        [input]="ctrl"
                        [form]="form"
                        [readonly]="false"
                    ></eos-dynamic-input>
                </div>
            </div>
        </div>
    </div>
</div> -->

