<div *ngIf="!isLoading">
    <button
        class="btn"
        triggers="hover"
        tooltip="Добавить"
        placement="bottom"
        containerClass="tooltip-info"
        (click)="addDoc()"
    >
        <span class="eos-icon eos-icon-plus-blue small"></span>
    </button>
    <button
        class="btn"
        #del="bs-tooltip"
        tooltip="Удалить"
        placement="bottom"
        containerClass="tooltip-info"
        [disabled]="!curentNode"
        (click)="DeleteDoc(); del.hide()"
    >
        <span class="eos-icon eos-icon-bin-forever-blue small"></span>
    </button>


    <eos-list-doc-tree
        [listNode]="list"
        (select)="select($event)"
        (checkedNode)="checkedNode($event)"
    ></eos-list-doc-tree>
</div>

<div *ngIf="isShell" class="shell"></div>
