<div *ngIf="!isLoading">
    <button
        class="btn"
        tooltip="Добавить"
        placement="bottom"
        containerClass="tooltip-info"
        (click)="addDoc()"
    >
        <span class="eos-icon eos-icon-plus-blue small"></span>
    </button>
    <button
        class="btn"
        tooltip="Удалить"
        placement="bottom"
        containerClass="tooltip-info"
        [disabled]="!selectedDep"
        (click)="DeleteDoc()"
    >
        <span class="eos-icon eos-icon-bin-forever-blue small"></span>
    </button>


    <eos-list-doc-tree
        [listNode]="list"
        (select)="select($event)"
    ></eos-list-doc-tree>
</div>
