<div class="right-dep-list" *ngIf="!isLoading">
    <button
        class="btn"
        tooltip="Добавить должностное лицо"
        placement="bottom"
        triggers="hover"
        containerClass="tooltip-info"
        (click)="addDep()"
    >
        <span class="eos-icon eos-icon-plus-blue small"></span>
    </button>
    <button
        class="btn"
        tooltip="Удалить должностное лицо"
        #itemTooltip= 'bs-tooltip'
        placement="bottom"
        triggers="hover"
        containerClass="tooltip-info"
        [disabled]="!selectedDep"
        (click)="itemTooltip.hide(); DeleteDep()"
    >
        <span class="eos-icon eos-icon-bin-forever-blue small"></span>
    </button>

    <div *ngIf="selectedNode && selectedNode.contentProp === 8">
        <label class="checkbox">
            <input type="checkbox"
            [checked]="selectedNode.value === 2 ? true : false"
            hide
            (change)="markedSendPrj($event)">
            <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
            Разрешить операцию рассылки проекта резолюции
        </label>
    </div>

    <div *ngFor="let dep of listUserDep"
        (click)="selectNode(dep)"
        [ngClass]="{'highlighted': dep.isSelected}">
    {{dep['department'].CLASSIF_NAME}}</div>
</div>

<div *ngIf="isShell" class="shell"></div>
