.input-user-card-files-directory-modal-wrapper {
    label {
        font-size: 12px;
    }

    .list-card-files {
        list-style: none;
    }

    .empty-wall {
        height: 70vh;
    }

    max-height: 70vh;
    overflow-y: auto;
}
