<div class="input-user-wrapper input-user-card-files-directory-modal-wrapper">
<header>
    <eos-rights-delo-header
        [title]="titleHeader"
        (submitForm)="submitDirectoryModal()"
        (cancelForm)="cancel()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
</header>

<div class="user-input-group">
 <div *ngIf="!isLoading">
    <ul class="list-card-files"
        *ngFor="let key of fieldKeysforCardFiles2; let i = index;">
        <li>
                    <eos-dynamic-input
                    [input]="inputs['rec.' + key[0]]"
                    [form]="form"
                    [readonly]="false"
                    ></eos-dynamic-input>
        </li>
    </ul>
</div>
<div [ngClass]="{'empty-wall': isLoading}">
<div class="spinner-wrapper" *ngIf="isLoading">
        <eos-spinner [size]="'lg'"></eos-spinner>
    </div>
</div>
</div>
</div>