
<div class="test-form">
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <!-- <bs-datepicker-container #datepicker></bs-datepicker-container> -->
            <bs-datepicker-inline
                id="bsdatp"
                [bsValue]="bsInlineValue"
                [bsConfig]="bsDatepickerCfg"
                (bsValueChange)="onDateChange($event)"
                (mousemove)="onDataMouseMove($event)"
                >
            </bs-datepicker-inline>

            <eos-datepicker-inline
                #datepicker
                [bsValue]="bsInlineValue"
                [getClassForDate]="getClassForDate.bind(this)"
                (bsValueChange)="onDateChange($event)"
            >
                <!-- [bsConfig]="bsDatepickerCfg" -->
                <!-- (bsBeforeShowDay)="beforeShowDay($event)" -->
                <!-- (bsValueChange)="onDateChange($event)" -->
                <!-- (mousemove)="onDataMouseMove($event)" -->
            <!-- [bsValue]="bsInlineValue"
            [bsConfig]="bsDatepickerCfg"
            (bsBeforeShowDay)="beforeShowDay($event)"
            (bsValueChange)="onDateChange($event)"
            (mousemove)="onDataMouseMove($event)" -->

            </eos-datepicker-inline>


        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4 test-item"
                *ngFor="let ctrl of inputs">
                    <div class="form-group">
                        <eos-dynamic-input [input]="ctrl"
                        [form]="form"
                        [readonly]="false"></eos-dynamic-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



