<div class="input-user-wrapper input-user-directories-wrapper" *ngIf="inputs">
    <eos-user-params-header [title]='titleHeader' [link]='link' [selfLink]='selfLink' [disableBtn]="btnDisable" [defaultBtn]='true' (submitEmit)='submit($event)' (cancelEmit)='cancel($event)' (editEmit)='edit($event)' (closeEmit)='close($event)' (defaultEmit)='default($event)'></eos-user-params-header>
    <div class="user-input-group ">
        <span class="l-font">Окно справочников</span>
        <hr>
        <eos-dynamic-input [input]="inputs['rec.WINPOS']" [form]="form" [readonly]="false"></eos-dynamic-input>
    </div>
    <hr>
    <div class="user-input-group">
        <span class="l-font">Сортировка результатов поиска</span>
        <hr>
        <eos-dynamic-input [input]="inputs['rec.SORT']" [form]="form" [readonly]="false"></eos-dynamic-input>
    </div>
    <hr>
    <div class="user-input-group">
        <span class="l-font">Поиск представителей организаций по полю</span>
        <hr>
        <div class="user-input-group-section">
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.SRCH_CONTACT_FIELDS_SURNAME']" [form]="form" [readonly]="false"></eos-dynamic-input>
            <span class="span-or">или</span>
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.SRCH_CONTACT_FIELDS_DUTY']" [form]="form" [readonly]="false"></eos-dynamic-input>
            <span class="span-or"> или </span>
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.SRCH_CONTACT_FIELDS_DEPARTMENT']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
    </div>
</div>