.input-user-directories-wrapper {
    eos-dynamic-input{
        font-size: 14px;
    }
    .user-input-group{
        padding-left: 20px;
    }
    .inline-block {
        display: inline-block;
        padding-top: 10px;
    }

    .elem-input-radio {
        font-size: 14px;
        display: inline-block;
        margin-right: 40px;
    }
    
    .input-mar-right .elem-input-radio{
        margin-right: 45px;
    }

    .user-input-group-section {

        .span-or {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
