<div class="eos-nav-param block">
    <span class="eos-sandwich">
        <button class="btn sandwich" (click)="changeState()" [ngClass]="{'active': isWide }">
            <span class="icon eos-icon small" [ngClass]="{'eos-icon-menu-white': isWide, 'eos-icon-menu-blue': !isWide}"></span>
        </button>
    </span>
    <span *ngIf="title"
        tooltip="{{title}}"
        placement="bottom"
        container="body"
        containerClass="tooltip-info word-break" 
        class="nav-text breadcrumb-item selected-text l-font">
        {{title}}
    </span>

    <!--<span class="pull-right">
        <eos-pushpin [infoOpened]="false"></eos-pushpin>
    </span>-->
</div>
