.param-wrap {
    text-align: center;

    .param {
        display: inline-block;
        border: solid 1px $border-color-main-theme;
        background: $white;
        width: 800px;
    }
}
.param-elem {
    width: 80px;
    padding-top: 6px;
    float: left;
}
.eos-param-other {
    color: red;
}
