.journal-tr-doc {
    .add-to-juornal-radio {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .elem-input-radio {
            display: inline-block;
        }
        eos-dynamic-input > div > eos-dynamic-input-radio > div > div:nth-child(1) > label {
            width: 155px;
        }
    }
    .add-to-juornal {
        display: flex;
        justify-content: flex-start;
        .form-group {
            margin-right: 20px;
        }
    }
    .add-j-title {
        padding-bottom: 13px;
        margin-right: 20px;
    }
}
