<div class="input-user-wrapper input-user-cabinets-rk-forwarding-wrapper"
*ngIf="inputs">
<eos-user-header
        [title]="titleHeader"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        (defaultForm)="default()"
        [statusBtnSub]="btnDisabled"
    ></eos-user-header> 
    <div class="tabs-wrapper usual-border border-bottom">
        <ul class="tabs">
            <li class="tab-item"
                *ngFor="let tab of fieldGroupsForCabinets; let i = index"
                [ngClass]="{'active': i === currTab}"
                (click)="setTab(i)">
                <span class="tab-title">{{tab}}</span>
            </li>
        </ul>
</div>

<div [hidden]="currTab !== 0"
    class="clearfix">
  <div class="user-input-group">
        <span class="l-font">Подсвечивать новые записи в папке</span>
        <hr>
        <div class="cabinets-highlight-new-enntries-in-the-folder">
                <eos-dynamic-input
                [input]="inputAttach['rec.FOLDERCOLORSTATUS_RECEIVED']"
                [form]="formAttach"
                [readonly]="false"
                ></eos-dynamic-input>
                <eos-dynamic-input
        [input]="inputAttach['rec.FOLDERCOLORSTATUS_HAVE_LEADERSHIP']"
        [form]="formAttach"
        [readonly]="false"
        ></eos-dynamic-input>
        <eos-dynamic-input
        [input]="inputAttach['rec.FOLDERCOLORSTATUS_PROJECT_MANAGEMENT']"
        [form]="formAttach"
        [readonly]="false"
        ></eos-dynamic-input>
            </div>
            <div class="cabinets-highlight-new-enntries-in-the-folder">
                    <eos-dynamic-input
                    [input]="inputAttach['rec.FOLDERCOLORSTATUS_FOR_EXECUTION']"
                    [form]="formAttach"
                    [readonly]="false"
                    ></eos-dynamic-input>
                    <eos-dynamic-input
            [input]="inputAttach['rec.FOLDERCOLORSTATUS_FOR_CONSIDERATION']"
            [form]="formAttach"
            [readonly]="false"
            ></eos-dynamic-input>
            <eos-dynamic-input
            [input]="inputAttach['rec.FOLDERCOLORSTATUS_ON_SIGHT']"
            [form]="formAttach"
            [readonly]="false"
            ></eos-dynamic-input>
            </div>
            <div class="cabinets-highlight-new-enntries-in-the-folder">
                    <eos-dynamic-input
                    [input]="inputAttach['rec.FOLDERCOLORSTATUS_UNDER_CONTROL']"
                    [form]="formAttach"
                    [readonly]="false"
                    ></eos-dynamic-input>
                    <eos-dynamic-input
            [input]="inputAttach['rec.FOLDERCOLORSTATUS_INTO_THE_BUSINESS']"
            [form]="formAttach"
            [readonly]="false"
            ></eos-dynamic-input>
            <eos-dynamic-input
            [input]="inputAttach['rec.FOLDERCOLORSTATUS_ON_THE_SIGNATURE']"
            [form]="formAttach"
            [readonly]="false"
            ></eos-dynamic-input>
                </div>
        </div>
    <hr>
    <div class="user-input-group">
            <eos-dynamic-input
            class="inline-block"
            [input]="inputAttach['rec.HILITE_RESOLUTION_BOOLEAN']"
            [form]="formAttach"
            [readonly]="false"
            (change)="checkDataToDisabled('HILITE_RESOLUTION_BOOLEAN', false)"
       ></eos-dynamic-input>
       <div class="user-input-increment-cabinets">
            <eos-dynamic-input
                [input]="inputAttach['rec.HILITE_RESOLUTION_INCREMENT']"
                [form]="formAttach"
            ></eos-dynamic-input>
        </div>
        <span class="user-input-span-for-increment-cabinets">дней и ранее</span>
       <eos-dynamic-input
            class="inline-block"
            [input]="inputAttach['rec.HILITE_PRJ_RC_BOOLEAN']"
            [form]="formAttach"
            [readonly]="false"
            (change)="checkDataToDisabled('HILITE_PRJ_RC_BOOLEAN', false)"
       ></eos-dynamic-input>
       <div class="user-input-increment-cabinets">
            <eos-dynamic-input
                [input]="inputAttach['rec.HILITE_PRJ_RC_INCREMENT']"
                [form]="formAttach"
            ></eos-dynamic-input>
        </div>
        <span class="user-input-span-for-increment-cabinets" style="padding-bottom: 10px;">дней и ранее</span>
        <span>Список сортировки в кабинетах: </span>
        <eos-dynamic-input
                    class="inline-block"
                    [input]="inputs['rec.CABSORT_ISN_DOCGROUP_LIST']"
                    [form]="form"
                    [readonly]="false"
                ></eos-dynamic-input>
        <eos-dynamic-input
            [input]="inputs['rec.SCRATCH_RC']"
            [form]="form"
            [readonly]="false"
       ></eos-dynamic-input>
       <eos-dynamic-input
            [input]="inputs['rec.INPUT_REP_RC_WITHOUT_RES_DELETE_FROM_CAB']"
            [form]="form"
            [readonly]="false"
       ></eos-dynamic-input>
       <eos-dynamic-input
            [input]="inputs['rec.SCRATCH_RESOL']"
            [form]="form"
            [readonly]="false"
       ></eos-dynamic-input>
    </div>
    <hr>
    <div class="user-input-group">
            <div>
                <span>Максимальное количество записей:</span>
                    <eos-dynamic-input
                        class="inline-block"
                        [input]="inputs['rec.FOLDER_ITEM_LIMIT_RESULT']"
                        [form]="form"
                        [readonly]="false"
                    ></eos-dynamic-input>
                </div>
            </div>
        </div>
</div>