.header {
    padding: 15px;
    position: relative;
    border-bottom: solid 1px #e6e6e6;
    background: #fafafa;
    .header__text-wrap {
        text-align: left;
        max-width: calc(100% - 300px);
        .header__text {
            color: #646464;
            font-size: 18px;
        }
    }
    .header__button-wrap {
        position: absolute;
        top: 13px;
        right: 12px;
        .header__button {
            margin-right: 10px;
        }
    }
}
