<div class="eos-param-search">
    <h1>Param Search</h1>
</div>
<ng-template #markTemp>Снять
    <br>пометку</ng-template>
<ng-template #notMarkTemp>Пометить
    <br>элемент</ng-template>


<!-- <div class="node-marker pull-left">
    <label class="checkbox">
    <input type="checkbox">
    <span></span>
    </label>
</div> -->




<!-- <div class="node-marker pull-left">
    <label class="checkbox" [tooltip]="checked ? markTemp : notMarkTemp" containerClass="tooltip-info"
        container="body" placement="bottom">
        <input type="checkbox" [ngModel]="checked" (ngModelChange)="markNode($event)">
        <span></span>
    </label>
</div> -->