$textMainColor: #505050;
$bgLeftSidebar: #E7E7E5;
$bgLeftSidebarActive: #FEE9A9;
$bgHeader: #CAC7BE;
$bgMainArea: #FAF8F5;
$borderTab: #D7D7D2;
$borderTabActive: #EAD597;
$bgHeaderForm: #F1EEE8;
$bgColorInput: #646464;
$bgInitial: #FFFFFF;
$bgButton: #E9E6DF;
$bgButtonSave: #E4DFD2;

@mixin settings-icon {
    background-size: 75% 58%;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin style-title-bookmarks {
    display: inline-block;
    width: 100%;
    padding: 2px 10px;
    background-color: $bgHeaderForm;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

@mixin reset-style-title-bookmarks {
    background-color: initial !important;
    font-weight: initial !important;
}

@mixin style-other-button {
    padding: 4px;
    margin: 0;

    span.eos-icon {
        height: 23px;
        width: 23px;
        margin-bottom: 0;
        background-size: 23px 21px;
        background-repeat: no-repeat;
    }

    span.eos-icon-plus-blue,
    span.eos-icon-folder-blue {
        background-image: url("assets/icons/Icon-Add-UserSettings.svg");
    }

    span.eos-icon-bin-forever-blue,
    span.eos-icon-close-blue,
    span.eos-icon-close-grey,
    span.eos-icon-bin-forever-grey {
        background-image: url("assets/icons/Icon-Delete-UserSettings.svg");
    }

    span.eos-icon-info-grey,
    span.eos-icon-info-blue {
        width: 24px;
        background-image: url("assets/icons/Icon-Info-UserSettings.svg");
    }
}

@mixin style-horizontal-line {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    border-top: 1px solid $bgButton;
}

@mixin style-arrow-button {
    content: "";
    width: 16px;
    height: 15px;
    background-image: url("assets/icons/Counter-UserSettings.svg");
    background-repeat: no-repeat;
}

@mixin set-margin-for-dynamic-ipnputs {
    &>eos-dynamic-input {
        margin-left: 20px;

        &:first-of-type {
            margin-top: 15px;
        }

        &:last-of-type {
            margin-bottom: 15px;
        }
    }
}

//скрываем номер сборки
.main-container div.content-wrapper>div:last-child {
    display: none;
}

//сбрасываем margin вокруг рамки
.content-wrapper,
.content-outlet {
    margin: 0px;
}

.current-settings {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $textMainColor;

    .left {
        position: absolute;
        top: 45px;
        left: 0px;
        background-color: $bgLeftSidebar;

        .params-nav-list {
            top: 0;
            left: 0;
            width: 108px;
            min-width: 108px;
            height: 100vh;
            text-align: center;
            background: $bgLeftSidebar;
            border-radius: 0;

            .list-group {
                display: flex;
                flex-direction: column;
                margin: 0;
                border-radius: 0;

                &>li:first-child {
                    border: 0;
                }

                &-item {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 45px;
                    background: inherit;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .active-element-param {
                    background: $bgLeftSidebarActive;
                    border: 1px solid $borderTabActive;
                }
            }
        }
    }

    .main {
        width: 100%;
        height: 100vh;
        margin: 0;
        overflow: auto;
        background: $bgMainArea;

        /* общие стили */
        .input-user-wrapper,
        .input-user-shablony-wrapper {

            /* расположение блока с основной информацией*/
            &>div:not(.pad-other-set) {
                margin-right: 20px;
                margin-left: 110px;
                margin-top: 20px;

                &:last-of-type {
                    padding: 0 20px;
                }
            }

            /* шапка */
            header {
                position: initial;

                .header-wr {
                    background-color: $bgHeader;
                    width: 100%;
                    height: 45px;
                    min-height: 46px;
                    padding-left: 58px;

                    &::before {
                        content: url("assets/icons/Icon-Gear-UserSettings.svg");
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 45px;
                        height: 45px;
                    }

                    .buttons-wrapper {
                        position: absolute;
                        bottom: 0px;
                        right: 20px;
                        width: inherit;
                        margin-bottom: 20px;

                        &>div {
                            flex-direction: row-reverse;
                            justify-content: flex-start;
                            margin-right: 20px;

                            button:first-child {
                                position: absolute;
                                top: 22px;
                                left: 138px;
                            }
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 95%;
                            height: 1px;
                            margin-bottom: 15px;
                            border: 1px solid #E9E6DF;
                        }

                        .btn {
                            min-width: 100px;
                            padding: 10px 4px;
                            color: $textMainColor;
                            border: 1px solid $borderTab;
                            background-color: $bgButton;

                            &.btn-primary-full {
                                background-color: $bgButtonSave;
                            }

                            &:hover {
                                background-color: $bgLeftSidebarActive;
                            }
                        }
                    }
                }
            }

            /* горизонтальный переключатель вкладок */
            &>div.tabs-wrapper {
                justify-content: flex-start;
                padding-right: 0;
                border: none;

                ul.tabs {
                    display: flex;
                    height: 35px;
                    color: $textMainColor;
                    font-weight: bold;

                    li.tab-item {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 170px;
                        height: inherit;
                        padding: 0;
                        margin-right: 0px;
                        border: 1px solid $borderTab;
                        background-color: $bgLeftSidebar;

                        &>span {
                            text-align: center;
                            line-height: 14px;
                        }

                        &.active {
                            border: 1px solid $borderTabActive;
                            background-color: $bgLeftSidebarActive;
                            color: $textMainColor !important;
                        }
                    }
                }
            }

            .accordion-position {
                width: inherit;
                border: none;
                background-color: inherit;

                &-main {
                    width: 87vw;
                }
            }

            .set-header,
            .user-group-form,
            .inputs-inline,
            .cab-mar-span {
                margin: 0;

                >span:not(.input-title):first-child {
                    @include style-title-bookmarks;
                }
            }

            /* инпуты, чекбоксы, выпадаки */
            div.user-group-form,
            div.form-group {
                @include set-margin-for-dynamic-ipnputs;

                eos-dynamic-input {
                    &:not(.incr-scan) {
                        width: 100%;
                    }

                    div.form-group {
                        margin: 0;
                    }

                    &-checkbox {
                        &>div {
                            //margin: 0 20px;

                            label.checkbox {
                                height: 22px;
                                line-height: initial;
                                margin: 0 !important;

                                input[type="checkbox"]+span {
                                    margin: 0 8px 0 0;
                                    line-height: initial;
                                    background-image: url("assets/icons/Checkbox-UserSettings-Black.svg");
                                    @include settings-icon;
                                }

                                input[type="checkbox"]:checked+span {
                                    margin: 0 8px 0 0;
                                    line-height: initial;
                                    background-image: url("assets/icons/Checkbox-UserSettings-V-Black.svg");
                                    @include settings-icon;
                                }
                            }
                        }
                    }

                    &-radio {
                        &>div {
                            //margin: 15px 20px;

                            label.radio {
                                height: 22px;
                                line-height: initial;
                                margin: 0 !important;

                                input[type="radio"]+span {
                                    margin: 0 5px 0 0;
                                    line-height: initial;
                                    background-image: url("assets/icons/Radio-UserSettings-Black.svg");
                                    @include settings-icon;
                                }

                                input[type="radio"]:checked+span {
                                    margin: 0 5px 0 0;
                                    line-height: initial;
                                    background-image: url("assets/icons/Radio-UserSettings-V-Black.svg");
                                    @include settings-icon;
                                }
                            }
                        }
                    }

                    &-select2 {
                        input.text-input-select2.form-control {
                            height: 24px;
                            min-height: 24px;
                            padding: 2px 8px;
                            background: $bgInitial;
                            border: 1px solid #676869;
                        }

                        div.inbutton {
                            top: 2px;
                        }

                        span.eos-icon-checkbox-blue {
                            background-image: url("assets/icons/Checkbox-UserSettings-Grey.svg");
                        }

                        span.eos-icon-arrow-v-blue-bottom {
                            background-image: url("assets/icons/Arrow-V-UserSettings-Grey.svg");
                        }
                    }

                    &-increment-number {
                        div.input-increment-inline-block {
                            width: 50px;
                            min-width: 50px;

                            div.input-increment {
                                min-width: inherit;
                                padding: 0;

                                input {
                                    padding: 0 0 2px 6px;
                                }

                                span {
                                    &.decrease {
                                        top: 0px;
                                        right: -7px;

                                        &:before {
                                            @include style-arrow-button;
                                            transform: rotate(180deg);
                                        }
                                    }

                                    &.increase {
                                        top: -7px;
                                        right: -7px;

                                        &:before {
                                            @include style-arrow-button;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-string {
                        label {
                            display: none;
                        }

                        input.form-control {
                            height: 24px;
                            min-height: initial;
                            background-color: $bgInitial;
                        }
                    }
                }
            }

            accordion.accordion-position-main {
                width: 90.5vw;

                accordion-group.panel {
                    div.panel-heading {
                        background: $bgInitial;

                        button.btn-link {
                            color: $textMainColor;
                        }

                        span.eos-icon-arrow-v-blue-bottom {
                            background-image: url("assets/icons/Arrow-V-UserSettings-Grey.svg");
                        }
                    }

                    span.eos-icon-open-folder-blue,
                    span.eos-icon-close-folder-blue {
                        background-image: url("assets/icons/Open-Close-UserSettings-Folder-Grey.svg");
                    }

                }
            }
        }

        .scrollWrapper {
            max-height: calc(100vh - 205px) !important;
        }

        /* частные стили для вкладок */

        //вкладка Регистрация
        eos-registration-remaster {
            .user-param-registration-content-wrapper {
                eos-dop-operation {
                    &>div.user-group-form {

                        &:nth-child(3),
                        &:nth-child(4) {
                            div.inputs-inline {
                                @include set-margin-for-dynamic-ipnputs;
                            }
                        }
                    }
                }

                eos-remaster-addresses {
                    div.user-input-group {
                        position: relative;
                        margin-top: 25px;

                        span:first-child {
                            flex-basis: 280px;
                            line-height: initial;
                            text-align: right;
                        }

                        span.get-new-org {
                            flex: 1 1 auto;
                            padding-right: 10px;

                            input {
                                width: 100%;
                            }
                        }

                        &>div button {
                            @include style-other-button;
                        }

                        &::before {
                            @include style-horizontal-line;
                            top: -10px;
                        }
                    }
                }

                eos-remaster-scan {
                    div>div.user-group-form {
                        &:first-child {
                            .inputs-inline {
                                position: relative;

                                &>span {
                                    @include style-title-bookmarks;
                                }

                                eos-dynamic-input-radio div {
                                    display: flex;
                                    flex-direction: column;

                                    div.elem-input-radio {
                                        height: 25px;
                                    }
                                }

                                eos-dynamic-input.incr-scan {
                                    position: absolute;
                                    top: 70px;
                                    left: 140px;
                                }

                                div.incr-scan {
                                    position: absolute;
                                    top: 80px;
                                    left: 215px;
                                }
                            }
                        }

                        &:nth-child(2) {
                            >div:first-child>span {
                                @include style-title-bookmarks;
                            }

                            /* выпадающий список */
                            div.radio-form-list {
                                flex-direction: column;
                                margin: -10px 0 15px 20px;

                                >div {
                                    display: flex;
                                    align-items: baseline;
                                    width: 450px !important;
                                    margin: 5px 0;

                                    div.type-scan-sp {
                                        width: 70px;
                                        min-width: 70px;
                                        margin-right: 5px;
                                        text-align: right;
                                    }

                                    eos-dynamic-input {
                                        margin: 0;

                                        div.form-group {
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(3) {
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-top: 40px;

                            &>span {
                                display: block !important;
                                width: 130px !important;
                                margin-left: 20px;
                                margin-right: 5px;
                                padding: 0 !important;
                                background-color: initial !important;
                                font-weight: normal !important;
                                text-align: right;
                            }

                            eos-dynamic-input {
                                margin: 0;

                                div.form-group {
                                    width: 315px;
                                    margin: 0;

                                    input.form-control {
                                        height: 30px;
                                    }

                                    div.inbutton {
                                        top: 5px;
                                    }
                                }
                            }

                            &::before {
                                @include style-horizontal-line;
                                top: -20px;
                            }
                        }
                    }

                    div>eos-dynamic-input {
                        margin: 10px 20px;
                    }
                }

                eos-auto-search {
                    div.user-group-form {
                        &:nth-child(2) {
                            &>div {
                                margin-top: 20px;
                                margin-left: 20px;
                            }
                        }

                        &:nth-child(3) {
                            &>div.sort-link {
                                display: block;
                                position: relative;

                                .sort-sp {
                                    margin: 0 0 10px 20px;
                                }

                                eos-dynamic-input {
                                    margin-left: 20px;
                                }

                                div.flex-column {
                                    position: relative;
                                    bottom: 40px;
                                    left: 315px;
                                    width: 50%;
                                }
                            }
                        }

                        &:nth-child(5) {
                            padding: 15px 20px;

                            div.inputs-inline {
                                display: flex;

                                &>span {
                                    margin-right: 10px;
                                }
                            }

                            div.right-input-pos {
                                justify-content: initial;
                                margin-right: 0;

                                &:nth-child(3) {
                                    margin-left: calc(100% - 420px);
                                }

                                &:nth-child(4) {
                                    &>eos-dynamic-input {
                                        width: 477px !important;
                                    }
                                }
                            }

                            &>eos-dynamic-input {
                                margin: 0;
                            }
                        }

                        ul.search-citizens-in-the-directory-by-fields-radio {
                            padding-left: 20px;

                            eos-dynamic-input:last-child {
                                margin: 0;
                            }

                            li {
                                margin-top: 15px;

                                &:nth-child(5) {
                                    div.def_search_citizen {
                                        margin-left: 104px;

                                        div.elem-input-radio:first-child {
                                            margin-right: 40px;
                                        }
                                    }
                                }
                            }


                            div.def_search_citizen {
                                margin-left: 0;

                                div.elem-input-radio:first-of-type {
                                    margin-right: 13px;
                                }
                            }
                        }
                    }
                }

                eos-remaster-rc {
                    div.user-group-form {
                        &:first-child {
                            margin-top: -20px;
                        }

                        &:last-child {
                            eos-dynamic-input-radio>div {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }

        //вкладка Кабинеты 
        eos-user-param-cabinets {
            .input-user-cabinets-rk-forwarding-wrapper {
                div.user-group-form {
                    &:first-child {
                        eos-dynamic-input {
                            width: 50%;
                            margin-bottom: 15px;
                        }

                        .user-input-increment-cabinets>span {
                            width: 100%;
                            padding-top: 0;
                        }
                    }

                    &:nth-child(3) {
                        div.inputs-inline {
                            margin: -10px 20px 20px;

                            &>.reply-input {
                                margin-top: 10px;
                                margin-left: 0;
                            }
                        }
                    }

                    &:nth-child(4) {
                        .cabinets-highlight-new-enntries-in-the-folder {
                            margin: 20px 20px;
                        }
                    }

                    &:nth-child(5),
                    &:nth-child(6) {
                        margin-left: 20px;

                        div.inputs-inline {
                            display: flex;
                        }
                    }

                    &:nth-child(5) {
                        margin-bottom: 10px;

                        span.input-title {
                            width: 330px;
                        }
                    }

                    &:nth-child(6) {
                        margin-bottom: 0 !important;

                        span.input-title {
                            width: 915px;
                        }
                    }
                }
            }

            .instructions {
                br {
                    display: none;
                }

                div.user-group-form {

                    div.inputs-inline>span {
                        @include style-title-bookmarks;
                    }

                    &:first-child {
                        div.date-resolution {
                            @include set-margin-for-dynamic-ipnputs;
                        }

                        div.elem-input-radio {
                            display: block;
                        }
                    }

                    &:nth-child(2) {
                        div.inputs-inline {
                            @include set-margin-for-dynamic-ipnputs;
                        }
                    }

                    &:nth-child(3) {
                        div.classifDep {
                            padding: 15px 0 15px 20px !important;
                            @include style-other-button;

                            .wr-input {
                                width: 90%;
                            }
                        }
                    }

                    &:nth-child(4) {
                        div.control-state {
                            @include set-margin-for-dynamic-ipnputs;

                            div.elem-input-radio {
                                display: block;
                            }
                        }                       

                        &>eos-dynamic-input {
                            margin-top: 0;
                        }
                    }

                    &:nth-child(5) {
                        margin-left: 0;                       
                    }     
                    
                    &:nth-child(8) {                      
                        .add-to-juornal-radio,
                        .add-to-juornal {
                            @include set-margin-for-dynamic-ipnputs;
                        }

                        .add-to-juornal-radio {                            
                            div.elem-input-radio {
                                display: block;
                            }
                        }

                        .add-to-juornal {
                            display: block;

                            &>eos-dynamic-input:first-of-type {
                                margin-top: 0;
                            }
                        }
                    }

                    &:nth-child(11) {
                        position: relative;
                        margin: 0 0 20px 15px;

                        &>span {
                            @include reset-style-title-bookmarks;
                            width: 170px !important;
                        }

                        &>div {
                            margin-left: 0;
                            width: 375px;
                            height: 20px;
                        }

                        &::before {
                            @include style-horizontal-line;
                            top: -10px;
                        }
                    }

                    &:nth-child(12),
                    &:nth-child(13) {
                        div.inputs-inline {
                            @include set-margin-for-dynamic-ipnputs;
                        }
                    }
                }

                .send-res {
                    @include set-margin-for-dynamic-ipnputs;

                    &>span {
                        @include style-title-bookmarks;
                    }

                    div.elem-input-radio {
                        display: block;
                    }

                    &>div {
                        @include set-margin-for-dynamic-ipnputs;
                    }
                }

                div:nth-child(9) {
                    margin-left: 20px;
                }

                &>eos-dynamic-input {
                    margin-left: 20px;

                    div.form-group {
                        margin: 0 !important;
                    }
                }
            }
        }

        //вкладка РК
        eos-user-param-rc {
            .container-rk {
                max-height: calc(100vh - 150px);
    
                div.user-group-form {
                    &:first-child {
                        &>eos-dynamic-input:first-child {
                            margin-top: 0;
                        }
                    }

                    &:nth-child(2) {
                        div.btn-controll {
                            justify-content: flex-end;
                            margin: 0;
            
                            button {
                                @include style-other-button;
                                padding: 4px 0 0 4px;
                                border-width: 0;
            
                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }

                        div.user-input-group-flex {
                            margin-left: 20px;
                        }
                    }

                    div.inputs-inline.input-right {
                        margin: 15px 20px 15px;

                        &>span {
                            padding-left: 5px;
                        }
                    }
                }
                
                &>eos-dynamic-input {
                    margin-left: 20px;
                }
            }
        }

        //вкладка Справочники
        .wr-scroll-dict {
            div.user-group-form:first-child {
                margin-left: 5px;

                eos-dynamic-input-radio div.ng-pristine {
                    margin-left: -10px;
                }
            }

            div.user-group-form:nth-child(2) {
                display: flex;
                width: 340px;

                span {
                    background-color: transparent;

                    &:last-child {
                        font-weight: normal;
                    }
                }
            }

            >div:not(.user-group-form) {
                height: 80px;

                >span {
                    @include style-title-bookmarks;
                }
            }
        }

        //вкладка Внешний обмен
        .user-param-registration-content-wrapper {
            eos-remaster-email {
                div.accordion-position {
                    // max-height: calc(100vh - 260px);

                    accordion:first-child {
                        accordion-group:first-child {
                            div.accord-wr {
                                margin-bottom: 45px;

                                &>div:last-child {
                                    margin: 10px 0;
                                }
                            }
                        }

                        accordion-group:nth-child(2) {
                            div.accord-wr {
                                div:first-child {
                                    margin-bottom: 10px;

                                    .user-group-form {
                                        margin-left: 0;

                                        &>span:not(:first-child) {
                                            margin-left: 15px;
                                        }
                                    }
                                }

                                div:not(:first-child) {
                                    height: 30px;
                                }
                            }
                        }
                    }

                    .panel-group {
                        margin-bottom: 5px;
                    }
                }
            }

            eos-remaster-seb {
                div.user-group-form {
                    margin-left: 0;

                    &>span {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        //вкладка Электронная подпись
        &.input-user-other-rk-forwarding-wrapper {
            div.user-input-group {
                hr {
                    margin: 70px 0 0 0;
                }

                span.l-font {
                    font-size: 14px;
                    @include style-title-bookmarks;
                }

                &:first-child>div.signature-wr:last-child {
                    margin-bottom: 20px;
                }

                &:nth-child(3) button {
                    color: $textMainColor;
                    border-color: $borderTab;

                    &:first-child {
                        margin-left: 10px;
                    }

                    &:hover {
                        background-color: $bgLeftSidebarActive;
                    }
                }


                &:nth-child(4) {
                    height: 55px;
                }

                &:nth-child(5) {
                    hr {
                        display: none;
                    }

                    div.input-flex {
                        margin-bottom: 80px;
                    }
                }
            }
        }

        //вкладка Визуализация
        .input-user-visualization-wrapper {
            span.l-font {
                @include style-title-bookmarks;
                margin-bottom: 20px;
            }

            hr {
                display: none;
            }

            div.eos-select2 {
                width: 500px;
                margin: 0 10px;
            }
        }

        //вкладка Десктопное приложение
        eos-user-param-external-application {
            .ext-app {
                div.titles-external-application {
                    width: 100%;
                    background-color: #F1eee8;
                    margin-bottom: 20px;

                    span {
                        padding-left: 10px;
                        color: $textMainColor;
                        font-size: 14px;
                        font-weight: bold;

                        &:last-child {
                            padding-left: 42%;
                        }
                    }
                }

                label {
                    padding-left: 10px;
                }

                div.user-input-group {
                    eos-dynamic-input {
                        &:first-child {
                            padding-left: 10px;
                        }

                        &:last-child {
                            width: 35%;
                        }
                    }
                }
            }

            .input-user-directories-wrapper {
                .inputs-inline {
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    margin-bottom: 15px;

                    span.input-title {
                        padding-left: 20px;
                        flex-basis: 1100px;
                    }
                }

                &>div:not(.user-group-form) {
                    &>span {
                        @include style-title-bookmarks;
                    }

                    eos-dynamic-input {
                        padding-left: 20px;

                        &-radio>div {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }

        //вкладка Передача
        .user-param-other-content-wrapper {

            eos-dynamic-input {
                padding-top: 0;

                div.elem-input-radio {
                    height: 20px;

                    &>label {
                        padding-top: 0;
                    }
                }
            }

            eos-user-param-transfer {
                &>div {
                    // height: 75vh;
                }

                div.pad-other-set {

                    &>div.user-group-form:first-child {
                        margin-left: 0;
                    }


                }
            }

            eos-user-param-addresses {
                &>div {
                    position: relative;

                    &>div:first-child>span {
                        @include style-title-bookmarks;
                    }

                    &>div:nth-child(2) {
                        margin-bottom: 20px;

                        &>span {
                            @include reset-style-title-bookmarks;
                            margin-bottom: 20px;
                        }

                        br {
                            display: none;
                        }

                        div.inputs-inline {
                            display: flex;
                            align-items: baseline;
                            padding-left: 10px;

                            &>span {
                                margin-right: 10px;
                            }
                        }
                    }

                    &>div:nth-child(3) {
                        &>p {
                            @include style-title-bookmarks;
                        }

                        &>span {
                            @include reset-style-title-bookmarks;
                            margin-bottom: 0 !important;
                        }
                    }

                    div.user-input-group {
                        padding-left: 10px;

                        eos-dynamic-input {
                            &:nth-child(2) {
                                height: 45px;
                            }

                            &:last-child {
                                padding-left: 10px;
                            }
                        }

                        div.form-group {
                            margin-bottom: 0;
                        }

                        &::after {
                            @include style-horizontal-line;
                            bottom: 250px;
                        }
                    }

                    &>div:nth-child(n+3)>span {
                        @include style-title-bookmarks;
                        margin-bottom: 15px;
                    }
                }
            }

            eos-user-param-reestr {
                &>div {

                    br {
                        display: none;
                    }

                    div.user-input-group>span,
                    div.user-content-wr>span {
                        @include style-title-bookmarks;
                    }

                    div.user-input-group:not(.fl) {
                        &:nth-child(2) {
                            position: relative;
                            padding-left: 10px;
                            margin-bottom: 20px;

                            div.form-group {
                                margin-bottom: 0 !important;
                            }

                            &::before {
                                @include style-horizontal-line;
                                bottom: 70px;
                            }
                        }

                        &:nth-child(4) {
                            eos-dynamic-input {
                                padding-left: 10px;

                                &:first-of-type {
                                    padding-top: 15px;

                                    div.form-group {
                                        margin-bottom: 5px;
                                    }
                                }
                            }

                            br {
                                display: none;
                            }
                        }

                    }

                    div.user-group-form:nth-child(6) {
                        margin-bottom: 20px;

                        div.inputs-inline {
                            display: flex;
                            margin-bottom: 10px;

                            span {
                                width: 520px;
                                text-align: right;
                            }

                            eos-dynamic-input {
                                margin-left: 0 !important;

                                div.form-group {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }

                    div.user-content-wr {
                        div.user-input-group {
                            position: relative;
                            justify-content: flex-end;

                            &-wr {
                                position: absolute;
                                top: 30px;
                                background-color: $bgInitial;
                                border: 1px solid $borderTab;
                                height: 105px;
                            }

                            button {
                                @include style-other-button;
                            }
                        }
                    }
                }
            }
        }

        //вкладка Шаблоны
        eos-user-param-shablony {
            div.table-wrapper {
                width: inherit !important;
                border-style: none;

                .table-header {
                    height: 24px;
                    min-height: 24px;
                    line-height: initial;
                    margin-bottom: 20px;

                    &-content {
                        padding: 0 10px;
                        background-color: #F1eee8;
                    }

                    .header-cust-other {
                        padding: 0;
                        width: 100%;

                        span.text {
                            color: $textMainColor;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        div.l-font {
                            flex-basis: 30%;

                            &:nth-child(2) {
                                margin: 0 20px;
                            }

                            &:last-of-type {
                                flex-basis: 40%;
                            }
                        }
                    }
                }

                .eos-template-list {
                    max-height: calc(100vh - 190px);
                    padding: 0 10px;

                    div.template-list-wrapper {
                        margin-bottom: 20px;

                        span {
                            flex-basis: 30%;
                            padding: 0;

                            &:nth-child(2) {
                                margin: 0 20px;
                            }
                        }

                        eos-dynamic-input.temlate_list_item {
                            flex-basis: 40%;
                            padding-left: 10px;

                            div.form-group {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}