<div class="eos-dictionary-filter">
    <div [ngClass]="{'hidden': !hasDate}"
        class="date-filter-wrapper">
        <span class="date">Состояние на: </span>
        <span><eos-dynamic-input [input]="inputs[0]"
            [readonly]=inputs[0].readonly
            [form]="searchForm"></eos-dynamic-input>
        </span>
    </div>
    <div [ngClass]="{'hidden': !hasYear}"
         class="year-filter-wrapper">
        <span class="text">Состояние на:&nbsp;</span>
        <span><eos-dynamic-input
                                 [input]="inputs[1]"
                                 [readonly]=inputs[1].readonly
                                 [form]="searchForm"></eos-dynamic-input>
        </span>
        <span class="clearfix"></span>
        <span class="text">с переходящими</span>
        <span><eos-dynamic-input
            class="cb1"
            [input]="inputs[2]"
            [readonly]=inputs[2].readonly
            [form]="searchForm"></eos-dynamic-input>
            </span>

    </div>

</div>
