<div class="input-user-wrapper input-user-card-files-wrapper">
    <eos-user-params-header
        [editMode]="flagEdit"
        [title]='titleHeader'
        [disableBtn]="btnDisabled"
        (submitEmit)='submit($event)'
        (cancelEmit)='cancel($event)'
        (editEmit)='edit($event)'
    ></eos-user-params-header>
    <div class="user-input-group" *ngIf="!isLoading">
        <!-- <div *ngIf="!flagEdit" class="bacgr-edit"></div> -->
        <div class="card-left">
            <div class="title-cards">
                <span>Картотеки</span>
            </div>
            <div class="card-btn">
                <button class="btn btn-primary-light" [disabled]="!flagEdit" (click)="addCards()" tooltip="Добавить картотеку" placement="bottom" container="body" containerClass="tooltip-info" triggers="hover:click"><span
                        class="eos-icon  small"
                        [ngClass]="flagEdit ? 'eos-icon-plus-blue' : 'eos-icon-plus-grey'"
                    ></span>
                </button>
                <button [disabled]="!currentCard || !flagEdit" class="btn btn-primary-light" (click)="removeCards()"><span
                        tooltip="Удалить картотеку"
                        placement="bottom"
                        containerClass="tooltip-info"
                        triggers="hover:click"
                        class="eos-icon  small"
                        [ngClass]="flagEdit ? 'eos-icon-bin-forever-blue' : 'eos-icon-bin-forever-grey'"></span>
                </button>
                <button [disabled]="!currentCard || !flagEdit" class="btn btn-primary-light" (click)="homeCardMoov()"><span
                        tooltip="Главная"
                        placement="bottom"
                        containerClass="tooltip-info"
                        triggers="hover:click"
                        class="eos-icon  small"
                        [ngClass]="flagEdit ? 'eos-icon-keyfile-blue' : 'eos-icon-keyfile-grey'"
                    ></span>
                </button>
            </div>
            <div class="card-wrr">
                <div class="cards-wr" [ngClass]="card.current && flagEdit ? 'ativeCard' : ''" *ngFor='let card of mainArrayCards'>
                    <span *ngIf='!card.deleted' class="cards-item" [ngClass]="card.homeCard && flagEdit ? 'homeCard' : ''" (click)='selectCurentCard(card)'>{{card.cardName}}</span>
                </div>
                <div *ngIf="!currentCard">
                    <p class="cards-wrd">Картотеки отсутствуют</p>
                </div>
            </div>
        </div>
        <div class="card-rigth" *ngIf="currentCard">
            <div class="title-cards">
                <span>Кабинеты</span>
            </div>
            <eos-cabinets-folders (sendNewValues)="getChangesFromCabinets($event)" [card]="currentCard" [flagEdit]="flagEdit"></eos-cabinets-folders>
        </div>
    </div>
    <div class="user-input-group sp" *ngIf="isLoading">
        <eos-spinner size="lg"></eos-spinner>
    </div>
</div>
