
.input-user-card-files-wrapper{

    > .user-input-group {
        display: flex;
        .card-left{
            position: relative;
            .card-wrr{
                padding-top: 40px;
                overflow: auto;
                max-height: calc(100% - 27px);
            }
        }
        .card-left, .card-rigth{
            margin: 20px;
            border: 1px solid;
            border-color: #e6e6e6;
            border-top: none;
            margin-top: 20px;
            flex-basis: 50%;
            .title-cards{
                border: 1px solid;
                border-color: #e6e6e6;
                border-width: 1px;
                text-align: center;
                span{
                    line-height: 26px;
                    font-size: 18px;
                }
            }
        }
        .card-rigth {
            margin-top: 20px;
            flex-basis: 50%;
        }
    }
    .card-btn{
        border: 1px solid #e6e6e6e6;
        border-top: none;
        position: absolute;
        width: 100%;
        background: white;
    }
    .cards-wr{
        width: 100%;
        cursor: pointer;
        &:hover{
            background-color: #e3f2fd;
        }
        .cards-item {
            min-height: 39px;
            max-height: 62px;
            display: flex;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 12px;
            padding-left: 10px;
            overflow: hidden;
        }
    }
    .homeCard{
        color: $black;
        font-weight: bolder;
    }
    .scrollWrapper{
        position: relative;
        overflow: auto;
        min-height: calc(100vh - 360px);
    }
    .ativeCard{
        background-color: #e3f2fd;
    }
    .sp{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 320px);
    }
    .bacgr-edit {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 100;
        background-color: rgb(235, 235, 228);
        opacity: 0.3;
    }
}
