
.input-user-card-files-wrapper{

    > .user-input-group {
        display: flex;
        .card-left{
            flex-basis: 50%;
        }
        .card-rigth {
            flex-basis: 50%;
        }
    }
    .cards-wr{
        width: 100%;
        cursor: pointer;
        &:hover{
            background-color: #e3f2fd;
        }
        .cards-item {
            height: 42px;
            max-height: 62px;
            display: flex;
            width: 100%;
            padding: 10px;
        }
    }
    .homeCard{
        color: $black;
    }
    .scrollWrapper{
        overflow: auto;
        height: 100vh;
        max-height: calc(100vh - 230px);
    }
    .ativeCard{
        background-color: #e3f2fd;
    }
}
