<div
    #el
    class="node-field"
    id="{{ field.foreignKey }}"
    [ngClass]="{ 'no-padding': node.isNode && (field.key === 'CLASSIF_NAME' || field.foreignKey === 'CLASSIF_NAME') }"
>
    <ng-container [ngSwitch]="field.type">
        <div *ngSwitchCase="types.boolean" class="node-field-checkbox">
            <span
                class="eos-icon small"
                aria-hidden="true"
                [ngClass]="{ 'eos-icon-checkbox-grey': field.value }"
            ></span>
        </div>
        <ng-container *ngSwitchCase="types.select">
            <label class="fieldlabel" [tooltip]="this.tooltipValue" placement="auto" container="body" containerClass="tooltip-info" [delay]="tooltipDelay">
                {{ currentValue() }}
            </label>
        </ng-container>
        <ng-container *ngSwitchCase="types.buttons">
            <label class="fieldlabel" [tooltip]="this.tooltipValue" placement="auto" container="body" containerClass="tooltip-info" [delay]="tooltipDelay">
                {{ currentValue() }}
            </label>
        </ng-container>
        <ng-container *ngSwitchCase="types.date">
            <label class="fieldlabel" [tooltip]=" field.value | eosDate " placement="auto" container="body" containerClass="tooltip-info" [delay]="tooltipDelay">
                {{ field.value | eosDate }}
            </label>
        </ng-container>
        <ng-container *ngSwitchCase="types.dictionary">
            <label class="fieldlabel" [tooltip]="this.tooltipValue" placement="auto" container="body" containerClass="tooltip-info" [delay]="tooltipDelay">
                {{ decodeDictionary() }}
            </label>
        </ng-container>
        <ng-container *ngSwitchCase="types.icon">
            <div class="table-field-ico" *ngFor="let icon of iconsArray;">
                <span class="folder small eos-icon"
                    [ngClass]="icon.class"
                    [tooltip]="icon.tooltip"
                    placement="auto" container="body" containerClass="tooltip-info" [delay]="tooltipDelay"></span>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="table-field-ico" *ngIf="hasFolderIcon">
                <span class="folder small eos-icon" (click)="viewNode($event)" [ngClass]="getFolderIcon()"> </span>
            </div>
            <label class="fieldlabel" [tooltip]="this.tooltipValue" placement="auto" container="body" containerClass="tooltip-info" [delay]="tooltipDelay">
                {{ field.value }}
            </label>
        </ng-container>
    </ng-container>
</div>
