
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .node-field {
        label.fieldlabel {
            display: inline;
        }
    }
}


.node-field {
    flex: 0 0 auto;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    line-height: 32px;
    height: 32px;
    padding-right: 2px;
    .table-field-ico {
        display: inline-block;
        text-align: center;
        line-height: 32px;
        vertical-align: top;
        top: -2px;
        position: relative;
    }
    .no-padding {
        padding: 0;
    }
    .node-field-checkbox {
        padding-right: 24px;
        text-align: center;
        vertical-align: middle;
    }
    .emptyicon {
        position: relative;
        top: 5px;
        // min-width: 40px;
    }
    .special,
    .folder {
        position: relative;
        top: 5px;
    }
    .text {
        display: inline-block;
        vertical-align: top;
    }
    label.fieldlabel {
        position: relative;
        top: -1px;
    }
}
