<div class="list-user-select-wrapper">
    <div class="table-wrapper usual-border">
        <div class="table-header">
            <div class="table-header-wrapper">
                <div class="selected-node-title">
                    <span class="long-title xl-font">{{titleCurrentDue}}</span>
                </div>
                <div class="item-count usual-border m-font">
                    <span class="item-count-content">
                        Записей:
                        <span class="counter">{{countMaxSize}}</span>
                        Выбрано:
                        <span class="counter">{{markedCounter()}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-header search-wr">
            <!-- header action -->
            <eos-btn-action [buttons]='buttons' (showAction)='showAction($event)'></eos-btn-action>
            <eos-user-search (search)="searchUsers($event)" [flagDeep]="shooseP"></eos-user-search>
        </div>
        <div class="table-header">
            <!-- header -->
            <!-- [ngClass]="flagChecked ? eos-icon-checkbox-square-blue : eos-icon-checkbox-square-minus-blue" -->
            <div class="table-title">
                <div class="checkbox">
                    <label class="user-check-label">
                    <input  [checked]="flagChecked"  type="checkbox" (change)="setCheckedAllFlag()">
                    <div>
                        <span class="eos-icon small" [ngClass]="getflagChecked"></span>
                    </div>
                </label>
                </div>
                <span class="user-list-fourth-colomn likeLink mar-left" (click)="sortPageList('login')">Логин
                <span *ngIf ="_apiSrv.srtConfig.login.checked" [ngClass]="getClassOrder(_apiSrv.srtConfig.login.upDoun)"></span>
                </span>
                <span class="user-list-third-colomn likeLink mar-left">Тип
                <span *ngIf ="_apiSrv.srtConfig.tip.checked"></span>
                </span>
                <span class="user-list-first-colomn likeLink mar-left" (click)="sortPageList('fullDueName')">Должностное лицо
                <span *ngIf ="_apiSrv.srtConfig.fullDueName.checked" [ngClass]="getClassOrder(_apiSrv.srtConfig.fullDueName.upDoun)"></span>
                </span>
                <div class="pos-depart" >
                    <span class="user-title-name user-list-first-colomn likeLink dep-width" (click)="sortPageList('department')" [textContent]="shooseP === 0 ? 'Подразделение' : 'Картотека'"></span>
                    <span *ngIf="_apiSrv.srtConfig.department.checked" class="curs-span-arrow"  [ngClass]="getClassOrder(_apiSrv.srtConfig.department.upDoun)" (click)="sortPageList('department')"></span>
                </div>
                <!-- <span class="user-list-third-colomn likeLink"(click)="sortPageList('tip')">Тип
                    <span *ngIf ="srtConfig.tip.checked" [ngClass]="getClassOrder(srtConfig.tip.upDoun)"></span>
                </span> -->
            </div>
        </div>
        <div  #listContent class="list-user-sel" (scroll)="savePositionSelectUser($event)">
           <div *ngIf="!isLoading">
            <div *ngIf="listUsers.length; else emptyCert" class="block" [ngStyle]="{'width.px': tableWidth}">
                <div *ngFor="let user of listUsers" class="user-item" [ngClass]="{'highlighted': user.isSelected || (user.isChecked && !user.selectedMark) || user.selectedMark}" (dblclick)="RedactUser(user)">
                    <div class="table-title user-select-node" [ngClass]="{'disabled': user.deleted, 'delitedDue': user.deletedOffFace}">
                        <span *ngIf='user.deleted' class="deleted-user-border"></span>
                        <label *ngIf='!user.deleted' class="checkbox">
                            <input   [checked]="(user.isChecked && !user.selectedMark) || user.selectedMark" [disabled]="user.deleted ? true : false"  type="checkbox" (change)="setFlagChecked($event, user)">
                            <span class="eos-icon eos-icon-checkbox-black"></span>
                        </label>
                        <div class="user-select-node-t" (click)="!user.deleted ? selectedNode(user, rtUserService.flagDeleteSelectedUser) : false">
                            <span class="user-list-fourth-colomn">{{user.login}}</span>
                            <span class="user-list-third-colomn">
                                    <span *ngIf="user.deleted" class="eos-icon eos-icon-bin-forever-grey small"></span>
                            <span *ngIf="user.blockedUser && !user.deleted" class="eos-icon eos-icon-Blockeduser-Yellow  small"></span>
                            <span *ngIf="user.blockedSystem && !user.deleted" class="eos-icon eos-icon-Blockeduser-Red  small"></span>
                            </span>
                            <span class="user-list-two-colomn " tooltip="{{user.fullDueName}}" placement="bottom" containerClass="tooltip-info" container="body">{{user.fullDueName}}
                            </span>
                            <span class="user-list-first-colomn" tooltip="{{user.department}}" placement="auto" containerClass="tooltip-info" container="body">{{user.department}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>
<!-- <ng-template #markAllTooltip>
    {{anyMarked ? 'Снять' : 'Пометить'}}<br/>{{anyMarked ? 'пометки': 'все'}}
</ng-template> -->

<ng-template #markTemp>Снять<br>пометку</ng-template>
<ng-template #notMarkTemp>Пометить<br>элемент</ng-template>
<ng-template #emptyCert>
    <h4 class="user-select-empty-list">Пользователи отсутствуют</h4>
</ng-template>
<ng-template #spiner>
    <div class="spiner-wrapper">
        <eos-spinner size="lg"></eos-spinner>
    </div>
</ng-template>
