<div class="list-user-select-wrapper">
    <div class="table-wrapper usual-border">
        <div class="table-header">
            <div class="table-header-wrapper">
                <div class="selected-node-title">
                    <span class="long-title xl-font">{{titleCurrentDue}}</span>
                </div>
                <div class="item-count usual-border m-font">
                    <span class="item-count-content" [ngClass]="{search:showCloseQuickSearch}">
                        Записей:
                        <span class="counter">{{countMaxSize}}</span>
                        Выбрано:
                        <span class="counter">{{countcheckedField}}</span>
                        <button *ngIf="showCloseQuickSearch" class="btn btn-primary-light btn-size"
                            tooltip="Очистить результаты" placement="bottom" container="body"
                            containerClass="tooltip-info" (click)=resetSearch()><span
                                class="eos-icon eos-icon-close-blue small"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-header search-wr">
            <!-- header action -->
            <eos-btn-action [buttons]='buttons' (showAction)='showAction($event)'></eos-btn-action>
            <div class="checkbox only-view" *ngIf="shooseP===0  && currentDue !=='0.'">
                <label class="user-check-label">
                    <input [checked]="onlyView" type="checkbox" (change)="setChengeOnlyView()">
                    <div>
                        <span class="eos-icon small"
                            [ngClass]="{'eos-icon-checkbox-square-v-blue': onlyView, 'eos-icon-checkbox-square-blue': !onlyView}"
                            tooltip="Показывать вложенные" containerClass="tooltip-info" placement="bottom"></span>
                    </div>
                </label>
                <div class="only-view-title">
                    <span>С вложенными</span>
                </div>
            </div>
            <eos-user-search (quickSearchKey)="quickSearchKey($event)" #quickSearchOpen (search)="searchUsers($event)"
                [flagDeep]="shooseP"></eos-user-search>
        </div>
        <!--Быстрый поиск-->
        <div class="table-header">
            <!-- header -->
            <!-- [ngClass]="flagChecked ? eos-icon-checkbox-square-blue : eos-icon-checkbox-square-minus-blue" -->
            <div class="table-title">
                <div class="checkbox">
                    <label class="user-check-label">
                        <input [checked]="flagChecked" type="checkbox" (change)="setCheckedAllFlag()">
                        <div>
                            <span class="eos-icon small" [ngClass]="getflagChecked" [tooltip]="checkAll"
                                containerClass="tooltip-info" placement="bottom"></span>
                        </div>
                    </label>
                </div>
                <div class="table-title-position list-user-sel">
                    <div class="table-title-position list-user-sel">
                        <span *ngIf="this._apiSrv.flagDelitedPermanantly === true; else logSort" class="user-list-fourth-colomn likeLink mar-left">Логин</span>
                        <ng-template #logSort>
                            <span class="user-list-fourth-colomn likeLink mar-left" (click)="sortPageList('login')">Логин
                                <span *ngIf="_apiSrv.srtConfig.login.checked"
                                [ngClass]="getClassOrder(_apiSrv.srtConfig.login.upDoun)"></span>
                            </span>
                        </ng-template>
                        <span class="user-list-third-colomn likeLink " (click)="sortPageList('tip')">Тип
                            <span *ngIf="_apiSrv.srtConfig.tip.checked"
                            [ngClass]="getClassOrder(_apiSrv.srtConfig.tip.upDoun)"></span>
                        </span>
                        <span *ngIf="this._apiSrv.flagTehnicalUsers === true || showCloseQuickSearch; else dueSort" class="user-list-two-colomn likeLink user-list-two-colomn-title">Должностное лицо</span>
                        <ng-template #dueSort>
                            <span class="user-list-two-colomn likeLink user-list-two-colomn-title"
                            (click)="sortPageList('fullDueName')">Должностное лицо
                            <span *ngIf="_apiSrv.srtConfig.fullDueName.checked"
                                [ngClass]="getClassOrder(_apiSrv.srtConfig.fullDueName.upDoun)"></span>
                            </span>
                        </ng-template>
                        <span *ngIf="this._apiSrv.flagTehnicalUsers === true || showCloseQuickSearch; else depSort" class="user-title-name user-list-first-colomn likeLink">{{cardName}}</span>
                        <ng-template #depSort>
                            <span class="user-title-name user-list-first-colomn likeLink"
                            (click)="sortPageList('department')">{{cardName}}
                                <span *ngIf="_apiSrv.srtConfig.department.checked" class="curs-span-arrow"
                                [ngClass]="getClassOrder(_apiSrv.srtConfig.department.upDoun)"></span>
                            </span>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading" #listContent class="list-user-sel" (scroll)="savePositionSelectUser($event)">
            <div>
                <div *ngIf="listUsers.length; else emptyCert" class="block" [ngStyle]="{'width.px': tableWidth}">
                    <div *ngFor="let user of listUsers;   let last = last" class="user-item"
                        [ngClass]="{'highlighted': user.isSelected || (user.isChecked && !user.selectedMark) || user.selectedMark}"
                        (dblclick)="RedactUser(user)">
                        <div class="table-title user-select-node"
                            [ngClass]="{'disabled': user.deleted, 'delitedDue': user.deletedOffFace}">
                            <span *ngIf='user.deleted' class="deleted-user-border"></span>
                            <label *ngIf='!user.deleted' class="checkbox">
                                <input [checked]="(user.isChecked && !user.selectedMark) || user.selectedMark"
                                    [disabled]="user.deleted ? true : false" type="checkbox"
                                    (change)="setFlagChecked($event, user)">
                                <span class="eos-icon eos-icon-checkbox-black"></span>
                            </label>
                            <div class="user-select-node-t"
                                (click)="!user.deleted ? selectedNode(user, rtUserService.flagDeleteSelectedUser) : false">
                                <span class="user-list-fourth-colomn">{{user.login}}</span>
                                <span class="user-list-third-colomn">
                                    <span *ngIf="user.deleted" class="eos-icon eos-icon-bin-forever-grey small"></span>
                                    <span *ngIf="user.blockedUser && !user.deleted"
                                        class="eos-icon eos-icon-Blockeduser-Yellow  small"></span>
                                    <span *ngIf="user.blockedSystem && !user.deleted"
                                        class="eos-icon eos-icon-Blockeduser-Red  small"></span>
                                </span>
                                <span class="user-list-two-colomn " tooltip="{{user.fullDueName}}" [delay]="tooltipDelay" placement="bottom"
                                    [ngClass]="{'last-tooltip' : last }" [containerClass]="getClassTooltip(last)"
                                    container="body">
                                    <span *ngIf="!user.deep"
                                        class="eos-icon eos-icon-Techuser-Grey small icon-user"></span>
                                    <span *ngIf="user.deep"
                                        class="eos-icon eos-icon-DeepUser-Blue small icon-user"></span>
                                    {{ user.fullDueName}}
                                </span>
                                <span *ngIf="user.department === 'null' || user.department === '...'; else depUser" class="user-list-first-colomn"
                                tooltip="..." placement="auto" containerClass="tooltip-info" container="body">  
                                    <span
                                    class="eos-icon eos-icon-department-grey small icon-user"></span>...
                                </span> 
                                <ng-template #depUser>
                                    <span class="user-list-first-colomn" tooltip="{{user.department}}" placement="auto"
                                    containerClass="tooltip-info" container="body">{{user.department}}
                                    </span> 
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="list-user-sel">
            <div class="spiner-wrapper">
                <eos-spinner size="lg"></eos-spinner>
            </div>
        </div>

    </div>
</div>
<!-- <ng-template #markAllTooltip>
    {{anyMarked ? 'Снять' : 'Пометить'}}<br/>{{anyMarked ? 'пометки': 'все'}}
</ng-template> -->

<ng-template #markTemp>Снять<br>пометку</ng-template>
<ng-template #notMarkTemp>Пометить<br>элемент</ng-template>
<ng-template #emptyCert>
    <h4 class="user-select-empty-list">Пользователи отсутствуют</h4>
</ng-template>
<!-- <ng-template #spiner>
    <div class="spiner-wrapper">
        <eos-spinner size="lg"></eos-spinner>
    </div>
</ng-template> -->

<div class="shadow-wr" *ngIf="shadow"></div>
