.list-user-select-wrapper {
    .table-header {
        .btn {
            background: transparent;
        }
    }

    .table-header {

            span{


        }

    }
    .table-title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .eos-node-list {
        background: $white;

        .user-select-node {
            line-height: 30px;
        }

        .user-select-empty-list {
            margin-left: 20px;
        }
    }

    .user-list-first-colomn {
        width: 400px;
        display: inline-block;
        margin-left: 20px;
    }
    .user-list-third-colomn{
        width: 150px;
        display: inline-block;
        margin-left: 20px;
    }
    .user-list-fourth-colomn{
        width: 200px;
        display: inline-block;
        margin-left: 20px;
    }
}
