<div class="user-system">
    <ng-container [ngSwitch]="userId">
        <ng-container *ngSwitchCase="'registration'">
            <eos-user-param-registration
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave">
            </eos-user-param-registration>
        </ng-container>
        <ng-container *ngSwitchCase="'cabinets'">
            <eos-user-param-cabinets
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave">
            </eos-user-param-cabinets>
        </ng-container>
        <!--<ng-container *ngSwitchCase="'dictionary'">
            <eos-user-param-directories
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave">
            </eos-user-param-directories>
        </ng-container>-->
        <ng-container *ngSwitchCase="'search'">
            <eos-user-param-search
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave">
            </eos-user-param-search>
        </ng-container>
        <ng-container *ngSwitchCase="'visualization'">
            <eos-user-param-visualization
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave">
            </eos-user-param-visualization>
        </ng-container>
        <ng-container *ngSwitchCase="'external-application'">
                <eos-user-param-external-application
                (formChanged)="recordChanged($event)"
                (formInvalid)="turnOffSave($event)"
                [btnDisabled]="!isChanged || disableSave">
                </eos-user-param-external-application>
            </ng-container>
            <ng-container *ngSwitchCase="'other'">
                <eos-user-param-other
                (formChanged)="recordChanged($event)"
                (formInvalid)="turnOffSave($event)"
                [btnDisabled]="!isChanged || disableSave">
                </eos-user-param-other>
            </ng-container>
    </ng-container>
</div>
