.mar-right-second {

    margin-right: 20px;
}
.mar-right-first {

    margin-right: 60px;
}
.mar-right-select {
    margin-right: 20px;
}
.eos-dynamic-input-select-files {
    display: inline-block;
}