<div class="input-user-wrapper  input-user-other-rk-forwarding-wrapper" *ngIf="inputs">
    <div class="pad-other-set">
        <div>
            <span class="l-font">Пересылка</span>
            <hr>
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.SEND_DIALOG']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
        <hr>
        <div>
            <span class="l-font">Удалять РК из текущего кабинета после пересылки</span>
            <hr>
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.DELFROMCAB']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
    </div>
</div>