<div class="input-user-wrapper  input-user-other-rk-forwarding-wrapper" *ngIf="inputs">
    <div class="pad-other-set">
        <div class="user-group-form">
            <span>Удалять документ из текущего кабинета после пересылки</span><br>
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.DELFROMCAB']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
        <div class="user-group-form">
            <span>Добавлять адресатов пересылки документа в журнал передачи документа</span><br>
            <eos-dynamic-input [input]="inputs['rec.MARKDOC']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
        <div class="user-group-form">
            <span>Передавать</span><br>
            <eos-dynamic-input [input]="inputs['rec.MARKDOCKND']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
        <div class="user-group-form">
            <span>Пересылать в приложении Документы</span><br>
            <eos-dynamic-input class="inline-block" [input]="inputs['rec.SEND_DIALOG']" [form]="form" [readonly]="false"></eos-dynamic-input>
        </div>
    </div>
</div>