.departments-person-card-edit {
    .col-1 {
        width: 180px;
    }
    .col-2 {
        width: 540px;
    }
    .row-wrapper {
        display: flex;
        width: 100%;
        .person-name,
        .person-second-name {
            flex: 1 1 50%;
        }
        .form-group {
            &:not(:first-child) {
                margin-top: 0;
            }
            select {
                width: 100%;
            }
            input {
                width: 100%;
            }
        }
    }
    .current-image {
        height: 120px;
        width: 120px;
        display: flex;
        align-items: center;
        border: 1px solid $border-color-main-theme;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        margin: 0 30px 20px;
        .current-image-no-user{
            height: 120px;
            width: 120px;
            border-radius: 100%;
        }
        .photo-uploader {
            position: absolute;
            bottom: -8px;
            right: -30px;
        }
    }
    .person-fullname textarea {
        height: 102px;
    }
    .person-note textarea {
        height: 80px;
    }
    .contact-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px 180px 180px;
        grid-template-columns: 180px 180px 180px;
        .cab {
            margin-right: 40px;
            -ms-grid-column: 1;
            grid-column: 1;
        }
        .phone {
            margin-right: 10px;
            -ms-grid-column: 1;
            grid-column: 1;
            -ms-grid-row: 2;
            grid-row: 2;
        }
        .phone-local {
            margin-right: 10px;
            margin-left: 10px;
            -ms-grid-column: 2;
            grid-column: 2;
            -ms-grid-row: 2;
            grid-row: 2;
        }
        .fax {
            margin-left: 10px;
            -ms-grid-column: 3;
            grid-column: 3;
            -ms-grid-row: 2;
            grid-row: 2;
        }
        .email {
            margin-right: 100px;
            -ms-grid-column-start: 1;
            grid-column-start: 1;
            -ms-grid-column-end: 3;
            grid-column-end: 3;
            -ms-grid-row: 3;
            grid-row: 3;
            -ms-grid-column-span: 3;
            -ms-grid-column: 3;

        }
        .skype {
            margin-left: 100px;

            -ms-grid-column-start: 2;
            grid-column-start: 2;
            -ms-grid-column-end: 3;
            grid-column-end: 4;
            -ms-grid-row: 4;
            grid-row: 3;
            -ms-grid-column: 4;
        }
    }
    .alternate-button-wrapper {
        margin-top: 20px;
        .alternate-button {
            width: 100%;
            height: 32px;
        }
    }
    .form-group {
        &:not(:first-child) {
            &.fathers-name {
                margin-top: 0;
            }
            &.full-position {
                margin-top: 91px;
            }
        }
    }
    .declination-wrapper {
        margin-top: 0;
        .family {
            flex: 1 1 303px;
        }
        .name {
            width: 180px;
        }
    }
    .additional-info {
        margin-top: $grid-gutter-width / -2;
    }
    .card-content-wrapper {
        max-height: calc(100vh - 280px);
    }
    .photo-uploader {
        .input-file-label {
            vertical-align: middle;
        }
        .eos-icon {
            vertical-align: middle;
        }
    }
}
