.docgroup-card {
    .rc-type {
        flex: 1 0 auto;
    }
    .dg-require {
        flex: 1 0 auto;
        .checkbox-inline {
            padding: 0;
        }
    }
    .checkbox-inline {
        padding: 0;
    }
    .string-inline {
        display: inline-flex;
        align-self: center;
        &.string-padding {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 0;
            height: 36px;
        }
    }
    .log-bin-icon {
        position: absolute;
        margin-top: 5px;
    }
    .logic-delete-text {
        padding-left: 20px !important;
        color: #BABABA;
    }
    .bittable {
        display: table;
    }
    .bittable-row {
        display: table-row;
    }
    .bittable-cell {
        display: table-cell;
        min-width: 405px;
    }
    .form-control:focus{
        box-shadow: none;
        border-color: #ccc;
    }
    .form-control.readonly{
        box-shadow: none;
        border-color: transparent;
    }

}
