.docgroup-card {
    .rc-type {
        flex: 1 0 auto;
    }
    .dg-require {
        flex: 1 0 auto;
        .checkbox-inline {
            padding: 0;
        }
    }
    .checkbox-inline {
        padding: 0;
    }
}
