.clear-both {
    clear: both;
}

.display-flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.margin-t {
    margin-top: 20px;
}

.margin-t5 {
    margin-top: 5px;
}
.margin-b {
    margin-bottom: 10px;
}
