<div class="card-content-wrapper">
    <div class="clearfix"></div>
        <div class="form-group">
            <div class="organization-wrapper">
                <label [ngClass]="{'unimportant-text': !editMode }">Организация <a
                    *ngIf="editMode"
                    (click)="chooseOrganiz()">[выбрать]</a> <a
                    *ngIf="editMode"
                    (click)="unbindOrganization()">[удалить]</a></label>
        <eos-dynamic-input *ngIf="inputs['rec.CLASSIF_NAME']"
                    [input]="inputs['rec.CLASSIF_NAME']"
                    [form]="form"
                    hideLabel="true"
                    readonly="true"></eos-dynamic-input>
        <eos-dynamic-input *ngIf="inputs['rec.DUE_ORGANIZ']"
                    [input]="inputs['rec.DUE_ORGANIZ']"
                    [form]="form"
                    hidden="true"
                    hideLabel="true"
                    [readonly]="!editMode"></eos-dynamic-input>
                </div>
        </div>

        <eos-dynamic-input *ngIf="inputs['rec.NOTE']"
                            [input]="inputs['rec.NOTE']"
                            [form]="form"
                            [readonly]="!editMode"></eos-dynamic-input>
        <eos-dynamic-input *ngIf="inputs['rec.ISN_CHANNEL']"
                            [input]="inputs['rec.ISN_CHANNEL']"
                            [form]="form"
                            [readonly]="!editMode"></eos-dynamic-input>
        <eos-dynamic-input *ngIf="inputs['rec.ADDRESS']"
                            [input]="inputs['rec.ADDRESS']"
                            [form]="form"
                            [readonly]="!editMode"></eos-dynamic-input>
        <label [ngClass]="{'unimportant-text': !editMode }">Используемые правила <a
                                *ngIf="editMode"
                                (click)="chooseRules()">[выбрать]</a> </label>
        <div class="rules-string" [ngClass]="{'unimportant-text': !editMode }">
        {{getStringUsedRules()}}
        </div>
    <div class="clearfix"></div>
</div>
