.cust-div{
    height: 300px;
    width: 300px;
}
.search-btn-sum {
    display: flex;
    justify-content: center;
    
}
.cust-style-mod {
    width: 48px;
    height: 48px;
    margin-left: 50%;
}

.form-date-control {  
    width: 200px;
    font-size: 14px; 
    line-height: 32px;
}
.cont-datepick {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.group-datepick {
    display: flex;
    flex-direction: row; 
}
.kind-pick {
    position: relative;
    input {
        margin-right: 5px;
        padding-right: 32px !important;
        &.stub {
            box-shadow: none;
            background-image: none;
            padding: 0;
        }
        &.hidden {
            display: none;
        }
    }
    a {
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;
        margin: auto;
        height: 24px;
    }
}
.calend-stat {
    margin-top: 3px;
}


