.sum-protocol {
    .sum-report-wrapper {
        min-height: 700px;
    }
    .contain-span {
        display: flex;
        justify-content: space-around;
    }
    .contain-span {
        display: flex;
        justify-content: space-around;
    }
    .contain-span-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;
    }
    .item-table {
        line-height: 46px;
        cursor: pointer;
    }
    .width-title1 {
        width: 200px;
    }
    .width-title2 {
        width: 400px;
    }
    .width-title3 {
        width: 300px;
    }
    .sum-report-list {
        background-color: white;
    }
    .header-pos-sum {
        display: flex;
        justify-content: space-between;
    }
    .btn-group-sum {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }
    .bth-size-sum {
        height: 48px;
        width: 48px;
    }
    .item-count-content-sum {
        padding: 0 20px;
        line-height: 24px;
        font-size: 16px;
    }
    .item-count-sum {
        align-self: center;
        width: fit-content;
        display: inline-block;
        border-left-width: 1px;
        border-left-style: solid;
        grid-column: 4;
    }

    .usual-border-sum {
        border-color: #e6e6e6;
        border-width: 1px;
    }
    .m-font-sum {
        line-height: 20px;
        font-size: 14px;
    }
    .counter-sum {
        margin-left: 20px;
        padding: 6.5px 10px;
        background: #bababa;
        border-radius: 2px;
        color: #fff;
    }
    .likeLink-sum {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        color: #2196f3;
    }
    .sum-check-label {
        padding-left: 0;
    }
    .eos-adm-icon {
        .small-sum {
            height: 24px;
            width: 24px;
        }
    }
    .check-sum {
        margin: 0;
        padding-top: 3px;
    }
    .mar-check {
        margin-right: 12px;
    }
    .sum-list-prot {
        overflow: auto;
        max-height: calc(100vh - 410px);
    }
    .table-sum-wraper {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
    }
    .selected-sum-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 11px 0;
        align-self: center;
        grid-column: 2;
        max-height: 74px;
    }
    .btn-s {
        height: 48px;
        width: 48px;
    }
    .mar-edit-span-start {
        margin-right: 0px;
    }
    .table-wrapper-head {
        width: 100%;
        border-width: 1px;
        border-style: solid;
        position: relative;
    }
    .spinner-prot {
        display: flex;
        justify-content: center;
    }
    .protocol-checkbox-user-tech {
        padding-top: 7px;
    }
    .protocol-user-tech {
        display: flex;
    }
}
