<div class="modal-header">
    <h4 class="modal-title pull-left">Доп. реквизиты (гр. документов) - {{nodeDescription}}</h4>
    <button class="btn btn-primary-full upper pull-right"
            (click)="save()">Сохранить</button>
</div>
<div class="border-right pull-left"
     [ngStyle]="{'width.px': w, 'padding-right.px': 10}">
    <eos-dynamic-input [ngStyle]="{'margin-left.px': 5}"
                       [input]="inputType"
                       [form]="form"></eos-dynamic-input>
    <ng-container *ngTemplateOutlet="treeTmpl; context: {items: nodes, level: 0}"></ng-container>
    <ng-template #treeTmpl
                 let-items="items"
                 let-level="level">
        <div *ngFor="let node of items"
             class="eos-tree-node">
            <ng-container *ngTemplateOutlet="treeNodeTmpl; context:{node: node, level:level}"></ng-container>
        </div>
    </ng-template>

    <ng-template #treeNodeTmpl
                 let-node="node"
                 let-level="level">
        <ng-container *ngIf="node && node.isNode && (!node.isDeleted || showDeleted)">
            <div class="node"
                 #el
                 [ngClass]="{'highlighted' : node.isActive}"
                 [ngStyle]="{'padding-left.px': getPadding(level), 'min-width.px': w - 10}">
                <div class="tree-btn"
                     *ngIf="node.expandable"
                     (click)="onExpand($event, node)">
                    <span class="eos-icon tringle-size icon"
                          [ngClass]="{'eos-icon-open-folder-blue': node.isExpanded, 'eos-icon-close-folder-blue': !node.isExpanded}"></span>
                </div>
                <div *ngIf="!node.expandable" class="node-marker pull-left">
                    <label class="checkbox">
                        <input type="checkbox"
                               [ngModel]="node.marked"
                               (ngModelChange)="onMark(node)">
                        <span></span>
                    </label>
                </div>
                <div class="title"
                     [ngStyle]="{'margin-top.px': 3}"
                     [ngClass]="{'deleted': node.isDeleted, 'select': node.isActive}"
                     (click)="onSelect($event, node)"
                     [style.width.px]="getNodeWidth(level)">
                    <span class="title-item">{{node.title}}</span>
                </div>
            </div>
            <ng-container *ngIf="node.isExpanded && node.expandable">
                <ng-container *ngTemplateOutlet="treeTmpl; context: {items: node.children, level: level*1+1}"></ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
</div>
<div [ngStyle]="{'width.px': 900 - w, 'margin-left.px': w, 'height.px': 2}">
    <div *ngFor="let key of keys(inputs)">
        <div class="edit-field"
             *ngIf="inputs[key].visible">
            <label>{{inputs[key].label}}</label>
            <eos-dynamic-input [input]="inputs[key]"
                               [form]="form"
                               [readonly]="false">
            </eos-dynamic-input>
        </div>
    </div>
</div>
<div class="clear-both"></div>
