<alert *ngFor="let message of messages"
    class="eos-alert"
    [type]="message.type"
    [dismissible]="true"
    (click)="onClose(message)"
    [dismissOnTimeout]="message.dismissOnTimeout">
    <div class="alert-icon">
        <!-- <span [ngClass]="'eos-icon eos-icon-close-white'"></span> -->
        <span class="eos-icon small"
            [ngClass]="{
            'eos-icon-checkbox-white': message.type==='success',
            'eos-icon-close-white': message.type==='danger',
            'eos-icon-alert-white': message.type==='info' || message.type==='warning'}"></span>
    </div>
    <div class="alert-body">
        <span>
                <ng-container *ngIf="message.title && message.title.length">
                    {{message.title}}<br>
                </ng-container>
                    {{message.msg}}
        </span>
    </div>
</alert>
