.input-param-rc-wrapper {
    label {
        font-size: 12px;
    }

    .inline-block {
        display: inline-block;
    }

    .select-wrap {
        margin-left: 10px;
        margin-right: 40px;
    }

    .number-increment-wrap {
        display: inline-block;

    }

    .label-input-increment {
        display: block;
        margin-bottom: -4px;
    }
    
    .select-wrap, .number-increment-wrap {
        
        .form-group {
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 15px;
    }
}


