.modal-body-cb {
    margin: 20px;
}
.modal-b-cont-role {
    display: flex;
}
.col-l {
    .info-block-cb-l {
        width: 300px;
        border: 1px solid #e6e6e6;
        height: 500px;
        overflow: auto;
        background: #fafafa;
        color: #000000;
        .basic-cb {
            height: 60%;
        }
        .item-cb {
            padding: 6px 20px;
            cursor: move;
            position: relative;
            line-height: normal;
            .lock-r {
                padding-right: 5px;
            }
            
            &.gu-transit {
                display: block;
                width: 100%;
                background-color: #e3f2fd;
            }
        }
    }
    .checkbox-due-top {
        margin-top: 10px;
    }
}

.col-r {
    .modal-block-cb-r {
        background: #fafafa;
        color: #000000;
        border: 1px solid #e6e6e6;
        width: 1000px;
        .title-dir-role {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #e6e6e6;
            align-items: center;
            height: 32px;
        }
        .info-block-cb-r {
            overflow: auto;
            height: 467px;
            .item-cb-r {
                padding: 6px 20px;
                cursor: move;
                position: relative;
                line-height: normal;
                display: flex;
                justify-content: space-around;
                width: 100%;
                white-space: pre-line;
                .text-cb-r {
                    width: calc(100% / 3) !important;
                }
                &.gu-transit {
                    display: block;
                    width: 100%;
                    background-color: #e3f2fd;
                }
            }
        }
    }
    .change-due {
        display: flex;
        margin-top: 10px;
        align-items: center;
        .icon-due {
            cursor: pointer;
            margin-right: 15px;
        }
    }
}
.driver-r {
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}