<div class="full-search-top usual-border">
    <span class="pull-left title xl-font">Настройка ролей</span> 
    <div class="pull-right srch-btns"> 
        <button class="btn btn-primary s-font upper" (click)="close()">Закрыть</button>
        <button class="btn btn-primary-full s-font upper" (click)="save()">Сохранить</button>
    </div>
</div>
<div class="modal-body-cb" *ngIf="deletRole">
    <div class="modal-b-cont-role">
        <div class="col-l">
            <span class="long-title xl-font">Выберите роль:</span>
            <div class="info-block-cb-l" >
                <div id="fixed" [dragula]='"fixed-bag"'>
                    <div class="item-cb" *ngFor="let item of fixedFields" (click)="select(item, 3)" [ngClass]="{'highlighted': item === selectedFixedItem}">
                        <i class="fa fa-lock unimportant-text lock-r"
                            aria-hidden="true"></i>
                        <span class="text-cb">{{item}}</span>
                    </div>
                </div>
                <div id="basic" class="basic-cb" [dragula]='"bag-one"'[dragulaModel]="basicFields">
                    <div class="item-cb" *ngFor="let item of basicFields" (click)="select(item, 1)" [ngClass]="{'highlighted': item === selectedBasicRole}">
                        <span class="text-cb">{{item}}</span>
                    </div>
                </div>
            </div>
            <div class="checkbox-due-top">
                <label class="checkbox">
                    <input type="checkbox" [checked]="rightsDueRole" (change)="rightsDueRole = !rightsDueRole">
                    <span class="eos-icon eos-icon-checkbox-square-blue x-small"></span>
                    Добавлять права за ДЛ роли
                </label>
            </div>
        </div>
        <div class="driver-r">
            <span>
                <button class="btn btn-primary-light" (click)="addToCurrent()">
                    <span class="eos-icon eos-icon-arrow-v-blue-right"></span>
                </button>
                <button class="btn btn-primary-light" (click)="removeFromCurrent()">
                    <span class="eos-icon eos-icon-arrow-v-blue-left"></span>
                </button>
            </span>
        </div>
        <div class="col-r">
            <span class="long-title xl-font">Назначение роли:</span>
            <div class="modal-block-cb-r">
                <div class="title-dir-role">
                    <span><b>Роль</b></span>
                    <span><b>ДЛ руководителя</b></span>
                    <span><b>Помощники руководителя</b></span>
                </div>
                <div class="info-block-cb-r" [dragula]='"bag-one"'  [dragulaModel]="currentFields" id="current">
                    <div class="item-cb-r" id="cur-item" *ngFor="let item of currentFields" (click)="select(item, 2)" [ngClass]="{'highlighted': item === selectedCurrRole}">
                        <div class="text-cb-r">
                            <span>{{item?.role}}</span>
                        </div>
                        <div class="text-cb-r">
                            <span>{{item?.dueName}}</span>
                        </div>
                        <div class="text-cb-r">
                            <span>{{item?.asistMan}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-due">
                <button class="btn s-font upper" [ngClass]="[btnChangeDue ? 'btn-primary' : 'btn-not-active']" [disabled]="!btnChangeDue" (click)="changeDueRole()">
                    <span [ngClass]="[btnChangeDue ? 'eos-icon-DeepUser-Blue' : 'eos-icon-DeepUser-Grey']" class="eos-icon icon-due"></span>
                    Изменить должностное лицо</button> 
            </div>
        </div>
    </div>
</div>
<div class="modal-body-cb">
    <div class="spinner-wrapper" *ngIf="!deletRole">
        <eos-spinner [size]="'lg'"></eos-spinner>
    </div>
</div>