.modal-body-cb {
    margin: 20px;
}
.modal-b-cont-role {
    display: flex;
}
.col-l {
    .info-block-cb {
        max-width: 300px;
        border: 1px solid #e6e6e6;
        height: 500px;
        overflow: auto;
        background: #fafafa;
        color: #000000;
        .item-cb {
            padding: 6px 20px;
            cursor: move;
            position: relative;
            line-height: normal;
            .gu-transit {
                display: block;
                width: 100%;
                background-color: #e3f2fd;
            }
            // .text-cb {
            // }
        }
    }
}
.col-r {
    width: 1000px;
    .title-dir-role {
        display: flex;
        justify-content: space-between;
    }
    .info-block-cb {
        border: 1px solid #e6e6e6;
        height: 500px;
        overflow: auto;
        background: #fafafa;
        width: calc(100% / 3);
        color: #000000;
        .inst-role-header {
            display: flex;
            border-bottom: 1px solid #e6e6e6;
            justify-content: center;
            align-items: center;
            height: 32px;
        }
        .item-cb {
            padding: 6px 20px;
            cursor: move;
            position: relative;
            line-height: normal;
            .gu-transit {
                display: block;
                width: 100%;
                background-color: #e3f2fd;
            }
            // .text-cb {
            // }
        }
    }
}
.driver-r {
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}