<div class="full-search-top usual-border">
    <span class="pull-left title xl-font">Настройка ролей</span> 
    <div class="pull-right srch-btns"> 
        <button class="btn btn-primary s-font upper" (click)="closeModal.emit()">Закрыть</button>
        <button class="btn btn-primary-full s-font upper">Сохранить</button>
    </div>
</div>
<div class="modal-body-cb">
    <div class="modal-b-cont-role">
        <div class="col-l">
            <span class="long-title xl-font">Выберите роль:</span>
            <div class="info-block-cb-l" >
                <div id="fixed" [dragula]='"fixed-bag"'>
                    <div class="item-cb" *ngFor="let item of fixedFields" (click)="select(item, 3)" [ngClass]="{'highlighted': item === selectedFixedItem}">
                        <i class="fa fa-lock unimportant-text lock-r"
                            aria-hidden="true"></i>
                        <span class="text-cb">{{item}}</span>
                    </div>
                </div>
                <div id="basic" class="basic-cb" [dragula]='"bag-one"'[dragulaModel]="basicFields">
                    <div class="item-cb" *ngFor="let item of basicFields" (click)="select(item, 1)" [ngClass]="{'highlighted': item === selectedBasicRole}">
                        <span class="text-cb">{{item}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver-r">
            <span>
                <button class="btn btn-primary-light" (click)="addToCurrent()">
                    <span class="eos-icon eos-icon-arrow-v-blue-right"></span>
                </button>
                <button class="btn btn-primary-light" (click)="removeFromCurrent()">
                    <span class="eos-icon eos-icon-arrow-v-blue-left"></span>
                </button>
            </span>
        </div>
        <div class="col-r">
                <span class="long-title xl-font">Назначение роли:</span>
                    <div class="title-dir-role">
                        <div class="modal-block-cb-r">
                            <span class="inst-role-header"><b>Роль</b></span>
                            <div class="info-block-cb-r" [dragula]='"bag-one"'  [dragulaModel]="currentFields" id="current">
                                <div class="item-cb" *ngFor="let item of currentFields" (click)="select(item, 2)" [ngClass]="{'highlighted': item === selectedCurrRole}">
                                    <span class="text-cb">{{item}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-block-cb-r">
                            <span class="inst-role-header"><b>ДЛ руководителя</b></span>
                        </div>
                        <div class="modal-block-cb-r">
                            <span class="inst-role-header"><b>Помощники руководителя</b></span>
                        </div>
                    </div>
                </div>
    </div>
</div>
