<div class="email-window">
    <eos-user-header  [statusBtnSub]='statusBtnSub' [isDefault]='isDefault' (submitForm)='saveAllForm($event)' (cancelForm)='backForm($event)'></eos-user-header>
    <div class="email-control">
            <button type="button" class=" email-create btn btn-primary" (click)="openModal(template)">
                    <span class="eos-icon eos-icon-plus-blue small"></span>
            </button>
        <button class="email-stop">
            <span class="eos-icon eos-icon-bin-forever-"></span>
        </button>
        <button class="email-delite" (click)='deliteEmailFild()'>
            <span class="eos-icon eos-icon-bin-blue sma"></span>
        </button>
        <button class="stepTop">
            <span class="eos-icon eos-icon-arrow-v-blue-bottom small"></span>
        </button>
        <button class="stepBottom">
            <span class="eos-icon eos-icon-arrow-v-blue-top small"></span>
        </button>
    </div>
    <div class="email-wr">
        <div class="email-header">
            <span class="first">Е-mail пользователя: {{username}}</span>
            <span class="seconds">Вкл. в рассылку</span>
            <span class="last">Искл. из рассылки</span>
        </div>
        <!-- [ngClass]="{current: currentFueld.EMAIL === email_item.EMAIL}" -->
        <div class="email-content" *ngIf="umailsInfo">
                <form [formGroup]="myForm">
                    <div formArrayName="groupForm">
                            <div  class="emali-list" *ngFor="let group of myForm.controls['groupForm'].controls; let i = index"  (click)=chooseCurrentField(i) [ngClass]="{current: currentIndex === i}">
                                <div class="emali-list"  formGroupName="{{i}}">
                                            <span class="emali-list-first">
                                                <input [ngClass]="{current: currentIndex === i}" formControlName="email"  type="text" readonly="readonly" class="readonly" >
                                            </span>
                                            <span class="emali-list-secont">
                                                <label class="checkbox disabled minus-checkbox ">
                                                    <input [ngClass]="{current: currentIndex === i}" formControlName="checkbox" [attr.checked]="group.controls.checkbox ? '1' : 0"   type="checkbox" readonly="readonly" class="readonly" >
                                                    <span class="eos-icon eos-icon-checkbox-black"></span>
                                                    </label>
                                            </span>
                                            <span class="emali-list-last">
                                                    <input [ngClass]="{current: currentIndex === i}" formControlName="params"   type="text" readonly="readonly" class="readonly" >
                                            </span>
                                </div>
                            </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <button (click)='addEmail()'>eeeee</button>
    <button (click)='edit()'>edit</button>
    <button (click)='delite()'>delite</button> -->
</div>


<ng-template #template>
    <eos-user-header [isDefault]='isDefault' (submitForm)='createNewField(newEmail)' (cancelForm)="modalRef.hide()"></eos-user-header>
    <!-- <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
    </div> -->
    <div class="modal-body">
     <main class="modalWord-content">
            <span>Введите почту: </span>
            <input class="form-control m-font inline-block" type="text" [(ngModel)] = "newEmail">
     </main>
            <div *ngFor="let alert of alerts">
                  <div class="alert alert-danger">
                      <span>{{alert['1'].msg}} <button type="button" class="btn btn-primary" (click)="onClosed(alert['1'].type)">x</button></span>
                  </div>
            </div>
            </div>
</ng-template>
