<div class=" default-settings">
    <ng-container [ngSwitch]="paramId">
        <ng-container *ngSwitchCase="'registration'">
            <eos-registration-remaster *ngIf="defaultUser !== undefined" [defaultUser]="defaultUser" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
             [defaultTitle]="'Регистрация по умолчанию'"></eos-registration-remaster>
        </ng-container>
        <ng-container *ngSwitchCase="'cabinets'">
            <eos-user-param-cabinets *ngIf="defaultUser !== undefined" [defaultUser]="defaultUser" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
              [defaultTitle]="'Кабинеты по умолчанию'"></eos-user-param-cabinets>
        </ng-container>
        <ng-container *ngSwitchCase="'rc'">
            <eos-user-param-rc *ngIf="defaultUser !== undefined" [defaultUser]="defaultUser" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
              [defaultTitle]="'РК по умолчанию'"></eos-user-param-rc>
        </ng-container>
        <ng-container *ngSwitchCase="'dictionary'">
            <eos-user-param-directories *ngIf="defaultUser !== undefined" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
              [defaultTitle]="'Справочники по умолчанию'" [defaultUser]="defaultUser"></eos-user-param-directories>
        </ng-container>
        <ng-container *ngSwitchCase="'ext-exch'">
            <eos-ext-exch *ngIf="defaultUser !== undefined" [defaultUser]="defaultUser" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
             [defaultTitle]="'Внешний обмен по умолчанию'"></eos-ext-exch>
        </ng-container>
        <ng-container *ngSwitchCase="'el-signature'">
            <eos-user-param-el-signature  *ngIf="defaultUser !== undefined" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
              [defaultTitle]="'Электронная подпись по умолчанию'"  [defaultUser]="defaultUser"></eos-user-param-el-signature>
        </ng-container>
        <ng-container *ngSwitchCase="'visualization'">
            <eos-user-param-visualization *ngIf="defaultUser !== undefined" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
            [defaultTitle]="'Визуализация по умолчанию'" [defaultUser]="defaultUser"></eos-user-param-visualization>
        </ng-container>
        <ng-container *ngSwitchCase="'external-application'">
            <eos-user-param-external-application *ngIf="defaultUser !== undefined" (DefaultSubmitEmit)="DefaultSubmitEmit($event)"
              [defaultTitle]="'Десктопное приложение по умолчанию'" [defaultUser]="defaultUser"></eos-user-param-external-application>
        </ng-container>
        <ng-container *ngSwitchCase="'other'">
            <eos-user-param-other *ngIf="defaultUser !== undefined" (DefaultSubmitEmit)="DefaultSubmitEmit($event)" [defaultTitle]="'Передача по умолчанию'" 
            [defaultUser]="defaultUser"></eos-user-param-other>
        </ng-container>
        <ng-container *ngSwitchCase="'patterns'">
            <eos-user-param-shablony *ngIf="defaultUser !== undefined" (DefaultSubmitEmit)="DefaultSubmitEmit($event)" [defaultTitle]="'Шаблоны по умолчанию'" 
            [defaultUser]="defaultUser"></eos-user-param-shablony>
        </ng-container>
        
    </ng-container>
</div>
<div [ngClass]="{'list-show' : isWide}" class="params-nav-list">
    <ul class="list-group">
        <ng-container *ngFor="let param of listSettings">
            <li *ngIf="param.url !== 'prof-sert'"
                class="list-group-item"
                [routerLink]="['/user_param/default-settings', param.url]"
                routerLinkActive="active-element-param"
            >{{param.title}}</li>
        </ng-container>
    </ul>
</div>

<li *ngIf="defaultUser === undefined"
    class="li-spiner">
    <div class="spinner-wrapper">
        <div class="spinner-holder">
            <eos-spinner size="md"></eos-spinner>
        </div>
    </div>
</li>
