<div  class="cabinet-user-wr" *ngIf=CabinetInfo>
    <a  (click)="writeRecentUrl()" [routerLink]="['/spravochniki','cabinet', CabinetInfo.CABINET_LIST.ISN_CABINET, 'view', '0']"   class="cabinet-title">{{CabinetInfo.CABINET_LIST.CABINET_NAME}}</a>
    <span class="" *ngIf=CabinetInfo.CUSTOM_FIELD_MAIN
        tooltip="Пользователь - владелец кабинета"
        placement="bottom"
        containerClass="tooltip-info"
        trigger="hover"
        container="body"
    >
    <span class="eos-icon eos-icon-keyfile-blue small" ></span></span>
    </div>
