<div class="input-user-wrapper  input-user-other-rk-forwarding-wrapper" *ngIf="inputs">
    <div class="pad-other-set">
        <div class="user-group-form">
            <div class="inputs-inline">
                <span class="input-title">Номерообразование: </span>
                <eos-dynamic-input 
                    [ngStyle]="{'width': isCurrentSettings ? '300px' : '', 'margin-left': isCurrentSettings ? '10px' : ''}" 
                    [input]="inputs['rec.RVO_NUMBER_FORMATION']" 
                    [form]="form" 
                    [readonly]="false">
                </eos-dynamic-input>
            </div><br>
            <div class="inputs-inline">
                <span class="input-title">Срочность:</span>
                <eos-dynamic-input 
                    [ngStyle]="{'margin-left': !isCurrentSettings ? '65px' : '', 'width':'300px'}" 
                    class="rvo-input" 
                    [input]="inputs['rec.RVO_URGENCY']" 
                    [form]="form" 
                    [readonly]="false">
                </eos-dynamic-input>
            </div><br>
            <div class="inputs-inline">
                <span class="input-title">Важность:</span>
                <eos-dynamic-input 
                [ngStyle]="{'margin-left': !isCurrentSettings ? '70px' : '', 'width':'300px'}" 
                class="rvo-input" [input]="inputs['rec.RVO_IMPORTANCE']" 
                [form]="form" 
                [readonly]="false">
            </eos-dynamic-input>
            </div><br>
            <div class="inputs-inline">
                <span class="input-title">Примечание:</span>
                <eos-dynamic-input 
                    [ngStyle]="{'margin-left': !isCurrentSettings ? '52px' : '', 'width':'300px'}" 
                    class="rvo-input" 
                    [input]="inputs['rec.RVO_NOTE']" 
                    [form]="form" 
                    [readonly]="false">
                </eos-dynamic-input>
            </div>
            <div class="inputs-inline">
                <span class="input-title">Создавать реестры:</span>
                <eos-dynamic-input 
                    class="inline-radio"
                    [input]="inputs['rec.RVO_MODE']" 
                    [form]="form" 
                    [readonly]="false">
                </eos-dynamic-input>
                
            </div>
        </div>
    </div>
</div>