.filter-comp {
    margin-right: 20px;
    .cust-style-mod {
        width: 48px;
        height: 48px;
    }
    .btn.btn-primary-light.search-btn.opened {
        height: 48px;
        width: 48px;
    }
}
.full-search-form-prot{
    .cont-datepick {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .lab-botttom{
        padding-bottom: 12px;
    }
    .lab-font{
        line-height: 16px;
        font-size: 12px;
    }
    .form-group-filter {
        label {
            line-height: 0px !important;
            margin-bottom: 8px;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
    form {
        padding: 20px;
    }
    .pos-icon{
        display: inline-block;
        // justify-content: flex-end;
        bottom: 50px;
        // right: 30px;
        position: relative;
        padding-right: 5px;
        // height: 35px;
        // padding-top: 4px;
        // margin-top: -4px;
    }
    .pos-two-icon {
        left: calc(100% - 60px);
    }
    .pos-one-icon {
        left: calc(100% - 30px);
    }
    .del-mar{
        height: 72px;
    }
    #reshen .s-font {
        input {
            padding-right: 60px;
        }
    }
}

