<div class="input-user-wrapper input-user-card-index-rights-wrapper">
    <div  *ngIf="flagCardFileAvailability">
    <eos-rights-delo-header
        title="Права в картотеках"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
<div class="user-input-group">
<div class="left-block-list-side">
<div *ngFor="let item of listNode" (click)="selectNode(item)" [ngClass]="{'highlighted': item.data.isSelected}">
    <label>
        <span>{{item.label}}</span>
    </label>
</div>
</div>
<div class="right-block-list-side">
    <div *ngIf="flagToDisplayTheRightSide" class="usual-border border-bottom toolbar-line">
                <button
                    class="btn btn-primary-light"
                    tooltip="Добавить"
                    placement="bottom"
                    container="body"
                    containerClass="tooltip-info"
                    [ngClass]="{'hiden-btn': btnAddHiden}"
                    (click)="OpenClassiv()">
                    <span class="eos-icon eos-icon-plus-blue small"></span>
                </button>
                <!--<button
                    class="btn btn-primary-light"
                    tooltip="Удалить"
                    placement="bottom"
                    container="body"
                    containerClass="tooltip-info"
                    aria-readonly="false"
                    (click)="removeDocuments()">
                    <span class="eos-icon eos-icon-minus-blue small"></span>
                </button>-->
    </div>
    <div class="content-list" *ngIf="!isLoading">
    <div *ngFor="let item of treeHierarchyOnTheRightSide" class="inline-block item-card">
        <div *ngIf="(item.restrictRegistrationFiling || item.documents) && flagToDisplayTheRightSide"
             class="tree-btn inline-block"
             (click)="openFolder($event, item)">
                    <span class="eos-icon tringle-size icon"
                          [ngClass]="{'eos-icon-open-folder-blue': item.openFolder, 'eos-icon-close-folder-blue': !item.openFolder}" ></span>
                </div>
        <div class="card-item">
        <div [formGroup]="form" [ngClass]="{'highlighted': item.card.data.isSelected}">
            <label class="checkbox" (click)="checkData($event, item, 'card')">
                <input type="checkbox"
                    hide
                    [formControlName]="item.card.key"
                    [id]="item.card.key"
                >
                <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                </span>
                {{item.card.label}}
            </label>
        </div>
    </div>

        <div *ngIf="item.restrictRegistrationFiling && flagToDisplayTheRightSide"
             class="tree-elements"
             [hidden]="!item.openFolder"
             [ngClass]="{'highlighted': item.restrictRegistrationFiling.data.isSelected}">
             <div [formGroup]="form">
                 <label class="checkbox"
                        (click)="checkData($event, item, 'restrict')">
                     <input type="checkbox"
                         hide
                         [formControlName]="item.restrictRegistrationFiling.key"
                         [id]="item.restrictRegistrationFiling.key"
                     >
                     <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                     </span>
                     {{item.restrictRegistrationFiling.label}}
                 </label>
             </div>
             </div>
        <div *ngIf="item.documents && flagToDisplayTheRightSide"
             class="tree-elements"
             [hidden]="!item.openFolder">
             <div *ngFor="let item2 of item.documents"
                  [ngClass]="{'highlighted': allDocuments[item2.INDEX_FOR_SELECT].data.isSelected}">
             <div [formGroup]="form">
                 <label class="checkbox"
                        (click)="checkData($event, item2, 'documents')">
                     <input type="checkbox"
                         hide
                         [formControlName]="item2.DUE_DOCUMENT"
                         [id]="item2.DUE_DOCUMENT"
                     >
                     <span class="eos-icon eos-icon-checkbox-square-blue x-small">
                     </span>
                     {{item2.NAME}}
                 </label>
             </div>
             </div>
             </div>
</div>
</div>
</div>
</div>
</div>
<div *ngIf="!flagCardFileAvailability">
<h1 class="warning-record">Отсутствуют картотеки!</h1>
</div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading && flagCardFileAvailability">
        <eos-spinner [size]="'lg'"></eos-spinner>
</div>