.input-user-card-index-rights-wrapper {
    .left-block-list-side {
        display: inline-block;
        width: 45%;
        max-height: 70vh;
        border: 1px solid $border-color-main-theme;
        overflow-x: auto;
        overflow-y: auto;
        margin-bottom: 20px;
    }
    .right-block-list-side {
        display: inline-block;
        width: 50%;
        list-style: none;
        vertical-align: top;
        border: 1px solid $border-color-main-theme;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .right-side {
        display: inline-block;
        list-style: none;
        vertical-align: top;
        max-height: 70vh;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .toolbar-line {
        height: 4vh;
    }
    .content-list {
        width: 100%;
        max-height: 66vh;
        overflow-x: auto;
        overflow-y: auto;
    }
    .warning-record {
        text-align: center;
        color: #f44336;
    }
    .tree-elements {
        margin-left: 15%;
    }
    .card-item {
      float: right;
      width: 90%;
      vertical-align: top;
    }
    .item-card {
        position: relative;
        width: 100%;
    }
    .list-card-files {
        list-style: none;
    }
    .list-group-item {
        background: $light-grey-1;
        cursor: pointer;
        &:focus {
            background: #176ab7;
            outline: none;
        }
        &.active-element-param {
            background: #176ab7;
          //  background: $highlight-color-main-theme;
        }
    }
    label {
        font-size: 12px;
    }

    .list-card-index-rights {
        list-style: none;
        line-height: 32px;
        margin: 0;
    }

    .hiden-btn {
        display: none;
    }

    .hover-boolean-card-files:indeterminate {
        background: #542ac7;
    }

    .inline-block {
        display: inline-block;
    }

    .select-wrap {
        margin-left: 10px;
        margin-right: 40px;
    }

    .number-increment-wrap {
        display: inline-block;

    }

    .label-input-increment {
        display: block;
        margin-bottom: -4px;
    }

    .select-wrap, .number-increment-wrap {

        .form-group {
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 15px;
    }

    .elem-input-radio {
        font-size: 14px;
        display: inline-block;
        margin-right: 30px;
    }

    .param-input-group-section {
        padding-left: 30px;

        .elem-input-radio {
            margin-right: 90px;
        }
    }
}
