<div class="input-user-wrapper input-user-card-index-rights-wrapper" *ngIf="!isLoading">
        <eos-rights-delo-header
        title="Права в картотеках"
        (submitForm)="submit()"
        (cancelForm)="cancel()"
        [statusBtnSub]="btnDisabled"
    ></eos-rights-delo-header>
    <div class="user-input-group">
<div class="left-block-list-side">
<select class="form-control m-font" (change)="selectInputOnChange($event)">
    <option *ngFor="let opt of fieldsForSelect" [value]="opt.DUE">{{opt.CARD_NAME}}</option>
</select>
<div *ngFor="let item of listNode" (click)="selectNode(item)">
<eos-dynamic-input
    [ngClass]="{'highlighted': item.data.isSelected}"
    [input]="inputs[item.key]"
    [form]="form"
    [readonly]="false"
></eos-dynamic-input>
</div>
</div>
<!--<div class="right-block-list-side"></div>-->
</div>
</div>

<div class="spinner-wrapper" *ngIf="isLoading">
        <eos-spinner [size]="'lg'"></eos-spinner>
</div>
