<div class="eos-dictionary-search">
    <div [popover]="searchModal"
        containerClass="full-search-popover"
        class="search-btn-wraper"
        placement="bottom"
        #full="bs-popover"
        [outsideClick]="true">
        <button [ngClass]="{'hidden': !hasFull, 'opened': isActiveButton()}"
            class="btn btn-primary-light search-btn"
            tooltip="Расширенный поиск"
            placement="bottom"
            container="body"
            containerClass="tooltip-info"
            (click)="autoFocus()">
            <i [hidden]="isActiveButton()" class="eos-icon eos-icon-filter-blue small" aria-hidden="true"></i>
            <i [hidden]="!isActiveButton()" class="eos-icon eos-icon-filter-white small" aria-hidden="true"></i>
        </button>
    </div>
    <div class="search-btn-wraper"
        tooltip="Быстрый поиск"
        placement="bottom"
        container="body"
        containerClass="tooltip-info"
        [isDisabled]="quickSrchObj.isOpenQuick">
        <button [ngClass]="{'hidden': !hasQuick, 'opened': quickSrchObj.isOpenQuick}"
            class="btn btn-primary-light search-btn quick-search-btn"
            containerClass="quick-search-popover"
            placement="left"
            (click)="showFastSrch()">
            <i [hidden]="quickSrchObj.isOpenQuick" class="eos-icon eos-icon-search-blue small" aria-hidden="true"></i>
            <i [hidden]="!quickSrchObj.isOpenQuick" class="eos-icon eos-icon-search-white small" aria-hidden="true"></i>
        </button>
    </div>
</div>

<ng-template #searchModal>
    <div class="full-search-top usual-border">
        <span class="pull-left title xl-font">Область поиска</span>
        <div class="pull-right srch-btns">
            <button [disabled]="noSearchData"
                class="btn btn-primary s-font upper"
                (click)="clearForm()">Сбросить</button>
            <button [disabled]="noSearchData"
                (click)="fullSearch()"
                class="btn btn-primary-full s-font upper">Найти</button>
        </div>
    </div>
    <div class="full-search-settings-container usual-border">
        <div *ngIf="dictId!=='cabinet'">
            <label class="radio-inline"><input type="radio" name="full-space" [value]="0" [(ngModel)]="mode"><span></span><span class="m-font">Во всём справочнике</span></label>
            <label class="radio-inline"><input type="radio" name="full-space" [value]="1" [(ngModel)]="mode"><span></span><span class="m-font">В текущей ветке</span></label>
            <label class="radio-inline"><input type="radio" name="full-space" [value]="2" [(ngModel)]="mode"><span></span><span class="m-font">Текущая и подчиненные</span></label>
        </div>
        <div class="line">
            <label class="checkbox-inline"><input type="checkbox" name="seeDelete" [(ngModel)]="settings.deleted"><span></span><span class="m-font">Учитывать логически удаленные</span></label>
        </div>
    </div>

    <!--FOR reshen-->
    <div [hidden]="dictId !== 'reshen' && dictId !== 'user_param'"
        class="full-search-form">
        <form id="reshen">
            <div class="form-group unimportant-text">
                <label class="s-font"
                    for="title">{{fieldsDescription.rec['CLASSIF_NAME']?.title}}</label>
                <div class="search-fld">
                    <input id="title"
                        name="title"
                        type="text"
                        class="form-control light"
                        [(ngModel)]="searchModel['CLASSIF_NAME']"
                        placeholder="..."
                        maxlength="{{fieldsDescription.rec['CLASSIF_NAME']?.length}}">
                    <a class="clear-btn"
                        [ngClass]="{'hide': !searchModel['CLASSIF_NAME']}"
                        (click)="searchModel['CLASSIF_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                </div>
            </div>
            <div class="form-group unimportant-text">
                <label class="s-font"
                    for="note">{{fieldsDescription.rec['NOTE']?.title}}</label>
                <div class="search-fld">
                    <input id="note"
                        name="note"
                        type="text"
                        class="form-control light"
                        [(ngModel)]="searchModel['NOTE']"
                        placeholder="..."
                        maxlength="{{fieldsDescription.rec['NOTE']?.length}}">
                    <a class="clear-btn"
                        [ngClass]="{'hide': !searchModel['NOTE']}"
                        (click)="searchModel['NOTE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                </div>
            </div>
        </form>
    </div>

    <!--FOR Departments-->
    <div [hidden]="dictId !== 'departments' && dictId !== 'user_param'"
        class="full-search-form">
        <div *ngIf="modes"
            class="tabs-wrapper usual-border">
            <ul class="tabs">
                <li class="tab-item"
                    *ngFor="let tab of modes"
                    role="presentation"
                    [ngClass]="{'active secondary-text': tab.key === currTab}"
                    (click)="setTab(tab.key)">
                    <span class="tab-title">{{tab.title}}</span>
                </li>
            </ul>
        </div>
        <div *ngIf="currTab === 'person'"
            class="row">
            <form id="person">
                <button [disabled]="noSearchData"
                    type="submit"
                    (click)="fullSearch()"
                    class="hidden-submit">Найти</button>
                <div class="first-col margin-r">
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="CODE_PERSON">{{fieldsDescription.rec['CODE']?.title}}</label>
                        <div class="search-fld">
                            <input id="CODE_PERSON"
                                name="CODE_PERSON"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['CODE']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['CODE']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['CODE']}"
                                (click)="searchModel['CODE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="PHONE">{{fieldsDescription.rec['PHONE']?.title}}</label>
                        <div class="search-fld">
                            <input id="PHONE"
                                name="PHONE"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['PHONE_LOCAL']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['PHONE']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['PHONE_LOCAL']}"
                                (click)="searchModel['PHONE_LOCAL'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="E_MAIL">{{fieldsDescription.rec['E_MAIL']?.title}}</label>
                        <div class="search-fld">
                            <input id="E_MAIL"
                                name="E_MAIL"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['E_MAIL']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['E_MAIL']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['E_MAIL']}"
                                (click)="searchModel['E_MAIL'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                </div>
                <div class="second-col">
                    <div class="form-group unimportant-text">
                        <label class="s-font" for="FIO">{{fieldsDescription.rec['SURNAME']?.title}}</label>
                        <div class="search-fld">
                            <input id="FIO"
                                   name="FIO"
                                   type="text"
                                   class="form-control light"
                                   [(ngModel)]="searchModel['SURNAME']"
                                   placeholder="...">
                            <a class="clear-btn"
                               [ngClass]="{'hide': !searchModel['SURNAME']}"
                               (click)="searchModel['SURNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="SURNAME">Фамилия</label>
                        <div class="search-fld">
                            <input id="SURNAME"
                                name="SURNAME"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['printInfo.SURNAME']"
                                placeholder="..."
                                maxlength="64">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['printInfo.SURNAME']}"
                                (click)="searchModel['printInfo.SURNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group unimportant-text margin-r col-250">
                            <label class="s-font"
                                for="NAME">Имя</label>
                            <div class="search-fld">
                                <input id="NAME"
                                    name="NAME"
                                    type="text"
                                    class="form-control light"
                                    [(ngModel)]="searchModel['printInfo.NAME']"
                                    placeholder="..."
                                    maxlength="64">
                                <a class="clear-btn"
                                    [ngClass]="{'hide': !searchModel['printInfo.NAME']}"
                                    (click)="searchModel['printInfo.NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                            </div>
                        </div>
                        <div class="form-group unimportant-text col-250">
                            <label class="s-font"
                                for="PATRON">Отчество</label>
                            <div class="search-fld">
                                <input id="PATRON"
                                    name="PATRON"
                                    type="text"
                                    class="form-control light"
                                    [(ngModel)]="searchModel['printInfo.PATRON']"
                                    placeholder="..."
                                    maxlength="64">
                                <a class="clear-btn"
                                    [ngClass]="{'hide': !searchModel['printInfo.PATRON']}"
                                    (click)="searchModel['printInfo.PATRON'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group unimportant-text margin-r col-250">
                            <label class="s-font"
                                for="DUTY">{{fieldsDescription.rec['DUTY']?.title}}</label>
                            <div class="search-fld">
                                <input id="DUTY"
                                    name="DUTY"
                                    type="text"
                                    class="form-control light"
                                    [(ngModel)]="searchModel['DUTY']"
                                    placeholder="..."
                                    maxlength="{{fieldsDescription.rec['DUTY']?.length}}">
                                <a class="clear-btn"
                                    [ngClass]="{'hide': !searchModel['DUTY']}"
                                    (click)="searchModel['DUTY'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                            </div>
                        </div>
                        <!-- <div class="form-group unimportant-text col-250">
                            <label class="s-font"
                                for="fullPosition">{{fieldsDescription.rec['fullPosition']?.title}}</label>
                            <div class="search-fld">
                                <input id="fullPosition"
                                    name="fullPosition"
                                    type="text"
                                    class="form-control light"
                                    [(ngModel)]="searchModel['FULLNAME']"
                                    placeholder="{{fieldsDescription.rec['fullPosition']?.title}}"
                                    maxlength="{{fieldsDescription.rec['fullPosition']?.length}}">
                                <a class="clear-btn"
                                    [ngClass]="{'hide': !searchModel['FULLNAME']}"
                                    (click)="searchModel['FULLNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                            </div>
                        </div> -->
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="PERSON_NOTE">{{fieldsDescription.rec['NOTE']?.title}}</label>
                        <div class="search-fld">
                            <input id="PERSON_NOTE"
                                name="PERSON_NOTE"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['NOTE']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['NOTE']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['NOTE']}"
                                (click)="searchModel['NOTE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="currTab === 'cabinet'"
            class="row">
            <form id="cabinet">
                <button [disabled]="noSearchData"
                    type="submit"
                    (click)="fullSearch()"
                    class="hidden-submit">Найти</button>
                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="titleRoom">{{fieldsDescription.rec['titleRoom']?.title}}</label>
                    <div class="search-fld">
                        <input id="titleRoom"
                            name="titleRoom"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['CABINET_NAME']"
                            placeholder="...">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['CABINET_NAME']}"
                            (click)="searchModel['CABINET_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
                <div class="form-group unimportant-text">
                    <label class="s-font"
                           for="fullCabinet">{{fieldsDescription.rec['fullCabinet']?.title}}</label>
                    <div class="search-fld">
                        <input id="fullCabinet"
                               name="fullCabinet"
                               type="text"
                               class="form-control light"
                               [(ngModel)]="searchModel['fullCabinet']"
                               placeholder="...">
                        <a class="clear-btn"
                           [ngClass]="{'hide': !searchModel['fullCabinet']}"
                           (click)="searchModel['fullCabinet'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="currTab === 'department'"
            class="row">
            <form id="department">
                <button [disabled]="noSearchData"
                    type="submit"
                    (click)="fullSearch()"
                    class="hidden-submit">Найти</button>
                <div class="first-col margin-r">
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="CODE">{{fieldsDescription.rec['CODE']?.title}}</label>
                        <div class="search-fld">
                            <input id="CODE"
                                name="CODE"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['CODE']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['CODE']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['CODE']}"
                                (click)="searchModel['CODE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="indexDep">{{fieldsDescription.rec['indexDep']?.title}}</label>
                        <div class="search-fld">
                            <input id="indexDep"
                                name="indexDepcode"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['DEPARTMENT_INDEX']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['indexDep']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['DEPARTMENT_INDEX']}"
                                (click)="searchModel['DEPARTMENT_INDEX'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                </div>
                <div class="second-col">
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="title">{{fieldsDescription.rec['nametitle']?.title}}</label>
                        <div class="search-fld">
                            <input id="title"
                                name="title"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['CLASSIF_NAME']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['nametitle']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['CLASSIF_NAME']}"
                                (click)="searchModel['CLASSIF_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="fullTitle">{{fieldsDescription.rec['fullTitle']?.title}}</label>
                        <div class="search-fld">
                            <input id="fullTitle"
                                name="fullTitle"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['FULLNAME']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['fullTitle']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['FULLNAME']}"
                                (click)="searchModel['FULLNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                    <div class="form-group unimportant-text">
                        <label class="s-font"
                            for="DEPARTMENT_NOTE">{{fieldsDescription.rec['NOTE']?.title}}</label>
                        <div class="search-fld">
                            <input id="DEPARTMENT_NOTE"
                                name="DEPARTMENT_NOTE"
                                type="text"
                                class="form-control light"
                                [(ngModel)]="searchModel['NOTE']"
                                placeholder="..."
                                maxlength="{{fieldsDescription.rec['NOTE']?.length}}">
                            <a class="clear-btn"
                                [ngClass]="{'hide': !searchModel['NOTE']}"
                                (click)="searchModel['NOTE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--FOR Docgroups-->
    <div [hidden]="dictId !== 'docgroup'"
        *ngIf="searchModel"
        class="row full-search-form">
        <form id="docgroup">
            <button [disabled]="noSearchData"
                type="submit"
                (click)="fullSearch()"
                class="hidden-submit">Найти</button>
                <div class="form-group unimportant-text">
                    <label class="s-font"
                           for="docCode">{{fieldsDescription.rec['CODE']?.title}}</label>
                    <div class="search-fld">
                        <input id="docCode"
                               name="docCode"
                               type="text"
                               class="form-control light"
                               [(ngModel)]="searchModel['CODE']"
                               placeholder="..."
                               maxlength="{{fieldsDescription.rec['CODE']?.length}}">
                        <a class="clear-btn"
                           [ngClass]="{'hide': !searchModel['CODE']}"
                           (click)="searchModel['CODE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="docName">{{fieldsDescription.rec['CLASSIF_NAME']?.title}}</label>
                    <div class="search-fld">
                        <input id="docName"
                            name="docName"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['CLASSIF_NAME']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['CLASSIF_NAME']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['CLASSIF_NAME']}"
                            (click)="searchModel['CLASSIF_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>

                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="docFullTitle">{{fieldsDescription.rec['FULLNAME']?.title}}</label>
                    <div class="search-fld">
                        <input id="docFullTitle"
                            name="docFullTitle"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['FULLNAME']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['FULLNAME']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['FULLNAME']}"
                            (click)="searchModel['FULLNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
                <div class="form-group unimportant-text">
                    <label class="s-font" for="docIndex">{{fieldsDescription.rec['DOCGROUP_INDEX']?.title}}</label>
                    <div class="search-fld">
                        <input id="docIndex"
                               name="docIndex"
                               type="text"
                               class="form-control light"
                               [(ngModel)]="searchModel['DOCGROUP_INDEX']"
                               placeholder="..."
                               maxlength="{{fieldsDescription.rec['DOCGROUP_INDEX']?.length}}">
                        <a class="clear-btn"
                           [ngClass]="{'hide': !searchModel['DOCGROUP_INDEX']}"
                           (click)="searchModel['DOCGROUP_INDEX'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="docNote">{{fieldsDescription.rec['NOTE']?.title}}</label>
                    <div class="search-fld">
                        <input id="docNote"
                            name="docNote"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['NOTE']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['NOTE']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['NOTE']}"
                            (click)="searchModel['NOTE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
        </form>
    </div>

    <!--FOR Rubricator-->
    <div [hidden]="dictId !== 'rubricator'"
        class="row full-search-form">
        <form id="rubricator">
            <button [disabled]="noSearchData"
                type="submit"
                (click)="fullSearch()"
                class="hidden-submit">Найти</button>
            <div class="first-col margin-r">
                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="code">{{fieldsDescription.rec['RUBRIC_CODE']?.title}}</label>
                    <div class="search-fld">
                        <input id="code"
                            name="code"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['RUBRIC_CODE']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['RUBRIC_CODE']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['RUBRIC_CODE']}"
                            (click)="searchModel['RUBRIC_CODE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
            </div>
            <div class="second-col">
                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="title">{{fieldsDescription.rec['CLASSIF_NAME']?.title}}</label>
                    <div class="search-fld">
                        <input id="title"
                            name="title"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['CLASSIF_NAME']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['CLASSIF_NAME']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['CLASSIF_NAME']}"
                            (click)="searchModel['CLASSIF_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>

                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="fullTitle">{{fieldsDescription.rec['FULLNAME']?.title}}</label>
                    <div class="search-fld">
                        <input id="fullTitle"
                            name="fullTitle"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['FULLNAME']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['FULLNAME']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['FULLNAME']}"
                            (click)="searchModel['FULLNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
                <div class="form-group unimportant-text">
                    <label class="s-font"
                        for="note">{{fieldsDescription.rec['NOTE']?.title}}</label>
                    <div class="search-fld">
                        <input id="note"
                            name="note"
                            type="text"
                            class="form-control light"
                            [(ngModel)]="searchModel['NOTE']"
                            placeholder="..."
                            maxlength="{{fieldsDescription.rec['NOTE']?.length}}">
                        <a class="clear-btn"
                            [ngClass]="{'hide': !searchModel['NOTE']}"
                            (click)="searchModel['NOTE'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--FOR Regions-->
    <div [hidden]="dictId !== 'region'"
        class="row full-search-form">
        <form id="region">
            <button [disabled]="noSearchData"
                type="submit"
                (click)="fullSearch()"
                class="hidden-submit">Найти</button>

            <!--
                <div class="form-group unimportant-text">
                    <label class="s-font" for="code" >{{fieldsDescription.rec['CODE']?.title}}</label>
                    <input id="code" name="code" type="text" class="form-control"
                        [(ngModel)]="searchModel['CODE']"
                        placeholder="{{fieldsDescription.rec['CODE']?.title}}"
                        maxlength="{{fieldsDescription.rec['CODE']?.length}}">
                </div>
                -->
            <!--
                <div class="form-group unimportant-text">
                    <label class="s-font" for="cod-okato" >{{fieldsDescription.rec['COD_OKATO']?.title}}</label>
                    <input id="cod-okato" name="cod-okato" type="text" class="form-control"
                        [(ngModel)]="searchModel['COD_OKATO']"
                        placeholder="{{fieldsDescription.rec['COD_OKATO']?.title}}"
                        maxlength="{{fieldsDescription.rec['COD_OKATO']?.length}}">
                </div>
                -->
            <div class="form-group unimportant-text">
                <label class="s-font"
                    for="name">{{fieldsDescription.rec['CLASSIF_NAME']?.title}}</label>
                <div class="search-fld">
                    <input id="name"
                        name="name"
                        type="text"
                        class="form-control"
                        [(ngModel)]="searchModel['CLASSIF_NAME']"
                        placeholder="..."
                        maxlength="{{fieldsDescription.rec['CLASSIF_NAME']?.length}}">
                    <a class="clear-btn"
                        [ngClass]="{'hide': !searchModel['CLASSIF_NAME']}"
                        (click)="searchModel['CLASSIF_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                </div>
            </div>
            <!--
                <div class="form-group unimportant-text">
                    <label class="s-font" for="note" >{{fieldsDescription.rec['NOTE']?.title}}</label>
                    <input id="note" name="note" type="text" class="form-control"
                        [(ngModel)]="searchModel['NOTE']"
                        placeholder="{{fieldsDescription.rec['NOTE']?.title}}"
                        maxlength="{{fieldsDescription.rec['NOTE']?.length}}">
                </div>
                -->
        </form>
    </div>
    <!--FOR Cabinets-->
    <div [hidden]="dictId !== 'cabinet'"
        *ngIf="searchModel"
        class="row full-search-form">
        <form id="cabinet">
            <button [disabled]="noSearchData"
                type="submit"
                (click)="fullSearch()"
                class="hidden-submit">Найти</button>
            <div class="form-group unimportant-text">
                <label class="s-font"
                    for="name">{{fieldsDescription.rec['CABINET_NAME']?.title}}</label>
                <div class="search-fld">
                    <input id="name"
                        name="name"
                        type="text"
                        class="form-control"
                        [(ngModel)]="searchModel['CABINET_NAME']"
                        placeholder="..."
                        maxlength="{{fieldsDescription.rec['CABINET_NAME']?.length}}">
                    <a class="clear-btn"
                        [ngClass]="{'hide': !searchModel['CABINET_NAME']}"
                        (click)="searchModel['CABINET_NAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                </div>
            </div>
            <div class="form-group unimportant-text">
                <label class="s-font"
                    for="fullname">{{fieldsDescription.rec['FULLNAME']?.title}}</label>
                <div class="search-fld">
                    <input id="fullname"
                        name="fullname"
                        type="text"
                        class="form-control"
                        [(ngModel)]="searchModel['FULLNAME']"
                        placeholder="..."
                        maxlength="{{fieldsDescription.rec['FULLNAME']?.length}}">
                    <a class="clear-btn"
                        [ngClass]="{'hide': !searchModel['FULLNAME']}"
                        (click)="searchModel['FULLNAME'] = ''"><span class="eos-icon eos-icon-close-blue"></span></a>
                </div>
            </div>
        </form>
    </div>
</ng-template>
