.eos-nav-param {
    height: $breadcrumbs-height;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    position: relative;

    .pushpin {
        width: $item-width;
        height: $item-height - 2px;
        position: relative;
        right: 0;
        background: $block-color-main-theme;
        transition: right .3s;

        :focus {
            border: none;
        }
    }
}
